<template>
    <v-btn class="primary mx-0 mr-2 mt-2" :to="{name: `${profileType}Profile`, params: {id}}">
        <v-icon class="mr-2">fas fa-address-card</v-icon>
        {{ $t('views.Profile.labels.details') }}
    </v-btn>
</template>

<script>
export default {
  props: {
    id: Number,
    profileType: {
      type: String,
      default: 'user'
    }
  }
}
</script>

<style scoped>

</style>
