<template>
    <Dialog
        :maxWidth="800"
        icon="edit"
        :buttonText="$t('forms.basic.buttons.edit')"
        :title="$t('views.Profile.labels.editProfile')"
    >
        <edit-course-profile-dialog v-if="itemType === 'course'" :item="item" @updateItemData="updateItemData"/>
        <edit-unit-profile-dialog v-if="itemType === 'unit'" :avatar="avatar" :item="item" @updateItemData="updateItemData"/>
        <edit-lesson-profile-dialog v-if="itemType === 'lesson'" :item="item" @updateItemData="updateItemData"/>
        <edit-user-profile-dialog v-if="itemType === 'user'" :item="item" @updateItemData="updateItemData"/>
    </Dialog>
</template>

<script>
import EditCourseProfileDialog from '@/components/dialog/profile/EditCourseProfileDialog'
import EditUnitProfileDialog from '@/components/dialog/profile/EditUnitProfileDialog'
import EditLessonProfileDialog from '@/components/dialog/profile/EditLessonProfileDialog'
import EditUserProfileDialog from '@/components/dialog/profile/EditUserProfileDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    avatar: {
      type: [Object, String],
      default: ''
    },
    item: Object,
    itemType: {
      type: String,
      default: 'user'
    }
  },
  methods: {
    updateItemData (updatedData) {
      this.$emit('updateItemData', updatedData)
    }
  },
  components: {
    EditCourseProfileDialog,
    EditUnitProfileDialog,
    EditLessonProfileDialog,
    EditUserProfileDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
