<template>
    <Dialog
        :buttonText="$t('views.Profile.labels.readMore')"
        :flatButton="true"
        :maxWidth="800"
        :title="title"
    >
        <read-more-dialog :text="text"/>
    </Dialog>
</template>

<script>
import ReadMoreDialog from '@/components/dialog/profile/ReadMoreDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    text: String,
    title: String
  },
  components: {
    ReadMoreDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
