<template>
    <div>
        <p class="title mb-3">{{ $t('forms.confirmStudentsToEduUnit.text') }}</p>
        <message-alert
            class="mb-3"
            :messageDisplay="messageDisplay"
            :message="message"
            :messageType="messageType"
        />
        <div v-if="displayItems">
            <v-flex d-flex>
                <v-layout column>
                    <v-flex v-for="student in unitsItemsPending(unitId, 'students')" :key="student.id" py-3>
                        <item
                            :item="student"
                            :itemIcon="childItemIcon"
                            :itemProperties="childItemProperties"
                        >
                            <candidates-acceptance-decision @changeStatus="decision($event, student.id, 'student')"/>
                        </item>
                    </v-flex>
                </v-layout>
            </v-flex>
        </div>
        <message-alert
            class="mb-2"
            :messageDisplay="!displayItems"
            :message="$t('messages.info.NoStudentsPending')"
        />
    </div>
</template>

<script>
import {mapActions} from 'vuex'
import ItemListItem from '@/components/itemList/ItemListItem'
import {userAcceptance, managerUnits} from '@/mixins/eduUnits'
import {responses, delayedClearResponseMessage, setResponseMessage} from '@/mixins/form'
import {childItem} from '@/mixins/listItems'
const ActionUnitCandidatesAcceptanceDecision = () => import('@/components/action/eduUnits/ActionUnitCandidatesAcceptanceDecision')
const MessageAlert = () => import('@/components/message/MessageAlert')

export default {
  mixins: [
    userAcceptance,
    responses,
    delayedClearResponseMessage,
    setResponseMessage,
    managerUnits,
    childItem
  ],
  props: {
    displayItems: Boolean,
    unitId: Number
  },
  methods: {
    ...mapActions({
      changeStatus: 'educationalUnits/managerUnits/changeStatus'
    })
  },
  components: {
    CandidatesAcceptanceDecision: ActionUnitCandidatesAcceptanceDecision,
    Item: ItemListItem,
    MessageAlert
  }
}
</script>

<style scoped>

</style>
