<template>
    <v-form>
        <p class="title mb-3">{{ $t('forms.addChildToEduUnit.text') }}</p>
        <v-select
            v-model="formData.child"
            label="-----"
            :items="children"
            required
            solo
            @change="clearResponseMessage"
        >
            <template slot="selection" slot-scope="data">
                {{ `${data.item.firstName} ${data.item.lastName}` }}
            </template>
            <template slot="item" slot-scope="data">
                {{ `${data.item.firstName} ${data.item.lastName}` }}
            </template>
        </v-select>
        <form-response
            :messageDisplay="messageDisplay"
            :message="message"
            :messageType="messageType"
        />
        <v-layout row justify-center>
            <form-button :loading="loading" :text="$t('forms.basic.buttons.save')" @click.native="addChild"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import FormResponse from '@/components/form/FormResponse'
import EduUnitService from '@/services/EduUnitService'
import {children} from '@/mixins/children'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'

export default {
  mixins: [
    children,
    responses,
    clearResponseMessage,
    setResponseMessage
  ],
  props: {
    unitId: Number
  },
  data () {
    return {
      formData: {
        child: null
      },
      loading: false
    }
  },
  methods: {
    async addChild () {
      try {
        this.loading = true
        this.clearResponseMessage()
        if (!this.formData.child) {
          this.setResponseMessage(this.$t('messages.errors.NoChildSelected'), 'error')
          this.loading = false
          return
        }
        const response = await EduUnitService.addStudent(this.unitId, this.formData.child.id, 'child')
        this.setResponseMessage(response.data.message, response.data.type)
        this.loading = false
      } catch (error) {
        this.setResponseMessage(error.response.data.error.message, 'error')
        this.loading = false
      }
    }
  },
  components: {
    FormButton,
    FormResponse
  }
}
</script>

<style scoped>

</style>
