<template>
    <v-form>
        <p class="title mb-3">{{ $t('forms.joinToUnit.text') }}</p>
        <form-response
            :messageDisplay="messageDisplay"
            :message="message"
            :messageType="messageType"
        />
        <v-layout row justify-center>
            <form-button :loading="loading" :text="$t('forms.basic.buttons.confirm')" @click.native="joinToUnit"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import FormResponse from '@/components/form/FormResponse'
import EduUnitService from '@/services/EduUnitService'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {userId} from '@/mixins/user'

export default {
  mixins: [
    responses,
    clearResponseMessage,
    setResponseMessage,
    userId
  ],
  props: {
    unitId: Number
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    async joinToUnit () {
      try {
        this.loading = true
        this.clearResponseMessage()
        const response = await EduUnitService.addStudent(this.unitId, this.userId, 'parent')
        this.setResponseMessage(response.data.message, response.data.type)
        this.loading = false
      } catch (error) {
        this.setResponseMessage(error.response.data.error.message, 'error')
        this.loading = false
      }
    }
  },
  components: {
    FormButton,
    FormResponse
  }
}
</script>

<style scoped>

</style>
