<template>
    <v-form>
        <p class="title mb-3">{{ text }}</p>
        <v-layout row justify-center>
            <form-button :text="$t('forms.basic.buttons.confirm')" @click.native="changeStatus"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'

export default {
  props: {
    text: String
  },
  methods: {
    changeStatus () {
      this.$emit('setDialog', {dialogState: false, status: 'inactive'})
    }
  },
  components: {
    FormButton
  }
}
</script>

<style scoped>

</style>
