<template>
    <v-form ref="form">
        <form-subtitle>{{ $t('forms.eduUnitData.subtitles.requiredData') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.name"
                    :label="`${$t('forms.eduUnitData.labels.name')}*`"
                    :placeholder="$t('forms.eduUnitData.placeholders.name')"
                    :hint="$t('forms.eduUnitData.hints.name')"
                    :rules="unitNameRules"
                    counter="255"
                    prepend-icon="fas fa-university"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.email"
                    :label="`${$t('forms.eduUnitData.labels.email')}*`"
                    :placeholder="$t('forms.eduUnitData.placeholders.email')"
                    :hint="$t('forms.eduUnitData.hints.email')"
                    :rules="emailRules"
                    counter="255"
                    prepend-icon="fas fa-envelope"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.city"
                    :label="`${$t('forms.eduUnitData.labels.city')}*`"
                    :placeholder="$t('forms.eduUnitData.placeholders.city')"
                    :hint="$t('forms.eduUnitData.hints.city')"
                    :rules="cityRules"
                    counter="60"
                    prepend-icon="fas fa-city"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-select
                    v-model="formData.region"
                    :label="`${$t('forms.eduUnitData.labels.region')}*`"
                    :placeholder="$t('forms.eduUnitData.placeholders.region')"
                    :items="regions"
                    :rules="regionRules"
                    prepend-icon="fas fa-atlas"
                    required
                ></v-select>
            </v-flex>
        </v-layout>
        <p class="v-label body-1 mb-1" style="color: rgba(0,0,0,.54);">{{ `${$t('forms.eduUnitData.labels.unitType')}*` }}</p>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-radio-group class="mt-0" v-model="formData.type" :rules="unitTypeRules" mandatory required>
                    <v-tooltip class="radio" v-for="type in availableEduUnitTypes" :key="type.name" top>
                        <v-radio
                            class="mb-0"
                            :label="type.name"
                            :value="type.value"
                            slot="activator"
                        ></v-radio>
                        <span>{{ type.description }}</span>
                    </v-tooltip>
                </v-radio-group>
            </v-flex>
        </v-layout>
        <form-subtitle>{{ $t('forms.eduUnitData.subtitles.additionalData') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.address"
                    :label="$t('forms.eduUnitData.labels.address')"
                    :placeholder="$t('forms.eduUnitData.placeholders.address')"
                    :hint="$t('forms.eduUnitData.hints.address')"
                    :rules="addressRules"
                    counter="255"
                    prepend-icon="fas fa-map-signs"
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.bankAccount"
                    :label="$t('forms.eduUnitData.labels.bankAccount')"
                    :placeholder="$t('forms.eduUnitData.placeholders.bankAccount')"
                    :hint="$t('forms.eduUnitData.hints.bankAccount')"
                    :rules="bankAccountRules"
                    counter="26"
                    prepend-icon="fas fa-money-check-alt"
                    mask="## #### #### #### #### #### ####"
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row>
            <v-flex xs12>
                <v-textarea
                    v-model="formData.description"
                    :label="$t('forms.eduUnitData.labels.description')"
                    :hint="$t('forms.eduUnitData.hints.description')"
                    :rules="descriptionRules"
                    counter="1000"
                    prepend-icon="fas fa-pen-fancy"
                    box
                    auto-grow
                    clearable
                ></v-textarea>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.website"
                    :label="$t('forms.eduUnitData.labels.website')"
                    :placeholder="$t('forms.eduUnitData.placeholders.website')"
                    :hint="$t('forms.eduUnitData.hints.website')"
                    :rules="websiteRules"
                    counter="255"
                    prepend-icon="fas fa-globe"
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.facebook"
                    :label="$t('forms.eduUnitData.labels.facebook')"
                    :placeholder="$t('forms.eduUnitData.placeholders.facebook')"
                    :hint="$t('forms.eduUnitData.hints.facebook')"
                    :rules="facebookRules"
                    counter="255"
                    prepend-icon="fab fa-facebook"
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.phone"
                    :label="$t('forms.eduUnitData.labels.phone')"
                    :placeholder="$t('forms.eduUnitData.placeholders.phone')"
                    :hint="$t('forms.eduUnitData.hints.phone')"
                    :rules="phoneRules"
                    counter="15"
                    prepend-icon="fas fa-phone"
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <p class="v-label body-1 mb-1" style="color: rgba(0,0,0,.54);">{{ $t('forms.eduUnitData.subtitles.logo') }}</p>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12>
                <form-file-input
                    :description="$t('forms.eduUnitData.labels.logo')"
                    :file="formData.file"
                    :fileTypes="['image/png', 'image/jpeg']"
                    @fileError="setFileError"
                    @file="setFile"
                >
                    {{ $t('forms.eduUnitData.buttons.addImage') }}
                </form-file-input>
            </v-flex>
        </v-layout>
        <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
        <form-errors-list :errorListDisplay="!!errors || !!fileError" :errors="errors || fileError"/>
        <v-layout row wrap justify-center>
            <form-button :loading="loading" :text="$t('forms.eduUnitData.buttons.register')" @click.native="register"/>
            <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="reset"/>
        </v-layout>
    </v-form>
</template>

<script>
import {mapActions} from 'vuex'
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import FormSubtitle from '@/components/form/FormSubtitle'
import FormFileInput from '@/components/form/FormFileInput'
import {responses, clearResponseMessage, setResponseMessage, reset, setFileError, setFile} from '@/mixins/form'
import {address, bankAccount, city, description, email, facebook, phone, region, unitName, unitType, website} from '@/mixins/rules'
import {lang} from '@/mixins/lang'
import {eduUnitTypes} from '@/mixins/eduUnits'
import {userId} from '@/mixins/user'
import regions from '@/locale/regions/pl.json'

export default {
  mixins: [
    address,
    bankAccount,
    city,
    description,
    email,
    facebook,
    phone,
    region,
    unitName,
    unitType,
    website,
    lang,
    responses,
    reset,
    clearResponseMessage,
    setResponseMessage,
    setFileError,
    setFile,
    eduUnitTypes,
    userId
  ],
  data () {
    return {
      formData: {
        name: '',
        email: '',
        city: '',
        region: '',
        type: '',
        address: '',
        bankAccount: '',
        description: '',
        website: '',
        facebook: '',
        phone: '',
        file: ''
      },
      loading: false,
      errors: null,
      fileError: null
    }
  },
  computed: {
    regions () {
      return regions['pl']
    }
  },
  methods: {
    ...mapActions({
      createUnit: 'educationalUnits/managerUnits/createUnit'
    }),
    async register () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          if (!this.errors && !this.fileError) {
            this.formData.userId = this.userId
            const {message, type} = await this.createUnit(this.formData)
            this.setResponseMessage(message, type)
            this.reset()
            this.loading = false
          }
        }
      } catch (error) {
        this.errors = error
        this.loading = false
      }
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse,
    FormSubtitle,
    FormFileInput
  }
}
</script>

<style scoped>

</style>
