<template>
    <div>
        <message-alert
            :messageDisplay="units.length === 0"
            :message="$t('messages.info.NoManagerUnits')"
        />
        <div v-if="units.length > 0">
            <v-expansion-panel class="filter-panel mx-auto mb-3">
                <v-expansion-panel-content>
                    <div class="text-xs-center font-weight-bold text-uppercase title" slot="header">
                        {{ $t('views.Lessons.tabs[0].headings.coursesFilterPanel') }}
                    </div>
                    <v-card>
                        <v-card-text class="px-2">
                            <v-layout row>
                                <v-select
                                    class="select_item-width mx-auto"
                                    :height="58"
                                    label="-----"
                                    required
                                    :items="units"
                                    :default="units[0]"
                                    solo
                                    v-model="unit"
                                >
                                    <template slot="selection" slot-scope="data">
                                        {{ `${data.item.name}` }}
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        {{ `${data.item.name}` }}
                                    </template>
                                </v-select>
                            </v-layout>
                            <v-layout row>
                                <v-radio-group class="mt-0" v-model="coursesStatus" mandatory>
                                    <v-radio
                                        v-for="type in statusTypes"
                                        :label="type.name"
                                        :value="type.value"
                                        :key="type.value"
                                    ></v-radio>
                                </v-radio-group>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <div v-if="unit && coursesStatus !== 'inactive'" class="text-xs-center mb-2">
                <course-registration :unit="unit"/>
            </div>
            <message-alert
                class="mb-3"
                :messageDisplay="messageDisplay"
                :message="message"
                :messageType="messageType"
            />
            <message-alert
                :messageDisplay="totalCourses === 0"
                :message="noItemMessage"
            />
            <div v-if="totalCourses > 0">
                <v-flex d-flex>
                    <v-layout justify-space-around row wrap>
                        <v-flex v-for="course in paginatedCourses" :key="course.id" xs12 lg5 px-0 py-3>
                            <item
                                :item="course"
                                :itemIcon="courseItemIcon"
                                :itemHeader="setCardHeader(course.title)"
                                :itemProperties="courseItemProperties"
                            >
                                <visit-profile :id="course.id" profileType="course"/>
                                <change-course-status
                                    :courseStatus="course.isActive"
                                    @changeItemStatus="decision($event, course.id)"
                                />
                                <add-student
                                    v-if="course.isActive"
                                    :course="course"
                                    :unit="unit"
                                />
                            </item>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <pagination
                    v-if="totalCourses > rowsQuantity"
                    @setPage="setPage"
                    :paginationLength="paginationLength(rowsQuantity)"
                    :paginationPage="page"
                />
            </div>
        </div>
    </div>
</template>

<script>
import {setCardHeader} from '@/mixins/card'
import {paginationSetup} from '@/mixins/pagination'
import {responses, delayedClearResponseMessage, setResponseMessage} from '@/mixins/form'
import {fetchUnitCourses} from '@/mixins/api'
import {myCourses} from '@/mixins/lessons'
import {courseItem} from '@/mixins/listItems'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const ActionAddStudent = () => import('@/components/action/lessons/ActionAddStudent')
const ActionChangeCourseStatus = () => import('@/components/action/lessons/ActionChangeCourseStatus')
const ActionCourseRegistration = () => import('@/components/action/lessons/ActionCourseRegistration')
const ItemListItem = () => import('@/components/itemList/ItemListItem')
const MessageAlert = () => import('@/components/message/MessageAlert')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    setCardHeader,
    paginationSetup,
    responses,
    delayedClearResponseMessage,
    setResponseMessage,
    fetchUnitCourses,
    myCourses,
    courseItem
  ],
  data () {
    return {
      unit: null,
      paginatedCourses: [],
      rowsQuantity: 10,
      statusTypes: [
        {name: this.$t('views.Lessons.coursesStatusTypes[0]'), value: 'all'},
        {name: this.$t('views.Lessons.coursesStatusTypes[1]'), value: 'active'},
        {name: this.$t('views.Lessons.coursesStatusTypes[2]'), value: 'inactive'}
      ],
      coursesStatus: 'active'
    }
  },
  computed: {
    noItemMessage () {
      if (this.courseStatus === 'all') {
        return this.$t('messages.info.NoUnitCourses')
      } else if (this.courseStatus === 'active') {
        return this.$t('messages.info.NoUnitActiveCourses')
      } else {
        return this.$t('messages.info.NoUnitInactiveCourses')
      }
    }
  },
  methods: {
    async decision (status, courseId) {
      try {
        const {message, type} = await this.changeStatus({courseId, unitId: this.unit.id, listStatus: this.coursesStatus, status})
        this.setResponseMessage(message, type)
        this.clearResponseMessage()
      } catch (error) {
        this.setResponseMessage(error, 'error')
        this.clearResponseMessage()
      }
    },
    setPage (page) {
      this.page = page
      this.paginatedCourses = this.pageCourses(page, this.rowsQuantity)
    }
  },
  watch: {
    courses () {
      this.paginatedCourses = this.pageCourses(this.page, this.rowsQuantity)
    },
    async coursesStatus () {
      await this.fetchCourses({unitId: this.unit.id, status: this.coursesStatus})
    },
    async unit () {
      if (this.unit) {
        await this.fetchCourses({unitId: this.unit.id, status: this.coursesStatus})
      }
    }
  },
  components: {
    VisitProfile: ActionVisitProfile,
    AddStudent: ActionAddStudent,
    ChangeCourseStatus: ActionChangeCourseStatus,
    CourseRegistration: ActionCourseRegistration,
    Item: ItemListItem,
    MessageAlert,
    Pagination
  }
}
</script>

<style scoped>

</style>
