<template>
    <div>
        <v-expansion-panel class="filter-panel mx-auto mb-3">
            <v-expansion-panel-content>
                <div class="text-xs-center font-weight-bold text-uppercase title" slot="header">
                    {{ $t('views.Lessons.tabs[0].headings.lessonsFilterPanel') }}
                </div>
                <v-card>
                    <v-card-text class="px-2">
                        <v-layout row>
                            <v-radio-group class="mt-0" v-model="lessonsStatus" mandatory>
                                <v-radio
                                    v-for="type in statusTypes"
                                    :label="type.name"
                                    :value="type.value"
                                    :key="type.value"
                                ></v-radio>
                            </v-radio-group>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-expansion-panel-content>
        </v-expansion-panel>
        <calendar :lessons="lessons" @updateLessons="updateLessons" role="teacher"/>
    </div>
</template>

<script>
import Calendar from '@/components/calendar/Calendar'
import {fetchLessons, fetchTeacherLessons} from '@/mixins/api'
import {lessons, teacherLessons} from '@/mixins/lessons'

export default {
  mixins: [
    fetchLessons,
    fetchTeacherLessons,
    lessons,
    teacherLessons
  ],
  components: {
    Calendar
  }
}
</script>

<style scoped>

</style>
