<template>
    <div>
        <message-alert
            :messageDisplay="units.length === 0"
            :message="$t('messages.info.NoManagerUnits')"
        />
        <div v-if="units.length > 0">
            <v-expansion-panel class="filter-panel mx-auto mb-3">
                <v-expansion-panel-content>
                    <div class="text-xs-center font-weight-bold text-uppercase title" slot="header">
                        {{ $t('views.Lessons.tabs[0].headings.coursesFilterPanel') }}
                    </div>
                    <v-card>
                        <v-card-text class="px-2">
                            <v-layout row>
                                <v-select
                                    class="select_item-width mx-auto"
                                    :height="58"
                                    label="-----"
                                    :items="units"
                                    :default="units[0]"
                                    solo
                                    v-model="unit"
                                    required
                                >
                                    <template slot="selection" slot-scope="data">
                                        {{ `${data.item.name}` }}
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        {{ `${data.item.name}` }}
                                    </template>
                                </v-select>
                            </v-layout>
                            <v-layout row>
                                <v-radio-group class="mt-0" v-model="lessonsStatus" mandatory>
                                    <v-radio
                                        v-for="type in statusTypes"
                                        :label="type.name"
                                        :value="type.value"
                                        :key="type.value"
                                    ></v-radio>
                                </v-radio-group>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <calendar :lessons="lessons" role="manager" @updateLessons="updateLessons"/>
        </div>
    </div>
</template>

<script>
import MessageAlert from '@/components/message/MessageAlert'
import Calendar from '@/components/calendar/Calendar'
import {fetchUnitLessons} from '@/mixins/api'
import {lessons, unitLessonsSchedule} from '@/mixins/lessons'

export default {
  mixins: [
    fetchUnitLessons,
    lessons,
    unitLessonsSchedule
  ],
  data () {
    return {
      unit: null
    }
  },
  methods: {
    async updateLessons (newDate) {
      await this.fetchLessons({
        unitId: this.unit.id,
        queryData: {
          startDate: this.$moment(newDate).subtract(1, 'months').hours(0).minutes(0).seconds(0).toISOString(),
          endDate: this.$moment(newDate).add(1, 'months').hours(23).minutes(59).seconds(59).toISOString(),
          status: this.lessonsStatus
        }
      })
    }
  },
  watch: {
    async unit () {
      await this.fetchLessons({
        unitId: this.unit.id,
        queryData: {
          startDate: this.$moment().subtract(1, 'months').hours(0).minutes(0).seconds(0).toISOString(),
          endDate: this.$moment().add(1, 'months').hours(23).minutes(59).seconds(59).toISOString(),
          status: this.lessonsStatus
        }
      })
    }
  },
  components: {
    MessageAlert,
    Calendar
  }
}
</script>

<style scoped>

</style>
