<template>
    <v-flex d-flex>
        <v-layout column>
            <tab-wrapper :items="tabItems" :filter="filterTabItems">
                <my-courses :slot="tabItems[0].title"/>
                <unit-lessons-schedule :slot="tabItems[1].title"/>
                <teacher-lessons :slot="tabItems[2].title"/>
                <my-lessons :slot="tabItems[3].title"/>
                <children-lessons :slot="tabItems[4].title"/>
                <search-courses :slot="tabItems[5].title"/>
            </tab-wrapper>
        </v-layout>
    </v-flex>
</template>

<script>
import TabWrapper from '@/components/tab/TabWrapper'
import {filterTabItems, roles} from '@/mixins/user'
const ViewLessonsChildrenLessons = () => import('@/views/lessons/ViewLessonsChildrenLessons')
const ViewLessonsMyCourses = () => import('@/views/lessons/ViewLessonsMyCourses')
const ViewLessonsMyLessons = () => import('@/views/lessons/ViewLessonsMyLessons')
const ViewLessonsSearchCourses = () => import('@/views/lessons/ViewLessonsSearchCourses')
const ViewLessonsTeacherLessons = () => import('@/views/lessons/ViewLessonsTeacherLessons')
const ViewLessonsUnitLessonsSchedule = () => import('@/views/lessons/ViewLessonsUnitLessonsSchedule')

export default {
  mixins: [filterTabItems, roles],
  data () {
    return {
      tabItems: [
        {title: 'MyCourses', localePath: 'views.Lessons.tabs[0].title', roleRightsLvl: 'manager'},
        {title: 'LessonsSchedule', localePath: 'views.Lessons.tabs[1].title', roleRightsLvl: 'manager'},
        {title: 'TeacherLessons', localePath: 'views.Lessons.tabs[2].title', roleRightsLvl: 'teacher'},
        {title: 'MyLessons', localePath: 'views.Lessons.tabs[3].title', roleRightsLvl: 'all'},
        {title: 'ChildrenLessons', localePath: 'views.Lessons.tabs[4].title', roleRightsLvl: 'parent'},
        {title: 'SearchCourses', localePath: 'views.Lessons.tabs[5].title', roleRightsLvl: 'parent'}
      ]
    }
  },
  components: {
    MyCourses: ViewLessonsMyCourses,
    UnitLessonsSchedule: ViewLessonsUnitLessonsSchedule,
    TeacherLessons: ViewLessonsTeacherLessons,
    MyLessons: ViewLessonsMyLessons,
    ChildrenLessons: ViewLessonsChildrenLessons,
    SearchCourses: ViewLessonsSearchCourses,
    TabWrapper
  }
}
</script>

<style scoped>

</style>
