<template>
    <v-app>
        <v-container fluid pa-0>
            <v-layout column>
                <app-header/>
                <v-content class="content--height">
                    <router-view/>
                </v-content>
                <app-footer/>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
import AppHeader from '@/components/app/AppHeader'
import AppFooter from '@/components/app/AppFooter'

export default {
  data () {
    return {}
  },
  components: {
    AppHeader,
    AppFooter
  }
}
</script>

<style>
    .application {
        overflow: hidden;
    }
    .content--height {
        min-height: calc(100vh - 64px - 55.3px);
    }
    .nav_item--height {
        height: 48px;
        line-height: 48px;
    }
    .text-overflow {
        display: inline-block;
        white-space: nowrap;
        width: 100%;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    .new_item-dialog_btn--height {
        min-height: 515px;
    }
    .v-calendar-weekly__day,
    .v-calendar-weekly__head-weekday,
    .v-calendar-daily_head-day,
    .v-calendar-daily__day {
        min-width: 120px;
    }
    .v-dialog {
        margin: 0 !important;
    }
    .v-text-field .v-label--active {
        -webkit-transform: translateY(-20px) scale(.85) !important;
        transform: translateY(-20px) scale(.85) !important;
    }
    .v-dialog.v-dialog--active {
        border-radius: 18px !important;
    }
    .link {
        font-weight: bold;
        color: inherit;
    }
    .link:hover {
        cursor: pointer;
    }
    .v-card__actions {
        padding-bottom: 16px !important;
    }
    .card_component.v-card {
        max-width: 500px;
    }
    .item_list-item.v-expansion-panel {
        max-width: 800px;
    }
    .inline-input-btn {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        height: 48px !important;
    }
    .list {
        list-style-type: none;
        padding: 0;
    }
    .side_nav-btn {
        border-bottom: 1px solid #3d4ee2;
    }
    .w100 {
        width: 100%;
    }
    .radio {
        margin-bottom: 24px !important;
    }
    .radio:last-child {
        margin-bottom: 0 !important;
    }
    .v-pagination li {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }
    .item_list-header .v-expansion-panel__header {
        height: 67px;
        padding-left: 0;
    }
    .item_list-divider {
        border-top: 3px solid #1A237E !important;
    }
    .v-badge__badge {
        top: -4px !important;
        left: -8px !important;
    }
    .filter-panel,
    .message-width,
    .select_item-width {
        max-width: 800px;
    }
</style>
