<template>
    <v-flex d-flex>
        <v-layout v-if="queriedCourse" column>
            <view-title>{{ $t('views.Profile.title') }}</view-title>
            <view-content>
                <profile
                    avatar="fas fa-chalkboard"
                    :item="queriedCourse"
                    itemType="course"
                    :name="queriedCourse.title"
                >
                    <edit-profile
                        v-if="queriedCourse.EducationalUnit.managers[0].id === userId"
                        :item="queriedCourse"
                        itemType="course"
                        @updateItemData="updateItemData"
                    />
                </profile>
            </view-content>
        </v-layout>
        <v-layout v-else>
            <message-alert
                :messageDisplay="!queriedCourse"
                :message="$t('messages.errors.NoData')"
                messageType="error"
            />
        </v-layout>
    </v-flex>
</template>

<script>
import ActionEditProfile from '@/components/action/profile/ActionEditProfile'
import ViewUserViewTitle from '@/views/user/ViewUserViewTitle'
import ViewUserViewContent from '@/views/user/ViewUserViewContent'
import MessageAlert from '@/components/message/MessageAlert'
import Profile from '@/components/profile/Profile'
import CourseService from '@/services/CourseService'
import {userId} from '@/mixins/user'

export default {
  mixins: [userId],
  data () {
    return {
      queriedCourse: null
    }
  },
  async created () {
    const {data} = await CourseService.fetchCourse(this.$route.params.id)
    this.queriedCourse = data.course
  },
  methods: {
    updateItemData (updatedData) {
      this.queriedCourse = updatedData
    }
  },
  components: {
    ViewTitle: ViewUserViewTitle,
    ViewContent: ViewUserViewContent,
    EditProfile: ActionEditProfile,
    MessageAlert,
    Profile
  }
}
</script>

<style scoped>

</style>
