<template>
    <v-flex d-flex>
        <v-layout v-if="queriedUser" column>
            <view-title>{{ $t('views.Profile.title') }}</view-title>
            <view-content>
                <profile
                    :avatar="`fas fa-user${profileIcon}`"
                    :item="queriedUser"
                    :name="`${queriedUser.firstName} ${queriedUser.lastName}`"
                    :properties="userItemProperties"
                    :roles="roles"
                >
                    <edit-profile
                        v-if="queriedUser.id === userId || (queriedUser.parentId === userId && queriedUser.Roles.filter(role => role.name === 'parent').length === 0)"
                        :item="queriedUser"
                        @updateItemData="updateItemData"
                    />
                </profile>
            </view-content>
        </v-layout>
        <v-layout v-else>
            <message-alert
                :messageDisplay="!queriedUser"
                :message="$t('messages.errors.NoData')"
                messageType="error"
            />
        </v-layout>
    </v-flex>
</template>

<script>
import ActionEditProfile from '@/components/action/profile/ActionEditProfile'
import ViewUserViewTitle from '@/views/user/ViewUserViewTitle'
import ViewUserViewContent from '@/views/user/ViewUserViewContent'
import MessageAlert from '@/components/message/MessageAlert'
import Profile from '@/components/profile/Profile'
import UserService from '@/services/UserService'
import {profileIcon, userId} from '@/mixins/user'
import {userItemExtended} from '@/mixins/listItems'

export default {
  mixins: [
    profileIcon,
    userId,
    userItemExtended
  ],
  data () {
    return {
      roles: null,
      queriedUser: null
    }
  },
  async created () {
    const {data} = await UserService.fetchUser(this.$route.params.id)
    this.queriedUser = data.user
    if (this.queriedUser) {
      this.roles = this.queriedUser.Roles.map(role => role.name) || []
    }
  },
  methods: {
    updateItemData (updatedData) {
      this.queriedUser = updatedData
    }
  },
  components: {
    ViewTitle: ViewUserViewTitle,
    ViewContent: ViewUserViewContent,
    EditProfile: ActionEditProfile,
    MessageAlert,
    Profile
  }
}
</script>

<style scoped>

</style>
