<template>
    <v-flex d-flex>
        <v-layout column>
            <view-title>{{ $t('views.Profile.title') }}</view-title>
            <view-content>
                <profile
                    :avatar="`fas fa-user${profileIcon}`"
                    :item="user"
                    :name="`${user.firstName} ${user.lastName}`"
                    :properties="userItemProperties"
                    :roles="roles"
                >
                    <edit-profile
                        :item="user"
                        @updateItemData="updateItemData"
                    />
                </profile>
            </view-content>
        </v-layout>
    </v-flex>
</template>

<script>
import {mapMutations} from 'vuex'
import ActionEditProfile from '@/components/action/profile/ActionEditProfile'
import ViewUserViewTitle from '@/views/user/ViewUserViewTitle'
import ViewUserViewContent from '@/views/user/ViewUserViewContent'
import Profile from '@/components/profile/Profile'
import {profileIcon, roles, user} from '@/mixins/user'
import {userItemExtended} from '@/mixins/listItems'

export default {
  mixins: [
    profileIcon,
    roles,
    user,
    userItemExtended
  ],
  methods: {
    ...mapMutations({
      setUser: 'user/setUser'
    }),
    updateItemData (updatedData) {
      this.setUser(updatedData)
    }
  },
  components: {
    ViewTitle: ViewUserViewTitle,
    ViewContent: ViewUserViewContent,
    EditProfile: ActionEditProfile,
    Profile
  }
}
</script>

<style scoped>

</style>
