<template>
    <v-flex d-flex>
        <v-layout v-if="queriedLesson" column>
            <view-title>{{ $t('views.Profile.title') }}</view-title>
            <view-content>
                <profile
                    avatar="fas fa-chalkboard-teacher"
                    :item="queriedLesson"
                    itemType="lesson"
                >
                    <set-as-paid
                        v-if="!!queriedLesson.Course.EducationalUnit.managers.find(manager => manager.id ===userId) && !queriedLesson.paymentStatus"
                        :lessonId="queriedLesson.id"
                        @changePaymentStatus="changePaymentStatus"
                    />
                    <edit-profile
                        v-if="$moment().isBefore(queriedLesson.date) && (queriedLesson.Course.Teacher.id === userId || queriedLesson.student.parentId === userId)"
                        :item="queriedLesson"
                        itemType="lesson"
                        @updateItemData="updateItemData"
                    />
                </profile>
            </view-content>
        </v-layout>
        <v-layout v-else>
            <message-alert
                :messageDisplay="!queriedLesson"
                :message="$t('messages.errors.NoData')"
                messageType="error"
            />
        </v-layout>
    </v-flex>
</template>

<script>
import ActionEditProfile from '@/components/action/profile/ActionEditProfile'
import ActionSetAsPaid from '@/components/action/lessons/ActionSetAsPaid'
import ViewUserViewTitle from '@/views/user/ViewUserViewTitle'
import ViewUserViewContent from '@/views/user/ViewUserViewContent'
import MessageAlert from '@/components/message/MessageAlert'
import Profile from '@/components/profile/Profile'
import LessonService from '@/services/LessonService'
import {userId} from '@/mixins/user'

export default {
  mixins: [userId],
  data () {
    return {
      queriedLesson: null
    }
  },
  async created () {
    try {
      const {data} = await LessonService.fetchLesson(this.$route.params.id)
      this.queriedLesson = data.lesson
    } catch (error) {
      console.log(error.response.data.error)
    }
  },
  methods: {
    changePaymentStatus (paymentStatus) {
      this.queriedLesson.paymentStatus = paymentStatus
      console.log(this.queriedLesson)
    },
    updateItemData (updatedData) {
      this.queriedLesson = updatedData
    }
  },
  components: {
    ViewTitle: ViewUserViewTitle,
    ViewContent: ViewUserViewContent,
    EditProfile: ActionEditProfile,
    SetAsPaid: ActionSetAsPaid,
    MessageAlert,
    Profile
  }
}
</script>

<style scoped>

</style>
