<template>
    <v-flex d-flex>
        <v-layout v-if="queriedUnit" column>
            <view-title>{{ $t('views.Profile.title') }}</view-title>
            <view-content>
                <profile
                    :avatar="avatar || `fas fa-${eduUnitItemIcon}`"
                    :item="queriedUnit"
                    itemType="unit"
                    :name="queriedUnit.name"
                    :properties="eduUnitItemProperties"
                >
                    <edit-profile
                        v-if="queriedUnit.managers[0].id === userId"
                        class="mr-2"
                        :avatar="avatar"
                        :item="queriedUnit"
                        itemType="unit"
                        @updateItemData="updateItemData"
                    />
                    <sign-in-teacher v-if="roles.includes('teacher')" :itemId="queriedUnit.id"/>
                    <sign-in-student v-if="roles.includes('parent') || roles.includes('manager') || roles.includes('teacher')" :itemId="queriedUnit.id"/>
                    <sign-in-child v-if="roles.includes('parent')" :itemId="queriedUnit.id"/>
                </profile>
            </view-content>
        </v-layout>
        <v-layout v-else>
            <message-alert
                :messageDisplay="!queriedUnit"
                :message="$t('messages.errors.NoData')"
                messageType="error"
            />
        </v-layout>
    </v-flex>
</template>

<script>
import ActionSignInChild from '@/components/action/eduUnits/ActionSignInChild'
import ActionSignInStudent from '@/components/action/eduUnits/ActionSignInStudent'
import ActionSignInTeacher from '@/components/action/eduUnits/ActionSignInTeacher'
import ActionEditProfile from '@/components/action/profile/ActionEditProfile'
import ViewUserViewTitle from '@/views/user/ViewUserViewTitle'
import ViewUserViewContent from '@/views/user/ViewUserViewContent'
import MessageAlert from '@/components/message/MessageAlert'
import Profile from '@/components/profile/Profile'
import EduUnitService from '@/services/EduUnitService'
import {userId, roles} from '@/mixins/user'
import {eduUnitItemExtended} from '@/mixins/listItems'

export default {
  mixins: [
    userId,
    roles,
    eduUnitItemExtended
  ],
  data () {
    return {
      avatar: '',
      queriedUnit: null
    }
  },
  async created () {
    const {data} = await EduUnitService.fetchUnit(this.$route.params.id)
    this.queriedUnit = data.unit
    this.setAvatar(data.unit)
  },
  methods: {
    async setAvatar (unit) {
      if (unit && unit.logo) {
        const reader = new FileReader()
        reader.addEventListener('load', () => {
          this.avatar = reader.result
        })
        const blob = await fetch(`data:image/jpeg;base64,${unit.logo}`).then(res => res.blob())
        if (blob) {
          reader.readAsDataURL(blob)
        }
      }
    },
    updateItemData (updatedData) {
      this.queriedUnit = updatedData
      this.setAvatar(updatedData)
    }
  },
  components: {
    SignInChild: ActionSignInChild,
    SignInStudent: ActionSignInStudent,
    SignInTeacher: ActionSignInTeacher,
    EditProfile: ActionEditProfile,
    ViewTitle: ViewUserViewTitle,
    ViewContent: ViewUserViewContent,
    MessageAlert,
    Profile
  }
}
</script>

<style scoped>

</style>
