<template>
    <v-container fluid fill-height pa-0>
        <v-layout align-center justify-center>
            <v-flex class="login_panel" xs12>
                <v-form ref="form">
                    <v-card>
                        <v-card-title class="primary">
                            <h2 class="mx-auto display-1 white--text">{{ $t('views.Login.title') }}</h2>
                        </v-card-title>
                        <v-card-text class="px-3">
                            <v-layout class="mb-2" row>
                                <v-flex xs12>
                                    <v-text-field
                                        v-model="formData.username"
                                        :error="!!error"
                                        :label="$t('views.Login.formLabels.username')"
                                        :placeholder="$t('views.Login.formLabels.username')"
                                        :rules="usernameRules"
                                        prepend-icon="fas fa-user"
                                        color="accent"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs12>
                                    <v-text-field
                                        v-model="formData.password"
                                        :error="!!error"
                                        :type="showPassword ? 'text' : 'password'"
                                        :label="$t('views.Login.formLabels.password')"
                                        :placeholder="$t('views.Login.formLabels.password')"
                                        :rules="passwordRules"
                                        prepend-icon="fas fa-unlock-alt"
                                        :append-icon="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                                        color="accent"
                                        @click:append="showPassword = !showPassword"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout class="mb-3 justify-end" row>
                                <a href="passwordRecover" style="text-decoration: none">{{ $t('views.Login.buttons.forgotPassword') }}</a>
                            </v-layout>
                            <form-response
                                v-if="error"
                                class="mb-3"
                                :messageDisplay="messageDisplay"
                                :message="message"
                                :messageType="messageType"
                            >
                                <router-link
                                    v-if="error.code === 'ErrorUnverifiedUser'"
                                    class="link"
                                    :to="`auth/generate_verification_token`"
                                >
                                    {{ $t('messages.errors.UnverifiedUser') }}
                                </router-link>
                            </form-response>
                            <form-button
                                class="mx-auto"
                                :loading="loading"
                                :text="$t('views.Login.buttons.login')"
                                @click.native="onSubmit"
                                @keyup.enter="onSubmit"
                            />
                        </v-card-text>
                    </v-card>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import {mapActions} from 'vuex'
import FormButton from '@/components/form/FormButton'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {password, username} from '@/mixins/rules'
import {lang} from '@/mixins/lang'
const FormResponse = () => import('@/components/form/FormResponse')

export default {
  mixins: [
    password,
    username,
    lang,
    responses,
    clearResponseMessage,
    setResponseMessage
  ],
  data () {
    return {
      formData: {
        username: '',
        password: ''
      },
      loading: false,
      showPassword: false,
      error: null
    }
  },
  methods: {
    ...mapActions({
      login: 'auth/login'
    }),
    async onSubmit () {
      try {
        if (this.$refs.form.validate()) {
          this.loading = true
          this.clearResponseMessage()
          await this.login(this.formData)
          this.loading = false
          this.$router.push({name: 'home', params: {lang: this.lang}})
        }
      } catch (error) {
        this.error = error
        this.setResponseMessage(error.message, 'error')
        this.loading = false
      }
    }
  },
  components: {
    FormButton,
    FormResponse
  }
}
</script>

<style scoped>
    .login_panel {
        max-width: 450px;
    }
</style>
