<template>
    <v-container grid-list-xl fluid fill-height pa-0>
        <v-layout align-center justify-center>
            <v-flex class="registration_panel" xs12 md8 pa-0 my-3>
                <v-card>
                    <v-card-title class="primary">
                        <h2 class="mx-auto display-1 white--text">{{ $t('views.Registration.title') }}</h2>
                    </v-card-title>
                    <v-stepper v-model="stepper" alt-labels>
                        <v-stepper-header>
                            <v-stepper-step :complete="stepper > 1" step="1">{{ $t('forms.userData.subtitles.accCreds') }}</v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step :complete="stepper > 2" step="2">{{ $t('forms.userData.subtitles.personCreds') }}</v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step :complete="stepper > 3" step="3">{{ $t('forms.userData.subtitles.summary') }}</v-stepper-step>
                        </v-stepper-header>
                        <v-stepper-items v-if="displayForm">
                            <v-stepper-content step="1">
                                <v-form ref="accForm">
                                    <form-subtitle>{{ $t('forms.userData.subtitles.accCreds') }}</form-subtitle>
                                    <v-layout class="mb-2" row wrap>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="accFormData.username"
                                                :label="`${$t('forms.userData.labels.username')}*`"
                                                :placeholder="$t('forms.userData.placeholders.username')"
                                                :hint="$t('forms.userData.hints.username')"
                                                :rules="usernameRules"
                                                counter="255"
                                                prepend-icon="fas fa-user"
                                                color="accent"
                                                required
                                                clearable
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="accFormData.email"
                                                :label="`${$t('forms.userData.labels.email')}*`"
                                                :placeholder="$t('forms.userData.placeholders.email')"
                                                :hint="$t('forms.userData.hints.email')"
                                                :rules="emailRules"
                                                counter="255"
                                                prepend-icon="fas fa-envelope"
                                                color="accent"
                                                required
                                                clearable
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout class="mb-3" row wrap>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="accFormData.password"
                                                :type="showPassword ? 'text' : 'password'"
                                                :label="`${$t('forms.userData.labels.password')}*`"
                                                :hint="$t('forms.userData.hints.password')"
                                                :rules="passwordRules"
                                                counter="245"
                                                prepend-icon="fas fa-unlock-alt"
                                                :append-icon="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                                                color="accent"
                                                @click:append="showPassword = !showPassword"
                                                required
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="accFormData.passwordConfirm"
                                                :type="showConfPassword ? 'text' : 'password'"
                                                :label="`${$t('forms.userData.labels.confPassword')}*`"
                                                :hint="$t('forms.userData.hints.confPassword')"
                                                :rules="passwordConfRules"
                                                counter="245"
                                                prepend-icon="fas fa-unlock-alt"
                                                :append-icon="showConfPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                                                color="accent"
                                                @click:append="showConfPassword = !showConfPassword"
                                                required
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <p class="v-label body-1 mb-2" style="color: rgba(0,0,0,.54);">{{ $t('forms.userData.subtitles.roles') }}</p>
                                    <v-layout class="mb-2" row wrap>
                                        <v-flex xs12 sm6>
                                            <v-tooltip v-for="role in availableRoles" :key="role.name" top>
                                                <v-checkbox
                                                    class="mt-0"
                                                    v-model="accFormData.roles"
                                                    :label="role.name"
                                                    :value="role.value"
                                                    :rules="roleRules"
                                                    slot="activator"
                                                ></v-checkbox>
                                                <span>{{ role.description }}</span>
                                            </v-tooltip>
                                        </v-flex>
                                    </v-layout>
                                    <form-response :messageDisplay="!!accDataErrors" :message="accDataErrors" messageType="error"/>
                                    <v-layout row wrap justify-center mb-0>
                                        <form-button class="py-0" :loading="accDataLoading" :text="$t('forms.basic.buttons.continue')" @click.native="accDataValidation"/>
                                        <form-button class="py-0" :text="$t('forms.userData.buttons.reset')" @click.native="accDataReset"/>
                                    </v-layout>
                                </v-form>
                            </v-stepper-content>
                            <v-stepper-content step="2">
                                <v-form ref="personForm">
                                    <form-subtitle>{{ $t('forms.userData.subtitles.personCreds') }}</form-subtitle>
                                    <v-layout class="mb-2" row wrap>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="personFormData.firstName"
                                                :label="`${$t('forms.userData.labels.firstName')}*`"
                                                :placeholder="$t('forms.userData.placeholders.firstName')"
                                                :hint="$t('forms.userData.hints.firstName')"
                                                :rules="firstNameRules"
                                                counter="255"
                                                prepend-icon="fas fa-signature"
                                                color="accent"
                                                required
                                                clearable
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="personFormData.lastName"
                                                :label="`${$t('forms.userData.labels.lastName')}*`"
                                                :placeholder="$t('forms.userData.placeholders.lastName')"
                                                :hint="$t('forms.userData.hints.lastName')"
                                                :rules="lastNameRules"
                                                counter="255"
                                                prepend-icon="fas fa-signature"
                                                color="accent"
                                                required
                                                clearable
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout class="mb-2" row wrap>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="personFormData.city"
                                                :label="`${$t('forms.userData.labels.city')}*`"
                                                :placeholder="$t('forms.userData.placeholders.city')"
                                                :hint="$t('forms.userData.hints.city')"
                                                :rules="cityRules"
                                                counter="60"
                                                prepend-icon="fas fa-city"
                                                color="accent"
                                                required
                                                clearable
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-select
                                                v-model="personFormData.region"
                                                :label="`${$t('forms.userData.labels.region')}*`"
                                                :placeholder="$t('forms.userData.placeholders.region')"
                                                :items="regions"
                                                :rules="regionRules"
                                                prepend-icon="fas fa-atlas"
                                                color="accent"
                                                required
                                            ></v-select>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout class="mb-3" row wrap>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                v-model="personFormData.phone"
                                                :label="$t('forms.userData.labels.phone')"
                                                :placeholder="$t('forms.userData.placeholders.phone')"
                                                :hint="$t('forms.userData.hints.phone')"
                                                :rules="phoneRules"
                                                counter="15"
                                                prepend-icon="fas fa-phone"
                                                color="accent"
                                                clearable
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap justify-center mb-0>
                                        <form-button class="xs12 py-0" :loading="personDataLoading" :text="$t('forms.basic.buttons.continue')" @click.native="personDataValidation"/>
                                        <form-button class="py-0" :text="$t('forms.basic.buttons.back')" @click.native="stepper = 1"/>
                                        <form-button class="py-0" :text="$t('forms.userData.buttons.reset')" @click.native="personDataReset"/>
                                    </v-layout>
                                </v-form>
                            </v-stepper-content>
                            <v-stepper-content step="3">
                                <div>
                                    <form-subtitle>{{ $t('forms.userData.subtitles.summary') }}</form-subtitle>
                                    <ul class="list">
                                        <li class="title mb-3">
                                            <v-icon class="icon mr-2">fas fa-user</v-icon>
                                            {{ accFormData.username }}
                                        </li>
                                        <li class="title mb-3">
                                            <v-icon class="icon mr-2">fas fa-envelope</v-icon>
                                            {{ accFormData.email }}
                                        </li>
                                        <li class="title mb-3">
                                            <v-icon class="icon mr-2">fas fa-user-tag</v-icon>
                                            {{ translatedRoles.join(', ') }}
                                        </li>
                                        <li class="title mb-3">
                                            <v-icon class="icon mr-2">fas fa-signature</v-icon>
                                            {{ personFormData.firstName }} {{ personFormData.lastName }}
                                        </li>
                                        <li class="title mb-3">
                                            <v-icon class="icon mr-2">fas fa-city</v-icon>
                                            {{ personFormData.city }}
                                        </li>
                                        <li class="title mb-3">
                                            <v-icon class="icon mr-2">fas fa-atlas</v-icon>
                                            {{ personFormData.region }}
                                        </li>
                                        <li class="title mb-3">
                                            <v-icon class="icon mr-2">fas fa-phone</v-icon>
                                            {{ personFormData.phone || '-----'}}
                                        </li>
                                    </ul>
                                    <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
                                    <v-layout row wrap justify-center mb-0>
                                        <form-button class="xs12 py-0" :loading="loading" :text="$t('forms.userData.buttons.register')" @click.native="register"/>
                                        <form-button class="py-0" :text="$t('forms.basic.buttons.back')" @click.native="stepper = 2"/>
                                        <form-button class="py-0" :text="$t('forms.userData.buttons.reset')" @click.native="reset"/>
                                    </v-layout>
                                </div>
                            </v-stepper-content>
                        </v-stepper-items>
                    </v-stepper>
                    <v-card-text v-if="!displayForm" class="pa-0">
                        <message-alert
                            class="pa-4 ma-0"
                            style="border: 0"
                            :messageDisplay="messageDisplay"
                            :message="message"
                            :messageType="messageType"
                            :outline="false"
                        />
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import {mapActions} from 'vuex'
import FormButton from '@/components/form/FormButton'
import FormSubtitle from '@/components/form/FormSubtitle'
import AuthenticationService from '@/services/AuthenticationService'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {city, email, firstName, lastName, password, passwordConfAcc, phone, region, role, username} from '@/mixins/rules'
import {lang} from '@/mixins/lang'
import {translatedRoles} from '@/mixins/user'
import regions from '@/locale/regions/pl.json'
const FormErrorsList = () => import('@/components/form/FormErrorsList')
const FormResponse = () => import('@/components/form/FormResponse')
const MessageAlert = () => import('@/components/message/MessageAlert')

export default {
  mixins: [
    city,
    email,
    firstName,
    lastName,
    password,
    passwordConfAcc,
    phone,
    role,
    region,
    username,
    lang,
    translatedRoles,
    responses,
    clearResponseMessage,
    setResponseMessage
  ],
  data () {
    return {
      accFormData: {
        username: '',
        email: '',
        password: '',
        passwordConfirm: '',
        roles: []
      },
      personFormData: {
        firstName: '',
        lastName: '',
        city: '',
        region: '',
        phone: ''
      },
      accDataErrors: null,
      accDataLoading: false,
      personDataErrors: null,
      personDataLoading: false,
      roles: [],
      showPassword: false,
      showConfPassword: false,
      stepper: 0,
      displayForm: true,
      loading: false,
      errors: null
    }
  },
  computed: {
    availableRoles () {
      if (this.$i18n.messages[this.lang]) {
        return this.$i18n.messages[this.lang].roles.filter(role => role.value !== 'student')
      } else {
        return this.$i18n.messages['en'].roles.filter(role => role.value !== 'student')
      }
    },
    regions () {
      return regions['pl']
    }
  },
  methods: {
    ...mapActions({
      createUser: 'auth/createUser'
    }),
    async register () {
      try {
        this.loading = true
        this.errors = null
        this.clearResponseMessage()
        const {message, type} = await this.createUser({...this.accFormData, ...this.personFormData})
        this.setResponseMessage(message, type)
        this.stepper = 4
        this.displayForm = false
        this.loading = false
      } catch (error) {
        this.errors = error
        this.loading = false
      }
    },
    accDataReset () {
      this.$refs.accForm.resetValidation()
      this.accFormData.username = ''
      this.accFormData.email = ''
      this.accFormData.password = ''
      this.accFormData.passwordConfirm = ''
      this.accFormData.roles = []
    },
    async accDataValidation () {
      try {
        if (this.$refs.accForm.validate()) {
          this.accDataLoading = true
          this.accDataErrors = null
          await AuthenticationService.checkIfExist(this.accFormData.username, this.accFormData.email)
          this.roles = this.accFormData.roles
          this.stepper = 2
          this.accDataLoading = false
        }
      } catch (error) {
        this.accDataErrors = error.response.data.error
        this.accDataLoading = false
      }
    },
    personDataReset () {
      this.$refs.personForm.resetValidation()
      this.personFormData.firstName = ''
      this.personFormData.lastName = ''
      this.personFormData.city = ''
      this.personFormData.region = ''
      this.personFormData.phone = ''
    },
    personDataValidation () {
      if (this.$refs.personForm.validate()) {
        this.stepper = 3
      }
    },
    reset () {
      this.accDataReset()
      this.personDataReset()
      this.stepper = 1
    }
  },
  components: {
    FormButton,
    FormSubtitle,
    FormErrorsList,
    FormResponse,
    MessageAlert
  }
}
</script>

<style scoped>
    .registration_panel {
        max-width: 800px !important;
    }
    .icon {
        width: 35px;
    }
</style>
