<template>
    <v-container fluid fill-height pa-0>
        <v-layout align-center justify-center>
            <v-flex class="verification_token_generator-card" xs12>
                <v-card>
                    <v-card-title class="primary">
                        <h2 class="mx-auto text-xs-center display-1 white--text">{{ $t('views.VerificationTokenGenerator.title') }}</h2>
                    </v-card-title>
                    <v-card-text>
                        <v-form ref="form">
                            <v-layout row wrap>
                                <v-flex xs12 mb-3>
                                    <v-text-field
                                        v-model="email"
                                        :label="$t('views.VerificationTokenGenerator.formLabels.email')"
                                        :placeholder="$t('views.VerificationTokenGenerator.formLabels.email')"
                                        :hint="$t('forms.userData.hints.email')"
                                        :rules="emailRules"
                                        counter="255"
                                        prepend-icon="fas fa-envelope"
                                        color="accent"
                                        required
                                        clearable
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
                                </v-flex>
                                <v-flex d-flex justify-center>
                                    <form-button :loading="loading" :text="$t('views.VerificationTokenGenerator.buttons.send')" @click.native="generateToken"/>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import AuthenticationService from '@/services/AuthenticationService'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {email} from '@/mixins/rules'
const FormResponse = () => import('@/components/form/FormResponse')

export default {
  mixins: [
    responses,
    clearResponseMessage,
    setResponseMessage,
    email
  ],
  data () {
    return {
      email: '',
      loading: false,
      error: null
    }
  },
  methods: {
    async generateToken () {
      try {
        if (this.$refs.form.validate()) {
          this.error = null
          this.clearResponseMessage()
          this.loading = true
          const {data} = await AuthenticationService.generateToken(this.email)
          this.setResponseMessage(data.message, data.type)
          this.loading = false
        }
      } catch (error) {
        this.error = error.response.data.error
        this.setResponseMessage(this.error, 'error')
        this.loading = false
      }
    }
  },
  components: {
    FormButton,
    FormResponse
  }
}
</script>

<style scoped>
    .verification_token_generator-card {
        max-width: 500px !important;
    }
</style>
