<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md5 lg3>
                <v-card>
                    <v-card-title class="primary">
                        <h2 class="mx-auto display-1 white--text">404 - {{ $t('views.NotFound.title') }}</h2>
                    </v-card-title>
                    <v-card-text class="pa-0">
                        <message-alert
                            class="pa-4 ma-0"
                            style="border: none"
                            :messageDisplay="true"
                            :message="$t('views.NotFound.message')"
                            messageType="error"
                            :outline="false"
                        />
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import MessageAlert from '@/components/message/MessageAlert'

export default {
  components: {
    MessageAlert
  }
}
</script>

<style scoped>

</style>
