<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 md3>
                <v-card>
                    <v-card-title class="primary">
                        <h2 class="mx-auto display-1 white--text">{{ $t('views.Verification.title') }}</h2>
                    </v-card-title>
                    <v-card-text class="pa-0">
                        <message-alert
                            v-if="!error"
                            class="pa-4 ma-0"
                            style="border: none"
                            :messageDisplay="true"
                            :message="message"
                            :messageType="messageType"
                            :outline="false"
                        >
                            <router-link class="link" :to="`/${lang}/login`">
                                {{ $t('views.Verification.links.login') }}
                            </router-link>
                        </message-alert>
                        <message-alert
                            v-if="error"
                            class="pa-4 ma-0"
                            style="border: none"
                            :messageDisplay="true"
                            :message="error"
                            :messageType="messageType"
                            :outline="false"
                        >
                            <router-link class="link" to="/auth/generate_verification_token">
                                {{ $t('messages.Errors.UnverifiedUser') }}
                            </router-link>
                        </message-alert>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import MessageAlert from '@/components/message/MessageAlert'
import AuthenticationService from '@/services/AuthenticationService'
import {responses, setResponseMessage} from '@/mixins/form'
import {lang} from '@/mixins/lang'

export default {
  mixins: [lang, responses, setResponseMessage],
  data () {
    return {
      error: null
    }
  },
  beforeCreate () {
    AuthenticationService.verify(this.$route.params.verification_token)
      .then(response => this.setResponseMessage(response.data.message, response.data.type))
      .catch(error => {
        this.error = error.response.data.error
        this.setResponseMessage(error.response.data.error, 'error')
      })
  },
  components: {
    MessageAlert
  }
}
</script>

<style scoped>

</style>
