<template>
    <v-container fluid grid-list-md pa-0>
        <v-layout row>
            <v-flex class="side_nav--width hidden-sm-and-down">
                <user-side-navigation/>
            </v-flex>
            <v-flex xs12>
                <v-card class="content--height">
                    <router-view></router-view>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import ViewUserSideNavigation from '@/views/user/ViewUserSideNavigation'

export default {
  components: {
    UserSideNavigation: ViewUserSideNavigation
  }
}
</script>

<style scoped>
    .side_nav--width {
        max-width: 300px;
    }
</style>
