<template>
    <v-flex class="view_title" xs12 px-2 py-3>
        <div class="display-1 font-weight-bold text-xs-center text-md-left">
            <slot></slot>
        </div>
    </v-flex>
</template>

<script>
export default {
}
</script>

<style scoped>
    .view_title {
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
</style>
