<template>
    <v-navigation-drawer
        v-if="user"
        v-model="sideNav"
        :width="300"
        permanent
    >
        <v-list class="pb-0" two-line subheader>
            <v-list-tile avatar>
                <v-list-tile-avatar>
                    <v-icon large>{{ `fas fa-user${profileIcon}` }}</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title class="font-weight-bold">{{ user.firstName }} {{ user.lastName }}</v-list-tile-title>
                    <v-list-tile-sub-title class="font-italic">{{ translatedRoles.join(', ') }}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list class="pt-0">
            <v-list-tile
                v-for="item in filteredMenuItems"
                :key="item.title"
                :to="item.path !== '/logout' ? `/${lang}${item.path}` : item.path"
            >
                <v-list-tile-action>
                    <v-icon class="icon">{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title class="nav_item--height">{{ $t(item.localePath) }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
import {lang} from '@/mixins/lang'
import {filterMenuItems, profileIcon, roles, translatedRoles, user} from '@/mixins/user'

export default {
  mixins: [
    lang,
    profileIcon,
    filterMenuItems,
    roles,
    translatedRoles,
    user
  ],
  data () {
    return {
      sideNav: true,
      menuItems: [
        {title: 'Home', localePath: 'views.User.SideNav.links.home', path: '/user/home', icon: 'fas fa-home', roleRightsLvl: 'all'},
        {title: 'Profile', localePath: 'views.User.SideNav.links.profile', path: '/user/profile', icon: 'fas fa-user-circle', roleRightsLvl: 'all'},
        {title: 'Children', localePath: 'views.User.SideNav.links.children', path: '/user/children', icon: 'fas fa-child', roleRightsLvl: 'parent'},
        {title: 'Students', localePath: 'views.User.SideNav.links.students', path: '/user/students', icon: 'fas fa-user-graduate', roleRightsLvl: 'ATM'},
        {title: 'Educational Units', localePath: 'views.User.SideNav.links.educationalUnits', path: `/user/eduUnits`, icon: 'fa-university', roleRightsLvl: 'all'},
        {title: 'Lessons', localePath: 'views.User.SideNav.links.lessons', path: `/user/lessons`, icon: 'fas fa-chalkboard', roleRightsLvl: 'all'},
        {title: 'Log Out', localePath: 'header.links.logOut', path: `/logout`, icon: 'fas fa-sign-out-alt', roleRightsLvl: 'all'}
      ]
    }
  }
}
</script>

<style scoped>
    .icon {
        min-width: 35px;
    }
</style>
