<template>
    <v-alert
        class="message-width font-weight-bold"
        :value="messageDisplay"
        :type="messageType"
        transition="scale-transition"
        :outline="outline"
    >
        {{ message }}
        <slot></slot>
    </v-alert>
</template>

<script>
export default {
  props: {
    message: String,
    messageDisplay: {
      type: Boolean,
      default: false
    },
    messageType: {
      type: String,
      default: 'info'
    },
    outline: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped>

</style>
