<template>
    <div>
        <message-alert
            :messageDisplay="units.length === 0"
            :message="$t('messages.info.NoTeacherUnits')"
        />
        <div v-if="units.length > 0">
            <v-expansion-panel class="filter-panel mx-auto mb-3">
                <v-expansion-panel-content>
                    <div class="text-xs-center font-weight-bold text-uppercase title" slot="header">
                        {{ $t('views.Students.tabs[0].headings.studentsFilterPanel') }}
                    </div>
                    <v-card>
                        <v-card-text class="px-2">
                            <v-layout row>
                                <v-select
                                    class="select_item-width mx-auto"
                                    :height="58"
                                    label="-----"
                                    required
                                    :items="units"
                                    :default="units[0]"
                                    solo
                                    v-model="unit"
                                >
                                    <template slot="selection" slot-scope="data">
                                        {{ `${data.item.name}` }}
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        {{ `${data.item.name}` }}
                                    </template>
                                </v-select>
                            </v-layout>
                            <v-layout row>
                                <v-radio-group class="mt-0" v-model="studentsStatus" mandatory>
                                    <v-radio
                                        v-for="type in statusTypes"
                                        :label="type.name"
                                        :value="type.value"
                                        :key="type.value"
                                    ></v-radio>
                                </v-radio-group>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <message-alert
                :messageDisplay="totalStudents === 0"
                :message="message"
            />
            <div v-if="totalStudents > 0">
                <v-flex d-flex>
                    <v-layout justify-space-around row wrap>
                        <v-flex v-for="student in paginatedStudents" :key="student.id" xs12 lg5 px-0 py-3>
                            <item
                                v-if="student"
                                :item="student"
                                :itemIcon="studentItemIcon"
                                :itemHeader="setCardHeader(student.firstName, student.lastName)"
                                :itemProperties="studentItemProperties"
                            >
                                <visit-profile :id="student.id"/>
                            </item>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <pagination
                    v-if="totalStudents > rowsQuantity"
                    @setPage="setPage"
                    :paginationLength="paginationLength(rowsQuantity)"
                    :paginationPage="page"
                />
            </div>
        </div>
    </div>
</template>

<script>
import {setCardHeader} from '@/mixins/card'
import {paginationSetup} from '@/mixins/pagination'
import {fetchUnitTeacherStudents} from '@/mixins/api'
import {teacherStudents} from '@/mixins/students'
import {studentItem} from '@/mixins/listItems'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const ItemListItem = () => import('@/components/itemList/ItemListItem')
const MessageAlert = () => import('@/components/message/MessageAlert')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    setCardHeader,
    paginationSetup,
    fetchUnitTeacherStudents,
    teacherStudents,
    studentItem
  ],
  data () {
    return {
      unit: null,
      paginatedStudents: [],
      rowsQuantity: 10,
      statusTypes: [
        {name: this.$t('views.Students.studentsStatusTypes[0]'), value: 'all'},
        {name: this.$t('views.Students.studentsStatusTypes[1]'), value: 'active'},
        {name: this.$t('views.Students.studentsStatusTypes[2]'), value: 'inactive'},
        {name: this.$t('views.Students.studentsStatusTypes[3]'), value: 'pending'}
      ],
      studentsStatus: 'active'
    }
  },
  computed: {
    message () {
      if (this.studentsStatus === 'all') {
        return this.$t('messages.info.NoUnitStudents')
      } else if (this.studentsStatus === 'active') {
        return this.$t('messages.info.NoUnitActiveStudents')
      } else if (this.studentsStatus === 'inactive') {
        return this.$t('messages.info.NoUnitInactiveStudents')
      } else {
        return this.$t('messages.info.NoUnitPendingStudents')
      }
    }
  },
  methods: {
    setPage (page) {
      this.page = page
      this.paginatedStudents = this.pageStudents(page, this.rowsQuantity)
    }
  },
  watch: {
    students () {
      this.paginatedStudents = this.pageStudents(this.page, this.rowsQuantity)
    },
    async studentsStatus () {
      await this.fetchStudents({unitId: this.unit.id, status: this.studentsStatus})
    },
    async unit () {
      if (this.unit) {
        await this.fetchStudents({unitId: this.unit.id, status: this.studentsStatus})
      }
    }
  },
  components: {
    VisitProfile: ActionVisitProfile,
    Item: ItemListItem,
    MessageAlert,
    Pagination
  }
}
</script>

<style scoped>

</style>
