<template>
    <div>
        <v-expansion-panel class="filter-panel mx-auto mb-3">
            <v-expansion-panel-content>
                <div class="text-xs-center font-weight-bold text-uppercase title" slot="header">
                    {{ $t('views.Students.tabs[2].headings.studentsFilterPanel') }}
                </div>
                <v-card>
                    <v-card-text class="px-2">
                        <v-form>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.studentData.labels.firstName')"
                                        :placeholder="$t('forms.studentData.labels.firstName')"
                                        solo
                                        v-model="formData.firstName"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.studentData.labels.lastName')"
                                        :placeholder="$t('forms.studentData.labels.lastName')"
                                        solo
                                        v-model="formData.lastName"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.studentData.labels.email')"
                                        :placeholder="$t('forms.studentData.labels.email')"
                                        solo
                                        v-model="formData.email"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.studentData.labels.city')"
                                        :placeholder="$t('forms.studentData.labels.city')"
                                        solo
                                        v-model="formData.city"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-select
                                        :label="$t('forms.studentData.labels.region')"
                                        :items="regions"
                                        solo
                                        v-model="formData.region"
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                            <form-errors-list v-if="errors" :errors="errors"/>
                            <v-layout row wrap justify-center>
                                <form-button :text="$t('views.Students.buttons.searchStudents')" @click.native="setPage(1, rowsQuantity, fetch)"/>
                                <form-button :text="$t('forms.studentData.buttons.reset')" @click.native="reset"/>
                            </v-layout>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-expansion-panel-content>
        </v-expansion-panel>
        <message-alert
            :messageDisplay="students.length < 1"
            :message="$t('messages.info.NoData')"
        />
        <div v-if="students.length > 0">
            <v-flex d-flex>
                <v-layout justify-space-around row wrap>
                    <v-flex v-for="student in students" :key="student.id" xs12 lg5 px-0 py-3>
                        <item
                            :item="student"
                            :itemIcon="userItemIcon"
                            :itemProperties="userItemProperties"
                        >
                            <visit-profile :id="student.id"/>
                        </item>
                    </v-flex>
                </v-layout>
            </v-flex>
            <pagination
                v-if="totalStudents > rowsQuantity"
                @setPage="setPage($event, rowsQuantity, fetch)"
                :paginationLength="paginationLength(rowsQuantity)"
                :paginationPage="page"
            />
        </div>
    </div>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import {fetchSearchStudents} from '@/mixins/api'
import {reset} from '@/mixins/form'
import {paginationSetup, setPage} from '@/mixins/pagination'
import {searchStudents} from '@/mixins/students'
import {userItem} from '@/mixins/listItems'
import {roles, user} from '@/mixins/user'
import regions from '@/locale/regions/pl.json'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const FormErrorsList = () => import('@/components/form/FormErrorsList')
const ItemListItem = () => import('@/components/itemList/ItemListItem')
const MessageAlert = () => import('@/components/message/MessageAlert')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    reset,
    paginationSetup,
    setPage,
    fetchSearchStudents,
    searchStudents,
    userItem,
    roles,
    user
  ],
  data () {
    return {
      formData: {
        firstName: '',
        lastName: '',
        email: '',
        city: '',
        region: ''
      },
      rowsQuantity: 10,
      errors: null
    }
  },
  computed: {
    regions () {
      return regions['pl']
    }
  },
  methods: {
    async fetch ({page, rows}) {
      try {
        this.errors = null
        await this.fetchStudents({page, rows, formData: this.formData})
      } catch (error) {
        this.errors = error.response.data.error
      }
    }
  },
  components: {
    VisitProfile: ActionVisitProfile,
    FormButton,
    FormErrorsList,
    Item: ItemListItem,
    MessageAlert,
    Pagination
  }
}
</script>

<style scoped>

</style>
