<template>
    <v-flex d-flex>
        <v-layout column>
            <tab-wrapper :items="tabItems" :filter="filterTabItems">
                <manager-units :slot="tabItems[0].title"/>
                <teacher-units :slot="tabItems[1].title"/>
                <search-users :slot="tabItems[2].title"/>
            </tab-wrapper>
        </v-layout>
    </v-flex>
</template>

<script>
import TabWrapper from '@/components/tab/TabWrapper'
import {filterTabItems, roles} from '@/mixins/user'
const ViewStudentsManagerUnits = () => import('@/views/students/ViewStudentsManagerUnits')
const ViewStudentsTeacherUnits = () => import('@/views/students/ViewStudentsTeacherUnits')
const ViewStudentsSearchUsers = () => import('@/views/students/ViewStudentsSearchUsers')

export default {
  mixins: [filterTabItems, roles],
  data () {
    return {
      tabItems: [
        {title: 'ManagerUnits', localePath: 'views.Students.tabs[0].title', roleRightsLvl: 'manager'},
        {title: 'TeacherUnits', localePath: 'views.Students.tabs[1].title', roleRightsLvl: 'teacher'},
        {title: 'SearchStudents', localePath: 'views.Students.tabs[2].title', roleRightsLvl: 'teacherOrManager'}
      ]
    }
  },
  components: {
    ManagerUnits: ViewStudentsManagerUnits,
    TeacherUnits: ViewStudentsTeacherUnits,
    SearchUsers: ViewStudentsSearchUsers,
    TabWrapper
  }
}
</script>

<style scoped>

</style>
