<template>
    <v-flex class="profile_content" xs12>
        <v-layout row wrap>
            <v-flex class="text-xs-center" xs12 lg3>
                <div class="profile_avatar mx-auto mb-3 accent">
                    <v-icon v-if="avatar.startsWith('fas')" class="profile_avatar--icon secondary--text">{{ avatar }}</v-icon>
                    <img v-else :src="avatar" alt="Avatar" width="160" height="160">
                </div>
                <div v-if="roles" class="mb-2">
                    <span class="title font-weight-thin font-italic">{{ translatedRoles.join(', ') }}</span>
                </div>
                <div>
                    <slot></slot>
                </div>
            </v-flex>
            <v-flex v-if="itemType === 'user' || itemType === 'unit'" d-flex xs12 lg9>
                  <v-layout row wrap>
                    <v-flex xs12>
                        <div class="profile_title display-1 text-xs-center text-lg-left pb-2 mb-2">
                            {{ name }}
                        </div>
                    </v-flex>
                    <v-flex d-flex xs12 sm6>
                        <v-layout column>
                            <v-flex v-if="properties.addressProperties" xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.addressData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data
                                        v-for="property in properties.addressProperties"
                                        :key="property.title"
                                        :icon="`fas fa-${property.icon}`"
                                        :data="item[property.title] || '-----'"
                                    />
                                </ul>
                            </v-flex>
                            <v-flex v-if="properties.contactProperties" xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.contactData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data
                                        v-for="property in properties.contactProperties"
                                        :key="property.title"
                                        :icon="property.icon"
                                        :data="item[property.title] || '-----'"
                                    />
                                </ul>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex d-flex xs12 sm5 offset-sm1>
                        <v-layout column>
                            <v-flex v-if="item.parent" xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.parentData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data
                                        icon="fas fa-user-alt"
                                        :data="item.parent | personName"
                                    />
                                    <profile-property-data
                                        icon="fas fa-envelope"
                                        :data="item.parent.email"
                                    />
                                    <profile-property-data
                                        icon="fas fa-phone"
                                        :data="item.parent.phone"
                                    />
                                </ul>
                                <div v-if="$moment(item.updated_at).isAfter(item.created_at)">
                                    <span class="subheading font-weight-thin font-italic">
                                        {{ $t('views.Profile.labels.lastModifiedBy', {date: itemModification.format('DD.MM.YYYY'), time: itemModification.format('H:mm'), firstName: item.updater.firstName, lastName: item.updater.lastName}) }}
                                    </span>
                                </div>
                            </v-flex>
                            <v-flex v-if="itemType === 'unit'" xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.generalData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data
                                        icon="fas fa-user-tie"
                                        :data="item.managers[0] | personName"
                                    />
                                    <profile-property-data
                                        v-for="property in properties.generalProperties"
                                        :key="property.title"
                                        :icon="`fas fa-${property.icon}`"
                                        :data="property.title === 'teachers' ? item[property.title].length + item.managers.length : item[property.title].length"
                                        :unity="property.unity"
                                    />
                                    <profile-property-data
                                        icon="fas fa-money-check-alt"
                                        :data="item.bankAccount | bankAccount"
                                    />
                                    <profile-property-data
                                        icon="fas fa-pen-fancy"
                                        :data="item.description || '-----'"
                                        :long="true"
                                    >
                                        <read-more :text="item.description" :title="$t('views.Profile.labels.description')"/>
                                    </profile-property-data>
                                </ul>
                                <div v-if="$moment(item.updated_at).isAfter(item.created_at)">
                                    <span class="subheading font-weight-thin font-italic">
                                        {{ $t('views.Profile.labels.lastModified', {date: itemModification.format('DD.MM.YYYY'), time: itemModification.format('H:mm')}) }}
                                    </span>
                                </div>
                            </v-flex>
                            <v-flex v-if="itemType === 'user' && !item.parent" xs12>
                                <div v-if="$moment(item.updated_at).isAfter(item.created_at)">
                                    <span class="subheading font-weight-thin font-italic">
                                        {{ $t('views.Profile.labels.lastModified', {date: itemModification.format('DD.MM.YYYY'), time: itemModification.format('H:mm')}) }}
                                    </span>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex v-if="itemType === 'lesson'" d-flex xs12 lg9>
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="profile_title display-1 text-xs-center text-lg-left mb-2">
                        </div>
                    </v-flex>
                    <v-flex d-flex xs12 sm4>
                        <v-layout column>
                            <v-flex xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.lessonData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data icon="fas fa-calendar-alt" :data="formatDate(item.date)"/>
                                    <profile-property-data icon="fas fa-clock" :data="item.date | lessonTimePeriod(item.duration)"/>
                                    <profile-property-data icon="fas fa-stopwatch" unity="minutes" :data="item.duration"/>
                                    <profile-property-data icon="fas fa-dollar-sign" :unity="$tc('unities.pln', item.price)" :data="item.price"/>
                                    <profile-property-data :icon="item.isActive ? 'fas fa-toggle-on' : 'fas fa-toggle-off'" :data="item.isActive ? $t('calendar.card.active') : $t('calendar.card.inactive')"/>
                                    <profile-property-data icon="fas fa-hand-holding-usd" :data="item.paymentStatus ? $t('calendar.card.paid') : $t('calendar.card.notpaid')"/>
                                    <profile-property-data icon="fab fa-creative-commons-nc" :data="item.paymentDeadline | paymentDeadline"/>
                                </ul>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex d-flex xs12 sm7 offset-sm1>
                        <v-layout column>
                            <v-flex xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.generalData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data icon="fas fa-chalkboard" :data="item.Course.title"/>
                                    <profile-property-data icon="fas fa-pencil-ruler" :data="item.Course.Subject.name"/>
                                    <profile-property-data icon="fas fa-university" :data="item.Course.EducationalUnit.name"/>
                                    <profile-property-data icon="fas fa-user-tie" :data="item.Course.Teacher | personName"/>
                                    <profile-property-data icon="fas fa-user-graduate" :data="item.student | personName"/>
                                    <profile-property-data
                                        v-if="userId === item.Course.Teacher.id"
                                        icon="fas fa-file-signature"
                                        :data="item.teacherNotes || '-----'"
                                        :long="true"
                                    >
                                        <read-more :text="item.teacherNotes" :title="$t('views.Profile.labels.teacherNotes')"/>
                                    </profile-property-data>
                                    <profile-property-data
                                        v-if="userId === item.Course.Teacher.id || userId === item.Course.EducationalUnit.managers[0].id || userId === item.student.id || userId === item.student.parentId"
                                        icon="fas fa-book-open"
                                        :data="item.homework || '-----'"
                                        :long="true"
                                    >
                                        <read-more :text="item.homework" :title="$t('views.Profile.labels.homework')"/>
                                    </profile-property-data>
                                    <profile-property-data
                                        v-if="userId === item.Course.Teacher.id || userId === item.Course.EducationalUnit.managers[0].id || userId === item.student.parentId"
                                        icon="fas fa-envelope-square"
                                        :data="item.messageForParent || '-----'"
                                        :long="true"
                                    >
                                        <read-more :text="item.messageForParent" :title="$t('views.Profile.labels.messageForParent')"/>
                                    </profile-property-data>
                                    <profile-property-data
                                        v-if="userId === item.Course.Teacher.id || userId === item.Course.EducationalUnit.managers[0].id || userId === item.student.parentId"
                                        icon="fas fa-comment-dots"
                                        :data="item.messageForTeacher || '-----'"
                                        :long="true"
                                    >
                                        <read-more :text="item.messageForTeacher" :title="$t('views.Profile.labels.messageForTeacher')"/>
                                    </profile-property-data>
                                </ul>
                            </v-flex>
                            <v-flex xs12>
                                <div v-if="$moment(item.updated_at).isAfter(item.created_at)">
                                    <span class="subheading font-weight-thin font-italic">
                                        {{ $t('views.Profile.labels.lastModified', {date: itemModification.format('DD.MM.YYYY'), time: itemModification.format('H:mm')}) }}
                                    </span>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex v-if="itemType === 'course'" d-flex xs12 lg9>
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="profile_title display-1 text-xs-center text-lg-left pb-2 mb-2">
                            {{ name }}
                        </div>
                    </v-flex>
                    <v-flex d-flex xs12 sm5>
                        <v-layout column>
                            <v-flex xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.courseData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data icon="fas fa-calendar-alt" :data="formatData(item.defaultDay, 'days')"/>
                                    <profile-property-data icon="fas fa-clock" :data="item.defaultTime"/>
                                    <profile-property-data icon="fas fa-stopwatch" unity="minutes" :data="item.defaultDuration"/>
                                    <profile-property-data icon="fas fa-dollar-sign" :unity="$tc('unities.pln', item.defaultPrice)" :data="item.defaultPrice"/>
                                    <profile-property-data icon="fas fa-chalkboard" unity="lessons" :data="item.lessonsQuantity || '-----'"/>
                                    <profile-property-data :icon="item.isActive ? 'fas fa-toggle-on' : 'fas fa-toggle-off'" :data="item.isActive ? $t('views.Lessons.courseStatus.active') : $t('views.Lessons.courseStatus.inactive')"/>
                                </ul>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex d-flex xs12 sm6 offset-sm1>
                        <v-layout column>
                            <v-flex xs12 mb-2>
                                <div class="mb-3">
                                    <h3 class="profile_property_title headline text-xs-center text-sm-left pb-2">{{ $t('views.Profile.headings.generalData') }}</h3>
                                </div>
                                <ul class="list">
                                    <profile-property-data icon="fas fa-pencil-ruler" :data="item.Subject.name"/>
                                    <profile-property-data icon="fas fa-university" :data="item.EducationalUnit.name"/>
                                    <profile-property-data icon="fas fa-user-tie" :data="item.Teacher | personName"/>
                                    <profile-property-data
                                        icon="fas fa-pen-fancy"
                                        :data="item.description || '-----'"
                                        :long="true"
                                    >
                                        <read-more :text="item.description" :title="$t('views.Profile.labels.description')"/>
                                    </profile-property-data>
                                </ul>
                            </v-flex>
                            <v-flex xs12>
                                <div v-if="$moment(item.updated_at).isAfter(item.created_at)">
                                    <span class="subheading font-weight-thin font-italic">
                                        {{ $t('views.Profile.labels.lastModified', {date: itemModification.format('DD.MM.YYYY'), time: itemModification.format('H:mm')}) }}
                                    </span>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
import ActionReadMore from '@/components/action/profile/ActionReadMore'
import ProfilePropertyData from '@/components/profile/ProfilePropertyData'
import {date} from '@/mixins/date'
import {lessonTimePeriod, paymentDeadline} from '@/filters/date'
import {bankAccount, personName} from '@/filters/string'
import {dataProperties, translatedRoles, userId} from '@/mixins/user'

export default {
  mixins: [
    date,
    dataProperties,
    translatedRoles,
    userId
  ],
  props: {
    avatar: {
      type: [Object, String],
      default: ''
    },
    item: Object,
    itemType: {
      type: String,
      default: 'user'
    },
    name: String,
    properties: Object,
    roles: {
      type: Array,
      default: null
    }
  },
  computed: {
    itemModification () {
      return this.$moment(this.item.updated_at)
    }
  },
  filters: {
    bankAccount,
    personName,
    lessonTimePeriod,
    paymentDeadline
  },
  components: {
    ReadMore: ActionReadMore,
    ProfilePropertyData
  }
}
</script>

<style scoped>
    .profile_content {
        max-width: 1200px;
    }
    .profile_avatar {
        height: 160px;
        width: 160px;
    }
    .profile_avatar--icon {
        line-height: 160px;
        font-size: 100px;
    }
    .profile_title {
        border-bottom: 3px solid #1A237E
    }
    .profile_property_title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
</style>
