<template>
    <li class="d-flex justify-start row mb-3">
        <div class="profile_item_property-icon mr-2">
            <v-icon class="accent--text">{{ icon }}</v-icon>
        </div>
        <div class="profile_item_property-data">
            <p v-if="!long" class="subheading font-weight-bold ma-0">{{ formattedData }}</p>
            <p v-if="!!long" class="subheading font-weight-bold ma-0">{{ data | maxLengthString(10) }}
                <slot v-if="data.length > 10"></slot>
            </p>
        </div>
    </li>
</template>

<script>
import {maxLengthString} from '@/filters/string'
export default {
  props: {
    icon: String,
    data: [String, Number],
    long: {
      type: Boolean,
      default: false
    },
    unity: String
  },
  computed: {
    formattedData () {
      if (this.unity && this.data !== '-----') {
        if (typeof this.data === 'string') {
          return `${this.data} ${this.unity}`
        } else {
          return this.data + ' ' + this.$tc(`unities.${this.unity}`, this.data)
        }
      } else {
        return this.data
      }
    }
  },
  filters: {
    maxLengthString
  }
}
</script>

<style scoped>
    .profile_item_property-icon {
        height: 24px;
        min-width: 35px;
        max-width: 35px;
    }
    .profile_item_property-data {
        height: 24px;
        overflow: hidden;
    }
</style>
