<template>
    <v-card class="card_component secondary">
        <v-layout fill-height row wrap ma-0>
            <card-category>{{ `fas fa-${itemIcon}` }}</card-category>
            <card-header>{{ itemHeader }}</card-header>
            <card-body :item="item" :properties="itemProperties">
                <slot></slot>
            </card-body>
        </v-layout>
    </v-card>
</template>

<script>
import CardCategory from '@/components/card/CardCategory'
import CardBody from '@/components/card/CardBody'
import CardHeader from '@/components/card/CardHeader'
import {date} from '@/mixins/date'

export default {
  mixins: [date],
  props: {
    item: Object,
    itemHeader: String,
    itemIcon: String,
    itemProperties: Object
  },
  components: {
    CardCategory,
    CardBody,
    CardHeader
  }
}
</script>

<style scoped>

</style>
