<template>
    <li class="d-flex justify-start row mb-3">
        <div class="data_list-icon mr-2">
            <v-icon class="accent--text">{{ icon }}</v-icon>
        </div>
        <div class="data_list-item">
            <p class="subheading text-overflow font-weight-bold ma-0">{{ dataItem || '----------' }}</p>
        </div>
    </li>
</template>

<script>
export default {
  props: {
    icon: String,
    dataItem: String
  }
}
</script>

<style scoped>
    .data_list-icon {
        height: 24px;
        min-width: 35px;
        max-width: 35px;
    }
    .data_list-item {
        height: 24px;
    }
</style>
