<template>
    <v-flex class="text-xs-center card_category" xs12 pa-0 accent>
        <v-icon class="card-icon secondary--text">
            <slot></slot>
        </v-icon>
    </v-flex>
</template>

<script>
export default {
}
</script>

<style scoped>
    .card-icon {
        height: 100%;
        font-size: 100px;
    }
    .card_category {
        height: 140px;
    }
</style>
