<template>
    <div class="text-xs-center text-sm-left">
        <v-btn class="primary white--text mx-0">
            <v-icon class="mr-2">fas fa-{{ icon }}</v-icon>
            {{ text }}
        </v-btn>
    </div>
</template>

<script>
export default {
  props: ['text', 'icon']
}
</script>

<style scoped>

</style>
