<template>
    <v-flex xs12 px-3 py-3>
        <div>
            <ul class="list mb-3">
                <card-property-data
                    v-for="property in properties.alphaProperties"
                    :key="property.title"
                    :icon="`fas fa-${property.icon}`"
                    :dataItem="item[property.title]"
                />
                <card-property-data
                    v-for="property in properties.dateProperties"
                    :key="property.title"
                    :icon="`fas fa-${property.icon}`"
                    :dataItem="formatDate(item[property.title])"
                />
            </ul>
        </div>
        <v-divider v-if="!!$slots.default"></v-divider>
        <div v-if="!!$slots.default" class="mt-2">
            <slot></slot>
        </div>
    </v-flex>
</template>

<script>
import CardPropertyData from '@/components/card/CardPropertyData'
import {date} from '@/mixins/date'

export default {
  mixins: [date],
  props: {
    item: Object,
    properties: Object
  },
  components: {
    CardPropertyData
  }
}
</script>

<style scoped>

</style>
