<template>
    <v-flex xs12 pa-0>
        <div class="accent px-3 py-2">
            <h3 class="headline text-overflow font-weight-bold secondary--text">
                <slot></slot>
            </h3>
        </div>
    </v-flex>
</template>

<script>
export default {
}
</script>

<style scoped>
</style>
