<template>
    <v-alert
        class="message-width font-weight-bold mb-2"
        :value="errorListDisplay"
        type="error"
        transition="scale-transition"
        outline
    >
        <div v-for="error in errors" class="mb-0" :key="error">
            {{ error }}
        </div>
    </v-alert>
</template>

<script>
export default {
  props: {
    errorListDisplay: {
      type: Boolean,
      default: false
    },
    errors: {
      type: [Array, Object]
    }
  }
}
</script>

<style scoped>

</style>
