<template>
    <v-layout row mx-0>
        <v-flex class="info_bg" xs12 pa-2>
            <p class="info--text mb-0">
                {{ message }}
            </p>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
  props: ['message']
}
</script>

<style scoped>

</style>
