<template>
    <message-alert
        class="mb-2"
        :messageDisplay="messageDisplay"
        :message="message"
        :messageType="messageType"
    >
        <slot></slot>
    </message-alert>
</template>

<script>
import MessageAlert from '@/components/message/MessageAlert'

export default {
  props: {
    message: String,
    messageDisplay: {
      type: Boolean,
      default: false
    },
    messageType: {
      type: String,
      default: 'success'
    }
  },
  components: {
    MessageAlert
  }
}
</script>

<style scoped>

</style>
