<template>
    <v-flex xs6 sm3>
        <v-btn
            class="primary white--text"
            :loading="loading"
            :disabled="loading"
            block
        >
            {{ text }}
        </v-btn>
    </v-flex>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    text: String
  }
}
</script>

<style scoped>

</style>
