<template>
    <div class="file_input-wrapper info_bg text-xs-center pa-4">
        <p>{{ description }}</p>
        <div v-if="file || avatar" class="mb-2">
            <img class="edu_unit-logo" :src="thumbnail || avatar" alt="Educational Unit Logo">
        </div>
        <input
            class="file_input"
            name="file"
            @change="setFileToForm($event)"
            :ref="'fileInput'"
            type="file"
        />
        <v-btn class="white--text primary" :loading="loading" :disabled="loading" @click="clickInput">
            <slot></slot>
        </v-btn>
    </div>
</template>

<script>
import {file} from '@/mixins/rules'

export default {
  mixins: [file],
  props: {
    avatar: {
      type: [Object, String],
      default: ''
    },
    description: String,
    file: {
      type: [File, String],
      default: ''
    },
    maxSize: {
      type: Number,
      default: 2 * 1024 * 1024
    },
    fileTypes: {
      type: Array
    }
  },
  data () {
    return {
      thumbnail: '',
      loading: false
    }
  },
  methods: {
    clickInput () {
      this.$refs.fileInput.click()
    },
    async setFileToForm (event) {
      this.loading = true
      this.$emit('fileError', null)
      const file = event.target.files[0]
      if (file) {
        const data = await this.setImageThumbnail(file)
        const base64 = data.replace(/^data:image\/\w+;base64,/, '')
        if (this.validSize(file.size) && this.validType(file.type)) {
          this.$emit('file', base64)
        }
      }
      this.loading = false
    },
    setImageThumbnail (file) {
      return new Promise((resolve, reject) => {
        try {
          const reader = new FileReader()
          reader.onload = e => {
            this.thumbnail = e.target.result
            resolve(e.target.result)
          }
          reader.readAsDataURL(file)
        } catch (error) {
          reject(error)
        }
      })
    }
  }
}
</script>
<style scoped>
    .file_input-wrapper {
        border: 2px dashed #3d4ee2 !important;
    }
    .file_input {
        display: none;
    }
    .edu_unit-logo {
        max-width: 160px;
        max-height: 160px;
    }
</style>
