<template>
    <v-form ref="form">
        <form-subtitle>{{ $t('forms.userData.subtitles.accCreds') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.username"
                    :label="$t('forms.userData.labels.username')"
                    :placeholder="$t('forms.userData.placeholders.username')"
                    :hint="$t('forms.userData.hints.username')"
                    :rules="childUsernameRules"
                    counter="255"
                    prepend-icon="fas fa-user"
                    color="accent"
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.email"
                    :label="`${$t('forms.userData.labels.email')}*`"
                    :placeholder="$t('forms.userData.placeholders.email')"
                    :hint="$t('forms.userData.hints.email')"
                    :rules="emailRules"
                    counter="255"
                    prepend-icon="fas fa-envelope"
                    color="accent"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.password"
                    :type="showPassword ? 'text' : 'password'"
                    :label="`${$t('forms.userData.labels.password')}*`"
                    :hint="$t('forms.userData.hints.password')"
                    :rules="passwordRules"
                    counter="245"
                    prepend-icon="fas fa-unlock-alt"
                    :append-icon="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                    color="accent"
                    @click:append="showPassword = !showPassword"
                    required
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.passwordConfirm"
                    :type="showConfPassword ? 'text' : 'password'"
                    :label="`${$t('forms.userData.labels.confPassword')}*`"
                    :hint="$t('forms.userData.hints.confPassword')"
                    :rules="passwordConfRules"
                    counter="245"
                    prepend-icon="fas fa-unlock-alt"
                    :append-icon="showConfPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                    color="accent"
                    @click:append="showConfPassword = !showConfPassword"
                    required
                ></v-text-field>
            </v-flex>
        </v-layout>
        <form-subtitle>{{ $t('forms.userData.subtitles.personCreds') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.firstName"
                    :label="`${$t('forms.userData.labels.firstName')}*`"
                    :placeholder="$t('forms.userData.placeholders.firstName')"
                    :hint="$t('forms.userData.hints.firstName')"
                    :rules="firstNameRules"
                    counter="255"
                    prepend-icon="fas fa-signature"
                    color="accent"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.lastName"
                    :label="`${$t('forms.userData.labels.lastName')}*`"
                    :placeholder="$t('forms.userData.placeholders.lastName')"
                    :hint="$t('forms.userData.hints.lastName')"
                    :rules="lastNameRules"
                    counter="255"
                    prepend-icon="fas fa-signature"
                    color="accent"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.city"
                    :label="`${$t('forms.userData.labels.city')}*`"
                    :placeholder="$t('forms.userData.placeholders.city')"
                    :hint="$t('forms.userData.hints.city')"
                    :rules="cityRules"
                    counter="60"
                    prepend-icon="fas fa-city"
                    color="accent"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-select
                    v-model="formData.region"
                    :label="`${$t('forms.userData.labels.region')}*`"
                    :placeholder="$t('forms.userData.placeholders.region')"
                    :items="regions"
                    :rules="regionRules"
                    prepend-icon="fas fa-atlas"
                    color="accent"
                    required
                ></v-select>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-menu
                    v-model="datePickerSetup.menu"
                    :close-on-content-click="false"
                    full-width
                    max-width="290"
                >
                    <v-text-field
                        slot="activator"
                        :value="formatDate(formData.date)"
                        :label="`${$t('forms.userData.labels.birthday')}*`"
                        prepend-icon="fas fa-birthday-cake"
                        readonly
                    ></v-text-field>
                    <v-date-picker
                        :locale="lang"
                        :reactive="datePickerSetup.reactive"
                        :max="datePickerSetup.maxDate"
                        first-day-of-week="1"
                        color="primary"
                        v-model="formData.date"
                        @change="datePickerSetup.menu = false"
                        no-title
                    ></v-date-picker>
                </v-menu>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.phone"
                    :label="$t('forms.userData.labels.phone')"
                    :placeholder="$t('forms.userData.placeholders.phone')"
                    :hint="$t('forms.userData.hints.phone')"
                    :rules="phoneRules"
                    counter="15"
                    prepend-icon="fas fa-phone"
                    color="accent"
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
        <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
        <v-layout row wrap justify-center>
            <form-button :loading="loading" :text="$t('forms.userData.buttons.register')" @click.native="register"/>
            <form-button :text="$t('forms.userData.buttons.reset')" @click.native="reset"/>
        </v-layout>
    </v-form>
</template>

<script>
import {mapActions} from 'vuex'
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import FormSubtitle from '@/components/form/FormSubtitle'
import {date, datePicker} from '@/mixins/date'
import {responses, clearResponseMessage, setResponseMessage, reset} from '@/mixins/form'
import {city, childUsername, email, firstName, lastName, password, passwordConf, phone, region} from '@/mixins/rules'
import {lang} from '@/mixins/lang'
import {user} from '@/mixins/user'
import regions from '@/locale/regions/pl.json'

export default {
  mixins: [
    city,
    childUsername,
    email,
    firstName,
    lastName,
    password,
    passwordConf,
    phone,
    region,
    date,
    datePicker,
    responses,
    reset,
    clearResponseMessage,
    setResponseMessage,
    lang,
    user
  ],
  data () {
    return {
      formData: {
        username: '',
        email: '',
        password: '',
        passwordConfirm: '',
        firstName: '',
        lastName: '',
        city: '',
        region: '',
        phone: '',
        date: this.$moment().toISOString()
      },
      displayNewChildFormComponent: false,
      showPassword: false,
      showConfPassword: false,
      loading: false,
      errors: null
    }
  },
  computed: {
    regions () {
      return regions['pl']
    }
  },
  methods: {
    ...mapActions({
      createChild: 'children/createChild'
    }),
    async register () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          const {email, firstName, lastName} = this.user
          this.formData.parent = {email, firstName, lastName}
          const {message, type} = await this.createChild(this.formData)
          this.setResponseMessage(message, type)
          this.reset()
          this.loading = false
        }
      } catch (error) {
        this.errors = error
        this.loading = false
      }
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse,
    FormSubtitle
  }
}
</script>

<style scoped>

</style>
