<template>
    <v-flex class="primary" xs12 py-3>
        <p class="subheading text-xs-center white--text mb-0">&copy; {{ $moment().format('YYYY') }} SOZI - Paweł Spierewka</p>
    </v-flex>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
