<template>
    <v-flex xs12>
        <v-navigation-drawer v-model="sideNav" class="primary" temporary absolute>
            <div v-if="user" class="text-xs-center my-3">
                <v-icon class="profile-icon white--text">{{ `fas fa-user${profileIcon}` }}</v-icon>
                <p class="headline font-weight-bold white--text mb-0">{{ user.firstName }} {{ user.lastName }}</p>
                <p class="subheading font-italic white--text mb-0">
                    {{ translatedRoles.join(', ') }}
                </p>
            </div>
            <v-list v-if="user" class="pb-0">
                <v-list-tile
                    v-for="item in filteredMenuItems"
                    class="side_nav-btn py-2"
                    :key="item.title"
                    :to="item.path !== '/logout' ? `/${lang}${item.path}` : item.path"
                    router
                >
                    <v-list-tile-action>
                        <v-icon color="white">{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="nav_item--height font-weight-bold white--text">{{ $t(item.localePath) }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-list class="pt-0">
                <v-list-tile
                    v-for="item in filteredAuthItems"
                    class="side_nav-btn py-2"
                    :key="item.title"
                    :to="item.path !== '/logout' ? `/${lang}${item.path}` : item.path"
                    router
                >
                    <v-list-tile-action>
                        <v-icon color="white">{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="nav_item--height font-weight-bold white--text">{{ $t(item.localePath) }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <language-switcher class="my-3"/>
        </v-navigation-drawer>
        <v-toolbar class="primary" :height="64">
            <v-toolbar-title class="font-weight-bold white--text">SOZI</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-layout class="hidden-sm-and-down" fill-height row justify-end>
                <div class="d-flex fill-height row" v-if="!isAuthenticated">
                    <v-toolbar-items
                        v-for="item in authItems"
                        :key="item.title"
                    >
                        <v-btn
                            v-if="isAuthenticated === item.securedMode"
                            :to="item.path !== '/logout' ? `/${lang}${item.path}` : item.path"
                            class="font-weight-bold white--text"
                            flat
                        >
                            {{ $t(item.localePath) }}
                        </v-btn>
                    </v-toolbar-items>
                </div>
                <language-switcher/>
            </v-layout>
            <v-toolbar-side-icon
                class="hidden-md-and-up white--text"
                @click.stop="sideNav = !sideNav"
            ></v-toolbar-side-icon>
        </v-toolbar>
    </v-flex>
</template>

<script>
import AppLanguageSwitcher from '@/components/app/AppLanguageSwitcher'
import {date} from '@/mixins/date'
import {lang} from '@/mixins/lang'
import {filterMenuItems,
  isAuthenticated,
  profileIcon,
  roles,
  translatedRoles,
  user} from '@/mixins/user'

export default {
  mixins: [
    date,
    lang,
    filterMenuItems,
    isAuthenticated,
    profileIcon,
    roles,
    translatedRoles,
    user
  ],
  data () {
    return {
      sideNav: false,
      authItems: [
        {title: 'Sign In', localePath: 'header.links.signIn', path: '/login', icon: 'fas fa-sign-in-alt', securedMode: false},
        {title: 'Sign Up', localePath: 'header.links.signUp', path: '/register', icon: 'fas fa-user-plus', securedMode: false},
        {title: 'Log Out', localePath: 'header.links.logOut', path: `/logout`, icon: 'fas fa-sign-out-alt', securedMode: true}
      ],
      menuItems: [
        {title: 'Home', localePath: 'views.User.SideNav.links.home', path: '/user/home', icon: 'fas fa-home', securedMode: true, roleRightsLvl: 'all'},
        {title: 'Profile', localePath: 'views.User.SideNav.links.profile', path: '/user/profile', icon: 'fas fa-user-circle', securedMode: true, roleRightsLvl: 'all'},
        {title: 'Children', localePath: 'views.User.SideNav.links.children', path: '/user/children', icon: 'fas fa-child', securedMode: true, roleRightsLvl: 'parent'},
        {title: 'Students', localePath: 'views.User.SideNav.links.students', path: '/user/students', icon: 'fas fa-user-graduate', securedMode: true, roleRightsLvl: 'ATM'},
        {title: 'Educational Units', localePath: 'views.User.SideNav.links.educationalUnits', path: `/user/eduUnits`, icon: 'fa-graduation-cap', securedMode: true, roleRightsLvl: 'all'},
        {title: 'Lessons', localePath: 'views.User.SideNav.links.lessons', path: `/user/lessons`, icon: 'fas fa-chalkboard', securedMode: true, roleRightsLvl: 'all'}
      ]
    }
  },
  computed: {
    filteredAuthItems () {
      return this.authItems.filter(item => this.isAuthenticated === item.securedMode)
    }
  },
  components: {
    LanguageSwitcher: AppLanguageSwitcher
  }
}
</script>

<style scoped>
    .profile-icon {
        font-size: 64px;
        margin: 15px;
    }
</style>
