<template>
    <ul id="languageSwitcher" class="lang-switcher_list">
        <li
            v-for="language in languages"
            :key="language.name"
            class="lang-switcher_list_item ml-2"
        >
            <img
                class="lang-switcher_list_item_image"
                :src="language.imagePath"
                :alt="language.alt"
                @click="setLanguage(language.name)"
            >
        </li>
    </ul>
</template>

<script>
import flagPL from '@/assets/images/flag-icons/flag-pl.png'
import flagEN from '@/assets/images/flag-icons/flag-en.png'
import flagDE from '@/assets/images/flag-icons/flag-de.png'

export default {
  data () {
    return {
      languages: [
        {name: 'pl', imagePath: flagPL, alt: 'Polish'},
        {name: 'en', imagePath: flagEN, alt: 'English'},
        {name: 'de', imagePath: flagDE, alt: 'German'}
      ]
    }
  },
  methods: {
    setLanguage (lang) {
      this.$store.dispatch('locale/setLang', lang)
        .then(() => this.$router.replace(`/${lang + this.$route.fullPath.substring(this.$route.params.lang.length + 1)}`))
    }
  }
}
</script>

<style scoped>
    .lang-switcher_list {
        padding: 0 10px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lang-switcher_list_item {
        width: 32px;
        height: 24px;
    }
    .lang-switcher_list_item:hover {
        cursor: pointer;
    }
    .lang-switcher_list_item_image {
        width: inherit;
        height: inherit;
    }
</style>
