<template>
    <v-flex d-flex>
        <v-layout column>
            <view-title>{{ $t('views.Children.headings.main') }}</view-title>
            <view-content>
                <v-flex d-flex>
                    <v-layout justify-start row wrap>
                        <v-flex v-if="page === 1" class="new_item-dialog_btn--height align-center" d-flex xs12 lg4>
                            <div class="text-xs-center">
                                <child-registration/>
                            </div>
                        </v-flex>
                        <v-flex v-for="child in paginatedChildren" :key="child.id" xs12 lg4 py-3>
                            <card
                                v-if="child"
                                :key="child.id"
                                :item="child"
                                :itemIcon="childItemIcon"
                                :itemHeader="setCardHeader(child.firstName, child.lastName)"
                                :itemProperties="childItemProperties"
                            >
                                <visit-profile :id="child.id"/>
                            </card>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <pagination
                    v-if="totalChildren > 5"
                    @setPage="setPage"
                    :paginationLength="paginationLength(rowsQuantity)"
                    :paginationPage="page"
                />
            </view-content>
        </v-layout>
    </v-flex>
</template>

<script>
import ActionChildRegistration from '@/components/action/children/ActionChildRegistration'
import ViewUserViewTitle from '@/views/user/ViewUserViewTitle'
import ViewUserViewContent from '@/views/user/ViewUserViewContent'
import {setCardHeader} from '@/mixins/card'
import {paginationSetup, setPage} from '@/mixins/pagination'
import {fetchChildren} from '@/mixins/api'
import {children} from '@/mixins/children'
import {childItem} from '@/mixins/listItems'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const Card = () => import('@/components/card/Card')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    setCardHeader,
    paginationSetup,
    setPage,
    fetchChildren,
    children,
    childItem
  ],
  data () {
    return {
      paginatedChildren: []
    }
  },
  methods: {
    setPage (page) {
      this.page = page
      this.paginatedChildren = this.pageChildren(page, this.rowsQuantity)
    }
  },
  watch: {
    children () {
      this.paginatedChildren = this.pageChildren(this.page, this.rowsQuantity)
    }
  },
  components: {
    VisitProfile: ActionVisitProfile,
    ViewTitle: ViewUserViewTitle,
    ViewContent: ViewUserViewContent,
    ChildRegistration: ActionChildRegistration,
    Card,
    Pagination
  }
}
</script>

<style scoped>

</style>
