<template>
    <v-card color="grey lighten-4" min-width="320px" max-width="520px" flat>
        <v-toolbar color="primary" dark>
            <v-toolbar-title class="text-overflow">
                {{ lesson.Course.Subject.name.charAt(0).toUpperCase() + lesson.Course.Subject.name.slice(1) }} - {{ lesson.Course.title }}
            </v-toolbar-title>
        </v-toolbar>
        <v-card-title class="py-3" primary-title>
            <span class="title">
                {{ $moment(lesson.date).format('H:mm') }} – {{ $moment(lesson.date).add(lesson.duration, 'minutes').format('H:mm') }}, {{ $moment(lesson.date).format('DD.MM.YYYY')}}
            </span>
        </v-card-title>
        <v-card-text class="pt-0 pb-2">
            <ul class="list mb-3">
                <item-property-data icon="fas fa-university" :data="lesson.Course.EducationalUnit.name"/>
                <item-property-data v-if="['student', 'parent', 'manager'].includes(role)" icon="fas fa-user-tie" :data="`${lesson.Course.Teacher.firstName} ${lesson.Course.Teacher.lastName}`"/>
                <item-property-data v-if="['teacher', 'manager', 'parent'].includes(role)" icon="fas fa-user-graduate" :data="`${lesson.student.firstName} ${lesson.student.lastName}`"/>
                <item-property-data :icon="lesson.isActive ? 'fas fa-toggle-on' : 'fas fa-toggle-off'" :data="lesson.isActive ? $t('calendar.card.active') : $t('calendar.card.inactive')"/>
                <item-property-data icon="fas fa-hand-holding-usd" :data="lesson.paymentStatus ? $t('calendar.card.paid') : $t('calendar.card.notpaid')"/>
            </ul>
            <v-divider></v-divider>
            <div class="mt-2">
                <visit-profile :id="lesson.id" profileType="lesson"/>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
import ActionVisitProfile from '@/components/action/profile/ActionVisitProfile'
import ItemListItemPropertyData from '@/components/itemList/ItemListItemPropertyData'

export default {
  props: {
    lesson: Object,
    role: String
  },
  components: {
    VisitProfile: ActionVisitProfile,
    ItemPropertyData: ItemListItemPropertyData
  }
}
</script>

<style scoped>

</style>
