<template>
    <v-layout wrap>
            <v-flex class="calendar_type--width text-xs-center" xs12 sm4>
                <v-select
                    :label="$t('calendar.buttons.type')"
                    :items="typeOptions"
                    v-model="type"
                ></v-select>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex class="calendar_nav--width text-sm-right text-xs-center" d-flex xs12 sm4>
                <v-layout row>
                    <v-flex xs6 px-0>
                        <v-btn class="primary white--text ml-0" @click="$refs.calendar.prev()">
                            <v-icon class="mr-1" left>keyboard_arrow_left</v-icon>
                            {{ $t('calendar.buttons.prev') }}
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 px-0>
                        <v-btn class="primary white--text mr-0" @click="$refs.calendar.next()">
                            {{ $t('calendar.buttons.next') }}
                            <v-icon class="ml-1" right>keyboard_arrow_right</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex class="calendar--overflow" xs12 my-3>
                <create-lesson
                    v-if="['manager', 'teacher'].includes(role)"
                    :displayDialog="displayDialog"
                    :lessonDate="lessonDate"
                    :role="role"
                    @changeDisplayDialogState="displayDialog = $event"
                />
                <v-sheet height="500">
                    <v-calendar
                        color="primary"
                        ref="calendar"
                        v-model="selectedDay"
                        :value="today"
                        :type="type"
                        :locale="lang"
                        first-interval="6"
                        :short-intervals="false"
                        :short-months="false"
                        :short-weekdays="false"
                        :weekdays="[1, 2, 3, 4, 5, 6, 0]"
                        :interval-format="(value) => value.time"
                        @click:date="(calendar) => createLesson(calendar)"
                    >
                        <template slot="day" slot-scope="{date}">
                            <template v-for="lesson in lessonsMap[date]">
                                <v-menu
                                    class="mr-1 mb-1"
                                    :key="lesson.id"
                                    v-model="lesson.open"
                                    min-width="320px"
                                >
                                    <div
                                        slot="activator"
                                        v-ripple
                                        class="my-event"
                                    >
                                        {{ getTitle(lesson) }}
                                    </div>
                                    <calendar-lesson-card :lesson="lesson" :role="role"/>
                                </v-menu>
                            </template>
                        </template>
                        <template slot="dayBody" slot-scope="{date, timeToY, minutesToPixels}">
                            <template v-for="lesson in lessonsMap[date]">
                                <v-menu
                                    :key="lesson.id"
                                    v-model="lesson.open"
                                    min-width="320px"
                                >
                                    <div
                                        slot="activator"
                                        :style="{ top: timeToY($moment(lesson.date).format('H:mm')) + 'px', height: minutesToPixels(lesson.duration) + 'px' }"
                                        class="my-event with-time"
                                    >
                                        {{ getTitle(lesson) }}
                                    </div>
                                    <calendar-lesson-card :lesson="lesson" :role="role"/>
                                </v-menu>
                            </template>
                        </template>
                    </v-calendar>
                </v-sheet>
            </v-flex>
        </v-layout>
</template>

<script>
import {lang} from '@/mixins/lang'
const ActionCreateLesson = () => import('@/components/action/lessons/ActionCreateLesson')
const CalendarLessonCard = () => import('@/components/calendar/CalendarLessonCard')

export default {
  mixins: [lang],
  props: {
    lessons: Array,
    role: String
  },
  data () {
    return {
      type: 'month',
      displayDialog: false,
      lessonDate: null,
      today: this.$moment().format('YYYY-MM-DD'),
      selectedDay: this.$moment().format('YYYY-MM-DD'),
      typeOptions: [
        {text: this.$t('calendar.options.day'), value: 'day'},
        {text: this.$t('calendar.options.4day'), value: '4day'},
        {text: this.$t('calendar.options.week'), value: 'week'},
        {text: this.$t('calendar.options.month'), value: 'month'}
      ]
    }
  },
  computed: {
    lessonsMap () {
      const map = {}
      this.lessons.forEach(lesson => (map[this.$moment(lesson.date).format('YYYY-MM-DD')] = map[this.$moment(lesson.date).format('YYYY-MM-DD')] || []).push(lesson))
      return map
    }
  },
  methods: {
    createLesson (calendar) {
      if (['teacher', 'manager'].includes(this.role) && this.$moment(this.today).isSameOrBefore(calendar.date)) {
        this.displayDialog = !this.displayDialog
        this.lessonDate = calendar.date
      }
    },
    getTitle (lesson) {
      if (['manager', 'teacher', 'parent'].includes(this.role)) {
        return `${this.$moment(lesson.date).format('H:mm')} - ${lesson.student.firstName} ${lesson.student.lastName}`
      } else {
        return `${this.$moment(lesson.date).format('H:mm')} - ${lesson.Course.Subject.name}`
      }
    }
  },
  watch: {
    selectedDay (newDate) {
      this.$emit('updateLessons', newDate)
    }
  },
  components: {
    CreateLesson: ActionCreateLesson,
    CalendarLessonCard
  }
}
</script>

<style scoped>
    .calendar--overflow {
        overflow-x: scroll;
    }
    .calendar_type--width {
        max-width: 320px;
    }
    .calendar_nav--width {
        max-width: 320px;
    }
    .my-event {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 2px;
        background-color: #1867c0;
        color: #ffffff;
        border: 1px solid #1867c0;
        width: 100%;
        font-size: 12px;
        padding: 3px;
        cursor: pointer;
        margin-bottom: 1px;
    }
    .my-event.with-time {
         position: absolute;
         margin-right: 0px;
     }
</style>
