<template>
    <v-form ref="form">
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-autocomplete
                    v-model="formData.studentId"
                    :label="`${$t('forms.courseData.labels.studentName')}*`"
                    :placeholder="$t('forms.courseData.placeholders.studentName')"
                    :hint="$t('forms.courseData.hints.studentName')"
                    :no-data-text="$t('forms.courseData.labels.noStudentAvailable')"
                    :rules="lessonStudentRules"
                    :items="students"
                    counter="255"
                    prepend-icon="fas fa-user-graduate"
                    item-text="lastName"
                    item-value="id"
                    :search-input.sync="searchStudentName"
                    clearable
                >
                    <template slot="selection" slot-scope="data">
                        {{ data.item.firstName }} {{ data.item.lastName }}
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ data.item.firstName }} {{ data.item.lastName }} ({{ formatDate(data.item.birthday) }})
                    </template>
                </v-autocomplete>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-select
                    class="select_item-width mx-auto"
                    v-model="teacher"
                    :label="`${$t('forms.courseData.labels.teacher')}*`"
                    :placeholder="$t('forms.courseData.labels.teacher')"
                    :no-data-text="$t('forms.courseData.labels.noTeacherAvailable')"
                    :items="teachers"
                    prepend-icon="fas fa-user-tie"
                    required
                    disabled
                >
                    <template slot="selection" slot-scope="data">
                        {{ `${data.item.firstName} ${data.item.lastName}` }}
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ `${data.item.firstName} ${data.item.lastName}` }}
                    </template>
                </v-select>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.lessonQuantity"
                    :label="`${$t('forms.courseData.labels.lessonQuantity')}*`"
                    :placeholder="$t('forms.courseData.placeholders.lessonQuantity')"
                    :hint="$t('forms.courseData.hints.lessonQuantity')"
                    :rules="lessonQuantityRules"
                    type="number"
                    prepend-icon="fas fa-chalkboard"
                    min="0"
                    step="1"
                    required
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.price"
                    :label="`${$t('forms.courseData.labels.price')}*`"
                    :placeholder="$t('forms.courseData.placeholders.price')"
                    :hint="$t('forms.courseData.hints.price')"
                    :rules="lessonPriceRules"
                    prepend-icon="fas fa-dollar-sign"
                    :suffix="$t('forms.courseData.unities.currency')"
                    required
                    disabled
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-menu
                    v-model="datePickerSetup.menu"
                    :close-on-content-click="false"
                    full-width
                    max-width="290"
                >
                    <v-text-field
                        slot="activator"
                        :value="formatDate(formData.fromDate)"
                        :label="`${$t('forms.courseData.labels.fromDate')}*`"
                        prepend-icon="fas fa-calendar-alt"
                        readonly
                    ></v-text-field>
                    <v-date-picker
                        v-model="formData.fromDate"
                        :locale="lang"
                        :reactive="datePickerSetup.reactive"
                        :min="datePickerSetup.maxDate"
                        first-day-of-week="1"
                        color="primary"
                        header-color="green"
                        @change="datePickerSetup.menu = false"
                        no-title
                    ></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <p class="v-label body-1 mb-1" style="color: rgba(0,0,0,.54);">{{ $t('forms.courseData.labels.day') }}*</p>
        <v-layout class="mb-2" row wrap>
            <v-flex v-for="day in days" class="py-0" :key="day" xs12 sm6 md4>
                <v-checkbox
                    class="mt-0"
                    v-model="formData.days"
                    :label="$t(`days.${day}`)"
                    :rules="lessonDaysRules"
                    :value="day"
                    :key="day"
                    required
                ></v-checkbox>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.time"
                    :label="`${$t('forms.courseData.labels.time')}*`"
                    :placeholder="$t('forms.courseData.placeholders.time')"
                    :hint="$t('forms.courseData.hints.time')"
                    :rules="lessonTimeRules"
                    prepend-icon="fas fa-clock"
                    mask="time"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.duration"
                    :label="`${$t('forms.courseData.labels.duration')}*`"
                    :placeholder="$t('forms.courseData.placeholders.duration')"
                    :hint="$t('forms.courseData.hints.duration')"
                    :rules="lessonDurationRules"
                    prepend-icon="fas fa-stopwatch"
                    type="number"
                    min="0"
                    step="5"
                    :suffix="$t('forms.courseData.unities.minutes')"
                    required
                ></v-text-field>
            </v-flex>
        </v-layout>
        <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
        <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
        <v-layout row wrap justify-center>
            <form-button :loading="loading" :text="$t('forms.eduUnitData.buttons.register')" @click.native="register"/>
            <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="reset"/>
        </v-layout>
    </v-form>
</template>

<script>
import {mapActions} from 'vuex'
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import EduUnitService from '@/services/EduUnitService'
import {date, datePicker} from '@/mixins/date'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {lessonDays, lessonDuration, lessonPrice, lessonQuantity, lessonStudent, lessonTime} from '@/mixins/rules'
import {days} from '@/mixins/calendar'
import {lang} from '@/mixins/lang'
import {user} from '@/mixins/user'

export default {
  mixins: [
    lessonDays,
    lessonDuration,
    lessonPrice,
    lessonQuantity,
    lessonStudent,
    lessonTime,
    date,
    datePicker,
    days,
    responses,
    clearResponseMessage,
    setResponseMessage,
    lang,
    user
  ],
  props: {
    course: Object,
    unit: Object
  },
  data () {
    return {
      formData: {
        lessonQuantity: 0,
        duration: 45,
        price: '0.00',
        fromDate: null,
        days: [],
        time: '0800',
        teacherId: null,
        studentId: null
      },
      loading: false,
      searchStudentName: null,
      students: [],
      teachers: [],
      teacher: null,
      errors: null
    }
  },
  created () {
    this.setDefaultCourseData()
  },
  methods: {
    ...mapActions({
      createLessons: 'lessons/myCourses/createLessons'
    }),
    async register () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          if (!this.formData.studentId) {
            this.errors = {student: this.$t('messages.errors.UndefinedStudent')}
            this.loading = false
            return
          }
          const {message, type} = await this.createLessons({
            unitId: this.unit.id,
            courseId: this.course.id,
            formData: this.formData
          })
          this.setResponseMessage(message, type)
          this.reset()
          this.loading = false
        }
      } catch (error) {
        this.errors = error
        this.loading = false
      }
    },
    reset () {
      this.$refs.form.resetValidation()
      this.formData.studentId = null
      this.setDefaultCourseData()
    },
    setDefaultCourseData () {
      this.teachers = [this.user, ...this.unit.teachers]
      this.teacher = this.teachers.find(teacher => teacher.id === this.course.teacherId) || this.user
      this.formData.teacherId = this.course.teacherId
      this.formData.lessonQuantity = this.course.lessonQuantity || 0
      this.formData.duration = this.course.defaultDuration
      this.formData.price = this.course.defaultPrice
      this.formData.fromDate = this.$moment().format()
      this.formData.days = this.course.defaultDay
      this.formData.time = `${this.course.defaultTime.substring(0, 2)}${this.course.defaultTime.substring(3)}`
    }
  },
  watch: {
    async searchStudentName (value) {
      if (value && value.length > 1) {
        const {data} = await EduUnitService.fetchStudentsByLastName(this.unit.id, value)
        this.students = data.students
      } else {
        this.student = []
      }
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse
  }
}
</script>

<style scoped>

</style>
