<template>
    <v-form>
        <p class="title mb-3">{{ text }}</p>
        <v-layout row justify-center>
            <form-button :loading="loading" :text="$t('forms.basic.buttons.confirm')" @click.native="changeStatus"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'

export default {
  props: {
    status: Boolean,
    text: String
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    changeStatus () {
      this.loading = true
      this.$emit('status', {dialogState: false, status: !this.status})
      this.loading = false
    }
  },
  components: {
    FormButton
  }
}
</script>

<style scoped>

</style>
