<template>
    <v-form ref="form">
        <form-subtitle>{{ $t('forms.courseData.subtitles.basicData') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-text-field
                    v-model="formData.title"
                    :label="`${$t('forms.courseData.labels.title')}*`"
                    :placeholder="$t('forms.courseData.placeholders.title')"
                    :hint="$t('forms.courseData.hints.title')"
                    :rules="courseTitleRules"
                    counter="255"
                    prepend-icon="fas fa-chalkboard-teacher"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12>
                <v-textarea
                    v-model="formData.description"
                    :label="`${$t('forms.courseData.labels.description')}*`"
                    :placeholder="$t('forms.courseData.placeholders.description')"
                    :hint="$t('forms.courseData.hints.description')"
                    :rules="courseDescriptionRules"
                    counter="1000"
                    prepend-icon="fas fa-pen-fancy"
                    box
                    required
                    clearable
                ></v-textarea>
            </v-flex>
        </v-layout>
        <form-subtitle>{{ $t('forms.courseData.subtitles.subjectData') }}</form-subtitle>
        <p>{{ $t('forms.courseData.options.chooseSubject') }}</p>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12>
                <v-autocomplete
                    v-model="formData.subject.id"
                    :label="$t('forms.courseData.labels.subjectName')"
                    :placeholder="$t('forms.courseData.placeholders.subjectName')"
                    :hint="$t('forms.courseData.hints.subjectName')"
                    :no-data-text="$t('forms.courseData.labels.noSubjectAvailable')"
                    :items="subjects"
                    counter="60"
                    prepend-icon="fas fa-pencil-ruler"
                    item-text="name"
                    item-value="id"
                    :search-input.sync="searchSubjectName"
                    :disabled="isDisabledAutocomplete"
                    clearable
                />
            </v-flex>
        </v-layout>
        <p>{{ $t('forms.courseData.options.newSubject') }}</p>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-text-field
                    v-model="formData.subject.name"
                    :label="$t('forms.courseData.labels.subjectName')"
                    :placeholder="$t('forms.courseData.placeholders.subjectName')"
                    :hint="$t('forms.courseData.hints.subjectName')"
                    :rules="subjectNameRules"
                    counter="60"
                    prepend-icon="fas fa-pencil-ruler"
                    :disabled="isDisabledNewSubject"
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12>
                <v-textarea
                    v-model="formData.subject.description"
                    :label="$t('forms.courseData.labels.subjectDescription')"
                    :placeholder="$t('forms.courseData.placeholders.subjectDescription')"
                    :hint="$t('forms.courseData.hints.subjectDescription')"
                    :rules="descriptionRules"
                    counter="1000"
                    prepend-icon="fas fa-pencil-alt"
                    :disabled="isDisabledNewSubject"
                    box
                    clearable
                ></v-textarea>
            </v-flex>
        </v-layout>
        <form-subtitle>{{ $t('forms.courseData.subtitles.lessonData') }}</form-subtitle>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.defaultTime"
                    :label="`${$t('forms.courseData.labels.defaultTime')}*`"
                    :placeholder="$t('forms.courseData.placeholders.defaultTime')"
                    :hint="$t('forms.courseData.hints.time')"
                    :rules="lessonTimeRules"
                    prepend-icon="fas fa-clock"
                    mask="time"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.defaultDuration"
                    :label="`${$t('forms.courseData.labels.defaultDuration')}*`"
                    :placeholder="$t('forms.courseData.placeholders.defaultDuration')"
                    :hint="$t('forms.courseData.hints.duration')"
                    :rules="lessonDurationRules"
                    prepend-icon="fas fa-stopwatch"
                    type="number"
                    min="0"
                    step="5"
                    :suffix="$t('forms.courseData.unities.minutes')"
                    required
                ></v-text-field>
            </v-flex>
        </v-layout>
        <p class="v-label body-1 mb-1" style="color: rgba(0,0,0,.54);">{{ $t('forms.courseData.labels.defaultDay') }}*</p>
        <v-layout class="mb-2" row wrap>
            <v-flex v-for="day in days" class="py-0" :key="day" xs12 sm6 md4>
                <v-checkbox
                    class="mt-0"
                    v-model="formData.defaultDay"
                    :label="$t(`days.${day}`)"
                    :rules="lessonDaysRules"
                    :value="day"
                    :key="day"
                ></v-checkbox>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
            <v-select
                class="select_item-width mx-auto"
                v-model="teacher"
                :label="`${$t('forms.courseData.labels.teacher')}*`"
                :placeholder="$t('forms.courseData.placeholders.teacher')"
                :no-data-text="$t('forms.courseData.labels.noTeacherAvailable')"
                :items="teachers"
                prepend-icon="fas fa-user-tie"
                required
            >
                <template slot="selection" slot-scope="data">
                    {{ `${data.item.firstName} ${data.item.lastName}` }}
                </template>
                <template slot="item" slot-scope="data">
                    {{ `${data.item.firstName} ${data.item.lastName}` }}
                </template>
            </v-select>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.defaultPrice"
                    :label="`${$t('forms.courseData.labels.price')}*`"
                    :placeholder="$t('forms.courseData.placeholders.defaultPrice')"
                    :hint="$t('forms.courseData.hints.price')"
                    :rules="lessonPriceRules"
                    prepend-icon="fas fa-dollar-sign"
                    :suffix="$t('forms.courseData.unities.currency')"
                    required
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.lessonQuantity"
                    :label="$t('forms.courseData.labels.lessonQuantity')"
                    :placeholder="$t('forms.courseData.placeholders.lessonQuantity')"
                    :hint="$t('forms.courseData.hints.lessonQuantity')"
                    :rules="lessonQuantityRules"
                    prepend-icon="fas fa-chalkboard"
                    type="number"
                    min="0"
                    step="1"
                ></v-text-field>
            </v-flex>
        </v-layout>
        <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
        <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
        <v-layout row wrap justify-center>
            <form-button :loading="loading" :text="$t('forms.eduUnitData.buttons.register')" @click.native="register"/>
            <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="reset"/>
        </v-layout>
    </v-form>
</template>

<script>
import {mapActions} from 'vuex'
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import FormSubtitle from '@/components/form/FormSubtitle'
import SubjectService from '@/services/SubjectService'
import {responses, clearResponseMessage, setResponseMessage, reset} from '@/mixins/form'
import {courseDescription, courseTitle, description, lessonDays, lessonDuration, lessonQuantity, lessonPrice, lessonTime, subjectName} from '@/mixins/rules'
import {days} from '@/mixins/calendar'
import {user} from '@/mixins/user'

export default {
  mixins: [
    courseDescription,
    courseTitle,
    description,
    lessonDays,
    lessonDuration,
    lessonQuantity,
    lessonPrice,
    lessonTime,
    subjectName,
    days,
    responses,
    reset,
    clearResponseMessage,
    setResponseMessage,
    user
  ],
  props: {
    unit: Object
  },
  data () {
    return {
      formData: {
        title: '',
        description: '',
        lessonQuantity: 0,
        defaultDuration: 45,
        defaultPrice: '0.00',
        defaultDay: [],
        defaultTime: '0800',
        teacherId: null,
        subject: {
          id: null,
          name: '',
          description: ''
        }
      },
      loading: false,
      searchSubjectName: null,
      subjects: [],
      teacher: null,
      errors: null
    }
  },
  created () {
    this.teacher = this.user
  },
  computed: {
    isDisabledAutocomplete () {
      return this.formData.subject.name !== '' || this.formData.subject.description !== ''
    },
    isDisabledNewSubject () {
      return !!this.formData.subject.id
    },
    teachers () {
      return [this.user, ...this.unit.teachers]
    }
  },
  methods: {
    ...mapActions({
      createCourse: 'lessons/myCourses/createCourse'
    }),
    async register () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          this.formData.defaultTime = `${this.formData.defaultTime.substring(0, 2)}:${this.formData.defaultTime.substring(2)}`
          if (!this.formData.subject.id && !this.formData.subject.name && !this.formData.subject.description) {
            this.errors = {subject: this.$t('messages.errors.UndefinedSubject')}
            return
          }
          if ((!this.formData.subject.name && this.formData.subject.description) || (this.formData.subject.name && !this.formData.subject.description)) {
            this.errors = {subject: this.$t('messages.errors.EmptySubjectField')}
            return
          }
          this.formData.teacherId = this.teacher.id
          const {message, type} = await this.createCourse({unitId: this.unit.id, formData: this.formData})
          this.setResponseMessage(message, type)
          this.reset()
          this.loading = false
        }
      } catch (error) {
        this.errors = error
        this.loading = false
      }
    }
  },
  watch: {
    async searchSubjectName (value) {
      if (value && value.length >= 2) {
        const {data} = await SubjectService.fetchSubjects(value.toLowerCase())
        this.subjects = data.subjects
      } else {
        this.subjects = []
      }
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse,
    FormSubtitle
  }
}
</script>

<style scoped>

</style>
