<template>
    <v-form ref="form">
        <form-subtitle>{{ $t('forms.lessonData.subtitles.requiredData') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-select
                    class="select_item-width mx-auto"
                    v-model="unit"
                    :label="`${$t('forms.lessonData.labels.unit')}*`"
                    :placeholder="$t('forms.lessonData.placeholders.unit')"
                    :no-data-text="$t('forms.lessonData.labels.noUnitAvailable')"
                    :items="units"
                    prepend-icon="fas fa-university"
                    required
                >
                    <template slot="selection" slot-scope="data">
                        {{ data.item.name }}
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ data.item.name }}
                    </template>
                </v-select>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-select
                    class="select_item-width mx-auto"
                    v-model="course"
                    :label="`${$t('forms.lessonData.labels.course')}*`"
                    :placeholder="$t('forms.lessonData.placeholders.course')"
                    :no-data-text="$t('forms.lessonData.labels.noCourseAvailable')"
                    :rules="lessonCourseRules"
                    :items="courses"
                    prepend-icon="fas fa-chalkboard-teacher"
                    required
                >
                    <template slot="selection" slot-scope="data">
                        {{ data.item.title }} ({{ $t('forms.lessonData.labels.subject') }}: {{ data.item.Subject.name}} | {{ $t('forms.lessonData.labels.students') }}: {{ data.item.students.length}})
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ data.item.title }} ({{ $t('forms.lessonData.labels.subject') }}: {{ data.item.Subject.name}} | {{ $t('forms.lessonData.labels.students') }}: {{ data.item.students.length}})
                    </template>
                </v-select>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-autocomplete
                    v-model="formData.studentId"
                    :label="`${$t('forms.lessonData.labels.studentName')}*`"
                    :placeholder="$t('forms.lessonData.placeholders.studentName')"
                    :hint="$t('forms.courseData.hints.studentName')"
                    :no-data-text="$t('forms.lessonData.labels.noStudentAvailable')"
                    :rules="lessonStudentRules"
                    :items="students"
                    counter="255"
                    prepend-icon="fas fa-user-graduate"
                    item-text="lastName"
                    item-value="id"
                    :search-input.sync="searchStudentName"
                    required
                    clearable
                >
                    <template slot="selection" slot-scope="data">
                        {{ data.item.firstName }} {{ data.item.lastName }}
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ data.item.firstName }} {{ data.item.lastName }} ({{ formatDate(data.item.birthday) }})
                    </template>
                </v-autocomplete>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-menu
                    v-model="datePickerSetup.menu"
                    :close-on-content-click="false"
                    full-width
                    max-width="290"
                >
                    <v-text-field
                        slot="activator"
                        :value="formatDate(lessonDate)"
                        :label="`${$t('forms.lessonData.labels.date')}*`"
                        prepend-icon="fas fa-calendar-alt"
                        required
                        readonly
                    ></v-text-field>
                    <v-date-picker
                        v-model="lessonDate"
                        :locale="lang"
                        :reactive="datePickerSetup.reactive"
                        :min="datePickerSetup.minDate"
                        first-day-of-week="1"
                        color="primary"
                        header-color="green"
                        @change="datePickerSetup.menu = false"
                        no-title
                    ></v-date-picker>
                </v-menu>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="time"
                    :label="`${$t('forms.lessonData.labels.time')}*`"
                    :placeholder="$t('forms.lessonData.placeholders.time')"
                    :hint="$t('forms.courseData.hints.time')"
                    :rules="lessonTimeRules"
                    prepend-icon="fas fa-clock"
                    mask="time"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.duration"
                    :label="`${$t('forms.lessonData.labels.duration')}*`"
                    :placeholder="$t('forms.lessonData.placeholders.duration')"
                    :hint="$t('forms.courseData.hints.duration')"
                    :rules="lessonDurationRules"
                    prepend-icon="fas fa-stopwatch"
                    type="number"
                    min="45"
                    step="5"
                    :suffix="$t('forms.lessonData.unities.minutes')"
                    required
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.price"
                    :label="`${$t('forms.lessonData.labels.price')}*`"
                    :placeholder="$t('forms.lessonData.placeholders.price')"
                    :hint="$t('forms.courseData.hints.price')"
                    :rules="lessonPriceRules"
                    prepend-icon="fas fa-dollar-sign"
                    :suffix="$t('forms.lessonData.unities.currency')"
                    required
                    disabled
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-menu
                    v-model="datePickerSetup.menu2"
                    :close-on-content-click="false"
                    full-width
                    max-width="290"
                >
                    <v-text-field
                        slot="activator"
                        :value="formatDate(formData.paymentDeadline)"
                        :label="`${$t('forms.lessonData.labels.paymentDeadline')}*`"
                        prepend-icon="fab fa-creative-commons-nc"
                        required
                        readonly
                    ></v-text-field>
                    <v-date-picker
                        v-model="formData.paymentDeadline"
                        :locale="lang"
                        :reactive="datePickerSetup.reactive"
                        :min="minPaymentDate"
                        first-day-of-week="1"
                        color="primary"
                        header-color="green"
                        @change="datePickerSetup.menu2 = false"
                        no-title
                    ></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <form-subtitle>{{ $t('forms.lessonData.subtitles.additionalData') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-textarea
                    v-model="formData.homework"
                    :label="$t('forms.lessonData.labels.homework')"
                    :placeholder="$t('forms.lessonData.placeholders.homework')"
                    :hint="$t('forms.lessonData.hints.homework')"
                    :rules="lessonHomeworkRules"
                    counter="1000"
                    prepend-icon="fas fa-book-open"
                    box
                    clearable
                ></v-textarea>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-textarea
                    v-model="formData.teacherNotes"
                    :label="$t('forms.lessonData.labels.teacherNotes')"
                    :placeholder="$t('forms.lessonData.placeholders.teacherNotes')"
                    :hint="$t('forms.lessonData.hints.teacherNotes')"
                    :rules="lessonTeacherNotesRules"
                    counter="1000"
                    prepend-icon="fas fa-file-signature"
                    box
                    clearable
                ></v-textarea>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12>
                <v-textarea
                    v-model="formData.messageForParent"
                    :label="$t('forms.lessonData.labels.messageForParent')"
                    :placeholder="$t('forms.lessonData.placeholders.messageForParent')"
                    :hint="$t('forms.lessonData.hints.messageForParent')"
                    :rules="lessonMessageForParentRules"
                    counter="1000"
                    prepend-icon="fas fa-envelope-square"
                    box
                    clearable
                ></v-textarea>
            </v-flex>
        </v-layout>
        <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
        <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
        <v-layout row wrap justify-center>
            <form-button :loading="loading" :text="$t('forms.eduUnitData.buttons.register')" @click.native="register"/>
            <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="resetForm"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import FormSubtitle from '@/components/form/FormSubtitle'
import EduUnitService from '@/services/EduUnitService'
import {date, datePicker} from '@/mixins/date'
import {responses, clearResponseMessage, setResponseMessage, reset} from '@/mixins/form'
import {lessonCourse, lessonDuration, lessonHomework, lessonMessageForParent, lessonPrice, lessonStudent, lessonTeacherNotes, lessonTime} from '@/mixins/rules'
import {lang} from '@/mixins/lang'
import {days} from '@/mixins/calendar'
import {fetchUnitLessons} from '@/mixins/api'
import {unitLessonsSchedule} from '@/mixins/lessons'

export default {
  mixins: [
    lessonCourse,
    lessonDuration,
    lessonHomework,
    lessonMessageForParent,
    lessonPrice,
    lessonStudent,
    lessonTeacherNotes,
    lessonTime,
    date,
    datePicker,
    days,
    responses,
    reset,
    clearResponseMessage,
    setResponseMessage,
    lang,
    fetchUnitLessons,
    unitLessonsSchedule
  ],
  props: {
    date: String
  },
  data () {
    return {
      formData: {
        date: null,
        paymentDeadline: null,
        duration: null,
        price: null,
        homework: '',
        teacherNotes: '',
        messageForParent: '',
        studentId: null,
        courseId: null
      },
      loading: false,
      lessonDate: null,
      minPaymentDate: null,
      searchStudentName: null,
      unit: null,
      time: null,
      course: null,
      errors: null
    }
  },
  created () {
    this.formData.homework = this.$t('forms.lessonData.defaultValues.homework')
  },
  methods: {
    async register () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          this.formData.date = this.$moment(this.lessonDate).hours(parseInt(this.time.substring(0, 2))).minutes(parseInt(this.time.substring(2))).seconds(0).toISOString()
          this.formData.paymentDeadline = this.$moment(this.formData.paymentDeadline).hours(23).minutes(59).seconds(59).toISOString()
          const {message, type} = await this.createLesson(this.formData)
          this.resetForm()
          this.setResponseMessage(message, type)
        }
        this.loading = false
      } catch (error) {
        this.errors = error
        this.loading = false
      }
    },
    resetForm () {
      this.reset()
      this.formData.courseId = this.course.id
      this.formData.duration = this.course.defaultDuration
      this.formData.price = this.course.defaultPrice
      this.formData.paymentDeadline = this.$moment(this.lessonDate).add(7, 'days').toISOString()
      this.time = this.course.defaultTime
      this.formData.homework = this.$t('forms.lessonData.defaultValues.homework')
    }
  },
  watch: {
    course (value) {
      this.formData.courseId = value.id
      this.formData.duration = value.defaultDuration
      this.formData.price = value.defaultPrice
      this.time = value.defaultTime
      this.setStudents(value.students)
    },
    date (value) {
      this.lessonDate = value
    },
    lessonDate (value) {
      this.minPaymentDate = this.$moment(value).add(7, 'days').toISOString()
      this.formData.paymentDeadline = this.minPaymentDate
    },
    async searchStudentName (value) {
      if (this.students.length > 1 && value && value.length > 1) {
        const {data} = await EduUnitService.fetchStudentsByLastName(this.unit.id, value)
        this.students = data.students
      } else {
        this.student = []
      }
    },
    async unit (value) {
      await this.fetchCourses(value.id)
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse,
    FormSubtitle
  }
}
</script>

<style scoped>

</style>
