<template>
    <v-form>
        <p class="title mb-3">{{ $t('views.Profile.labels.setAsPaidConfirm') }}</p>
        <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
        <v-layout row justify-center>
            <form-button :loading="loading" :text="$t('forms.basic.buttons.confirm')" @click.native="changeStatus"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import LessonService from '@/services/LessonService'
const FormErrorsList = () => import('@/components/form/FormErrorsList')

export default {
  props: {
    lessonId: Number
  },
  data () {
    return {
      loading: false,
      errors: null
    }
  },
  methods: {
    async changeStatus () {
      try {
        this.loading = true
        const {data} = await LessonService.updateLesson(this.lessonId, {paymentStatus: true})
        this.$emit('switchStatus', data.lesson.paymentStatus)
        this.loading = false
      } catch (error) {
        this.errors = error.response.data.error
        this.loading = false
      }
    }
  },
  components: {
    FormButton,
    FormErrorsList
  }
}
</script>

<style scoped>

</style>
