<template>
    <Dialog
        icon="plus"
        :max-width="800"
        :buttonText="$t('views.Lessons.buttons.addCourse')"
        :title="$t('views.Lessons.tabs[0].headings.courseRegistration')"
    >
        <course-registration-form-dialog :unit="unit"/>
    </Dialog>
</template>

<script>
import CourseRegistrationFormDialog from '@/components/dialog/lessons/CourseRegistrationFormDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    unit: Object
  },
  components: {
    CourseRegistrationFormDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
