<template>
    <Dialog
        class="mr-2"
        icon="hand-holding-usd"
        :buttonText="$t('views.Profile.labels.setAsPaid')"
        :title="$t('views.Profile.labels.setAsPaid')"
    >
        <set-as-paid-confirm-dialog :lessonId="lessonId" @switchStatus="changePaymentStatus"/>
    </Dialog>
</template>

<script>
import SetAsPaidConfirmDialog from '@/components/dialog/lessons/SetAsPaidConfirmDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    lessonId: Number
  },
  methods: {
    changePaymentStatus (paymentStatus) {
      this.$emit('changePaymentStatus', paymentStatus)
    }
  },
  components: {
    SetAsPaidConfirmDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
