<template>
    <Dialog
        :maxWidth="800"
        :isCalendar="true"
        :displayDialog="state"
        :title="$t('views.Lessons.tabs[2].headings.lessonRegistration')"
        @dialogState="dialogState"
    >
        <lesson-registration-manager-form-dialog
            v-if="role === 'manager'"
            :date="lessonDate"
        />
        <lesson-registration-teacher-form-dialog
            v-if="role === 'teacher'"
            :date="lessonDate"
        />
    </Dialog>
</template>

<script>
import Dialog from '@/components/dialog/Dialog'
import LessonRegistrationManagerFormDialog from '@/components/dialog/lessons/LessonRegistrationManagerFormDialog'
import LessonRegistrationTeacherFormDialog from '@/components/dialog/lessons/LessonRegistrationTeacherFormDialog'
import {displayDialogSetup} from '@/mixins/dialog'

export default {
  mixins: [displayDialogSetup],
  props: {
    displayDialog: {
      type: Boolean,
      default: false
    },
    lessonDate: String,
    role: String
  },
  methods: {
    dialogState (state) {
      this.state = state
      this.$emit('changeDisplayDialogState', state)
    }
  },
  watch: {
    displayDialog (value) {
      this.dialogState(value)
    }
  },
  components: {
    Dialog,
    LessonRegistrationManagerFormDialog,
    LessonRegistrationTeacherFormDialog
  }
}
</script>

<style scoped>

</style>
