<template>
    <Dialog
        class="mr-2"
        :icon="icon"
        :buttonText="buttonText"
        :title="title"
        :displayDialog="state"
        @dialogState="dialogState"
    >
        <change-course-status-confirm-dialog
            :status="courseStatus"
            :text="text"
            @status="changeStatus"
        />
    </Dialog>
</template>

<script>
import ChangeCourseStatusConfirmDialog from '@/components/dialog/lessons/ChangeCourseStatusConfirmDialog'
import Dialog from '@/components/dialog/Dialog'
import {displayDialogSetup} from '@/mixins/dialog'

export default {
  mixins: [displayDialogSetup],
  props: {
    courseStatus: Boolean
  },
  computed: {
    buttonText () {
      return this.courseStatus ? this.$t('views.Lessons.buttons.deactivateCourse') : this.$t('views.Lessons.buttons.reactivateCourse')
    },
    icon () {
      return this.courseStatus ? 'toggle-off' : 'toggle-on'
    },
    text () {
      return this.courseStatus ? this.$t('forms.confirmCourseDeactivation.text') : this.$t('forms.confirmCourseReactivation.text')
    },
    title () {
      return this.courseStatus ? this.$t('views.Lessons.tabs[0].headings.deactivateCourseConfirm') : this.$t('views.Lessons.tabs[0].headings.reactivateCourseConfirm')
    }
  },
  components: {
    ChangeCourseStatusConfirmDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
