<template>
    <Dialog
        class="mr-2"
        icon="user-plus"
        :buttonText="$t('views.Lessons.buttons.addStudent')"
        :title="$t('views.Lessons.tabs[0].headings.addStudent')"
    >
        <add-student-dialog
            :course="course"
            :unit="unit"
        />
    </Dialog>
</template>

<script>
import AddStudentDialog from '@/components/dialog/lessons/AddStudentDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    course: Object,
    unit: Object
  },
  components: {
    AddStudentDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
