<template>
    <Dialog
        icon="user-plus"
        :max-width="800"
        :buttonText="$t('views.Children.buttons.addChild')"
        :title="$t('views.Children.headings.childRegistration')"
    >
        <child-registration-form-dialog/>
    </Dialog>
</template>

<script>
import ChildRegistrationFormDialog from '@/components/dialog/children/ChildRegistrationFormDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  components: {
    ChildRegistrationFormDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
