<template>
    <Dialog
        class="mr-2"
        icon="user-alt-slash"
        :buttonText="$t('views.EducationalUnits.buttons.leaveAsTeacher')"
        :title="$t('views.EducationalUnits.tabs[1].headings.leaveUnit')"
        :displayDialog="state"
        @dialogState="dialogState"
    >
        <sign-out-confirm-dialog
            :text="$t('forms.confirmLeavingEduUnitAsTeacher.text')"
            @setDialog="changeStatus"
        />
    </Dialog>
</template>

<script>
import SignOutConfirmDialog from '@/components/dialog/eduUnits/SignOutConfirmDialog'
import Dialog from '@/components/dialog/Dialog'
import {displayDialogSetup} from '@/mixins/dialog'

export default {
  mixins: [displayDialogSetup],
  components: {
    SignOutConfirmDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
