<template>
    <v-badge :value="unitsIdListPendingItems(itemId, 'teachers') > 0" color="error" left>
        <span class="font-weight-bold" slot="badge">{{ unitsIdListPendingItems(itemId, 'teachers') }}</span>
        <Dialog
            class="mr-3"
            :max-width="800"
            icon="user-tie"
            :buttonText="$t('views.EducationalUnits.buttons.addTeachers')"
            :title="$t('views.EducationalUnits.tabs[0].headings.addTeachers')"
        >
            <add-teachers-dialog :unitId="itemId" :displayItems="unitsIdListPendingItems(itemId, 'teachers') > 0"/>
        </Dialog>
    </v-badge>
</template>

<script>
import AddTeachersDialog from '@/components/dialog/eduUnits/AddTeachersDialog'
import Dialog from '@/components/dialog/Dialog'
import {managerUnits} from '@/mixins/eduUnits'

export default {
  mixins: [managerUnits],
  props: {
    itemId: Number
  },
  components: {
    AddTeachersDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
