<template>
    <Dialog
        class="mr-2"
        icon="user-tie"
        :buttonText="$t('views.EducationalUnits.buttons.joinAsTeacher')"
        :title="$t('views.EducationalUnits.tabs[4].headings.joinTeacherConfirm')"
    >
        <sign-in-teacher-confirm-dialog :unitId="itemId"/>
    </Dialog>
</template>

<script>
import SignInTeacherConfirmDialog from '@/components/dialog/eduUnits/SignInTeacherConfirmDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    itemId: Number
  },
  components: {
    SignInTeacherConfirmDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
