<template>
    <Dialog
        icon="plus"
        :max-width="800"
        :buttonText="$t('views.EducationalUnits.buttons.addUnit')"
        :title="$t('views.EducationalUnits.tabs[0].headings.eduUnitRegistration')"
    >
        <unit-registration-form-dialog/>
    </Dialog>
</template>

<script>
import UnitRegistrationFormDialog from '@/components/dialog/eduUnits/UnitRegistrationFormDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  components: {
    UnitRegistrationFormDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
