<template>
    <div>
        <v-btn @click="changeStatus('active')"
               class="ml-0 mr-2"
               color="success"
        >
            <v-icon class="mr-2">fas fa-check</v-icon>
            {{ $t('forms.basic.buttons.accept') }}
        </v-btn>
        <v-btn @click="changeStatus('inactive')"
               color="error"
        >
            <v-icon class="mr-2">fas fa-times</v-icon>
            {{ $t('forms.basic.buttons.reject') }}
        </v-btn>
    </div>
</template>

<script>
export default {
  methods: {
    changeStatus (status) {
      this.$emit('changeStatus', status)
    }
  }
}
</script>

<style scoped>

</style>
