<template>
    <Dialog
        class="mr-2"
        icon="user-graduate"
        :buttonText="$t('views.EducationalUnits.buttons.joinAsStudent')"
        :title="$t('views.EducationalUnits.tabs[4].headings.joinParentConfirm')"
    >
        <sign-in-student-confirm-dialog :unitId="itemId"/>
    </Dialog>
</template>

<script>
import SignInStudentConfirmDialog from '@/components/dialog/eduUnits/SignInStudentConfirmDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    itemId: Number
  },
  components: {
    SignInStudentConfirmDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
