<template>
    <v-badge :value="unitsIdListPendingItems(itemId, 'students') > 0" color="error" left>
        <span class="font-weight-bold" slot="badge">{{ unitsIdListPendingItems(itemId, 'students') }}</span>
        <Dialog
            :max-width="800"
            icon="user-graduate"
            :buttonText="$t('views.EducationalUnits.buttons.addStudents')"
            :title="$t('views.EducationalUnits.tabs[0].headings.addStudents')"
        >
            <add-students-dialog :unitId="itemId" :displayItems="unitsIdListPendingItems(itemId, 'students') > 0"/>
        </Dialog>
    </v-badge>
</template>

<script>
import AddStudentsDialog from '@/components/dialog/eduUnits/AddStudentsDialog'
import Dialog from '@/components/dialog/Dialog'
import {managerUnits} from '@/mixins/eduUnits'

export default {
  mixins: [managerUnits],
  props: {
    itemId: Number
  },
  components: {
    AddStudentsDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
