<template>
    <Dialog
        icon="user-graduate"
        :buttonText="$t('views.EducationalUnits.buttons.addChild')"
        :title="$t('views.EducationalUnits.tabs[4].headings.addChild')"
    >
        <sign-in-child-dialog :unitId="itemId"/>
    </Dialog>
</template>

<script>
import SignInChildDialog from '@/components/dialog/eduUnits/SignInChildDialog'
import Dialog from '@/components/dialog/Dialog'

export default {
  props: {
    itemId: Number
  },
  components: {
    SignInChildDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
