<template>
    <v-form>
        <p class="headline mb-4">{{ text }}</p>
        <v-layout row justify-center>
            <form-button :text="$t('forms.basic.buttons.confirm')" @click.native="changeStatus"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'

export default {
  props: {
    status: String,
    text: String
  },
  computed: {
    newStatus () {
      return this.status === 'active' ? 'inactive' : 'active'
    }
  },
  methods: {
    changeStatus () {
      this.$emit('switchStatus', {dialogState: false, status: this.newStatus})
    }
  },
  components: {
    FormButton
  }
}
</script>

<style scoped>

</style>
