<template>
    <Dialog
        class="mr-2"
        :icon="icon"
        :buttonText="buttonText"
        :title="title"
        :displayDialog="state"
        @dialogState="dialogState"
    >
        <switch-status-confirm-dialog
            :status="status"
            :text="text"
            @switchStatus="changeStatus"
        />
    </Dialog>
</template>

<script>
import SwitchStatusConfirmDialog from '@/components/dialog/students/SwitchStatusConfirmDialog'
import Dialog from '@/components/dialog/Dialog'
import {displayDialogSetup} from '@/mixins/dialog'

export default {
  mixins: [displayDialogSetup],
  props: {
    status: String
  },
  computed: {
    buttonText () {
      return this.status === 'active' ? this.$t('views.Students.buttons.deactivateStudent') : this.$t('views.Students.buttons.reactivateStudent')
    },
    icon () {
      return this.status === 'active' ? 'user-times' : 'user-check'
    },
    text () {
      return this.status === 'active' ? this.$t('forms.confirmStudentDeactivation.text') : this.$t('forms.confirmStudentReactivation.text')
    },
    title () {
      return this.status === 'active' ? this.$t('views.Students.tabs[0].headings.deactivateStudentConfirm') : this.$t('views.Students.tabs[0].headings.reactivateStudentConfirm')
    }
  },
  components: {
    SwitchStatusConfirmDialog,
    Dialog
  }
}
</script>

<style scoped>

</style>
