<template>
    <v-flex d-flex>
        <v-layout column>
            <view-title>{{ $t('views.Home.title') }}</view-title>
            <view-content>
                <v-flex class="fill-height" d-flex xs12>
                    <v-layout justify-left align-center row wrap>
                        <v-flex xs12 lg8>
                            <v-layout justify-space-between row wrap>
                                <v-flex v-if="roles.includes('parent')" class="align-center" d-flex xs12 md6 px-0 py-2>
                                    <v-flex class="justify-center" d-flex xs12 py-2>
                                        <v-layout class="box" column>
                                            <v-flex class="accent white--text" xs12 px-2 py-3>
                                                <h3 class="headline text-xs-center font-weight-bold">{{ $t('views.Home.headings.nextChildLesson') }}</h3>
                                            </v-flex>
                                            <v-flex v-if="childLesson" class="box_body" xs12 px-2 py-0>
                                                <div class="box_title py-2 mb-2">
                                                    <h4 class="title">{{ childLesson.firstName }} {{ childLesson.lastName }}</h4>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-calendar-alt</v-icon>
                                                    <p class="d-inline body-1">{{ childLesson.Lessons[0].date | lessonDate }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-pencil-ruler</v-icon>
                                                    <p class="d-inline body-1">{{ childLesson.Lessons[0].Course.Subject.name }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-hand-holding-usd</v-icon>
                                                    <p class="d-inline body-1">{{ childLesson.Lessons[0].paymentStatus ? $t('calendar.card.paid') : $t('calendar.card.notpaid') }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fab fa-creative-commons-nc</v-icon>
                                                    <p class="d-inline body-1">{{ childLesson.Lessons[0].paymentDeadline | paymentDeadline }}</p>
                                                </div>
                                            </v-flex>
                                            <v-flex v-if="childLesson" class="box_action text-xs-right" xs12 px-2 pt-0 pb-2>
                                                <v-btn class="accent--text" :to="{name: 'lessonProfile', params: {id: childLesson.Lessons[0].id}}" flat>
                                                    {{ $t('forms.basic.buttons.more') }}
                                                </v-btn>
                                            </v-flex>
                                            <v-flex v-else class="box_no-content align-center text-xs-center" d-flex xs12>
                                                <h4 class="title">{{ $t('views.Home.labels.noChildLessons') }}</h4>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-flex>
                                <v-flex class="align-center" d-flex xs12 md6 px-0 py-2>
                                    <v-flex class="justify-center" d-flex xs12 py-2>
                                        <v-layout class="box" column>
                                            <v-flex class="accent white--text" xs12 px-2 py-3>
                                                <h3 class="headline text-xs-center font-weight-bold">{{ $t('views.Home.headings.nextMyLesson') }}</h3>
                                            </v-flex>
                                            <v-flex v-if="user.Lessons[0]" class="box_body" xs12 px-2 py-0>
                                                <div class="box_title py-2 mb-2">
                                                    <h4 class="title">{{ user.firstName }} {{ user.lastName }}</h4>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-calendar-alt</v-icon>
                                                    <p class="d-inline body-1">{{ user.Lessons[0].date | lessonDate }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-pencil-ruler</v-icon>
                                                    <p class="d-inline body-1">{{ user.Lessons[0].Course.Subject.name }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-hand-holding-usd</v-icon>
                                                    <p class="d-inline body-1">{{ user.Lessons[0].paymentStatus ? $t('calendar.card.paid') : $t('calendar.card.notpaid') }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fab fa-creative-commons-nc</v-icon>
                                                    <p class="d-inline body-1">{{ user.Lessons[0].paymentDeadline | paymentDeadline }}</p>
                                                </div>
                                            </v-flex>
                                            <v-flex v-if="user.Lessons[0]" class="box_action text-xs-right" xs12 px-2 pt-0 pb-2>
                                                <v-btn class="accent--text" :to="{name: 'lessonProfile', params: {id: user.Lessons[0].id}}" flat>
                                                    {{ $t('forms.basic.buttons.more') }}
                                                </v-btn>
                                            </v-flex>
                                            <v-flex v-else class="box_no-content align-center text-xs-center" d-flex xs12>
                                                <h4 class="title">{{ $t('views.Home.labels.noMyLessons') }}</h4>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-flex>
                                <v-flex v-if="roles.includes('teacher') || roles.includes('manager')" class="align-center" d-flex xs12 md6 px-0 py-2>
                                    <v-flex class="justify-center" d-flex xs12 py-2>
                                        <v-layout class="box" column>
                                            <v-flex class="accent white--text" xs12 px-2 py-3>
                                                <h3 class="headline text-xs-center font-weight-bold">{{ $t('views.Home.headings.nextTeacherLesson') }}</h3>
                                            </v-flex>
                                            <v-flex v-if="teacherCourse" class="box_body" xs12 px-2 py-0>
                                                <div class="box_title py-2 mb-2">
                                                    <h4 class="title">{{ teacherCourse.Lessons[0].student.firstName }} {{ teacherCourse.Lessons[0].student.lastName }}</h4>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-calendar-alt</v-icon>
                                                    <p class="d-inline body-1">{{ teacherCourse.Lessons[0].date | lessonDate }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-pencil-ruler</v-icon>
                                                    <p class="d-inline body-1">{{ teacherCourse.Subject.name }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-hand-holding-usd</v-icon>
                                                    <p class="d-inline body-1">{{ teacherCourse.Lessons[0].paymentStatus ? $t('calendar.card.paid') : $t('calendar.card.notpaid') }}</p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fab fa-creative-commons-nc</v-icon>
                                                    <p class="d-inline body-1">{{ teacherCourse.Lessons[0].paymentDeadline | paymentDeadline }}</p>
                                                </div>
                                            </v-flex>
                                            <v-flex v-if="teacherCourse" class="box_action text-xs-right" xs12 px-2 pt-0 pb-2>
                                                <v-btn class="accent--text" :to="{name: 'lessonProfile', params: {id: teacherCourse.Lessons[0].id}}" flat>
                                                    {{ $t('forms.basic.buttons.more') }}
                                                </v-btn>
                                            </v-flex>
                                            <v-flex v-else class="box_no-content align-center text-xs-center" d-flex xs12>
                                                <h4 class="title">{{ $t('views.Home.labels.noTeacherLessons') }}</h4>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-flex>
                                <v-flex v-if="roles.includes('manager')" class="align-center" d-flex xs12 md6 px-0 py-2>
                                    <v-flex class="justify-center" d-flex xs12 py-2>
                                        <v-layout class="box" column>
                                            <v-flex class="accent white--text" xs12 px-2 py-3>
                                                <h3 class="headline text-xs-center font-weight-bold">{{ $t('views.Home.headings.units') }}</h3>
                                            </v-flex>
                                            <v-flex v-if="user.unit" class="box_body" xs12 px-2 py-0>
                                                <div class="box_title py-2 mb-2">
                                                    <h4 class="title">{{ user.unit.name }}</h4>
                                                </div>
                                                <div class="mb-2">
                                                       <v-icon class="accent--text mr-3" small>fas fa-user-tie</v-icon>
                                                    <p class="d-inline body-1 font-weight-bold">{{ $t('views.Home.labels.teachers') }}:</p>
                                                </div>
                                                <div class="mb-2">
                                                    <p class="d-inline body-1 font-weight-bold">
                                                        <span class="box_unit_prop success--text pr-2">{{ getStatusMembers('teachers', 'active') }}</span>
                                                        <span class="box_unit_prop error--text px-2">{{ getStatusMembers('teachers', 'inactive') }}</span>
                                                        <span class="warning--text px-2">{{ getStatusMembers('teachers', 'pending') }}</span>
                                                    </p>
                                                </div>
                                                <div class="mb-2">
                                                    <v-icon class="accent--text mr-3" small>fas fa-user-graduate</v-icon>
                                                    <p class="d-inline body-1 font-weight-bold">{{ $t('views.Home.labels.students') }}:</p>
                                                </div>
                                                <div class="mb-2">
                                                    <p class="d-inline body-1 font-weight-bold">
                                                        <span class="box_unit_prop success--text pr-2">{{ getStatusMembers('students', 'active') }}</span>
                                                        <span class="box_unit_prop error--text px-2">{{ getStatusMembers('students', 'inactive') }}</span>
                                                        <span class="warning--text px-2">{{ getStatusMembers('students', 'pending') }}</span>
                                                    </p>
                                                </div>
                                            </v-flex>
                                            <v-flex v-if="user.unit" class="box_action text-xs-right" xs12 px-2 pt-0 pb-2>
                                                <v-btn class="accent--text" :to="{name: 'eduUnitProfile', params: {id: user.unit.id}}" flat>
                                                    {{ $t('forms.basic.buttons.more') }}
                                                </v-btn>
                                            </v-flex>
                                            <v-flex v-else class="box_no-content align-center text-xs-center" d-flex xs12>
                                                <h4 class="title">{{ $t('views.Home.labels.noUnits') }}</h4>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </view-content>
        </v-layout>
    </v-flex>
</template>

<script>
import ViewUserViewTitle from '@/views/user/ViewUserViewTitle'
import ViewUserViewContent from '@/views/user/ViewUserViewContent'
import {user, roles} from '@/mixins/user'
import {lessonDate, paymentDeadline} from '@/filters/date'
export default {
  mixins: [user, roles],
  filters: {
    lessonDate,
    paymentDeadline
  },
  computed: {
    childLesson () {
      const childrenWithLesson = this.user.children.filter(child => child.Lessons.length > 0)
      return childrenWithLesson.length === 1 ? childrenWithLesson[0] : childrenWithLesson.length > 1 ? childrenWithLesson.sort((a, b) => new Date(a.Lessons[0].date) - new Date(b.Lessons[0].date))[0] : null
    },
    teacherCourse () {
      const coursesWithLesson = this.user.Courses.filter(course => course.Lessons.length > 0)
      return coursesWithLesson.length === 1 ? coursesWithLesson[0] : coursesWithLesson.length > 1 ? coursesWithLesson.sort((a, b) => new Date(a.Lessons[0].date) - new Date(b.Lessons[0].date))[0] : null
    }
  },
  methods: {
    getMembersQuantity (members, status) {
      return !this.user[members] ? 0 : this.user[members].find(members => members.status === status) ? this.user[members].find(members => members.status === status)[`${members}Quantity`] : 0
    },
    getStatusMembers (members, status) {
      return this.$t(`views.Home.labels.${status}`) + ': ' + this.getMembersQuantity(members, status)
    }
  },
  components: {
    ViewTitle: ViewUserViewTitle,
    ViewContent: ViewUserViewContent
  }
}
</script>

<style scoped>
    .box {
        min-width: 302px;
        max-width: 500px;
        border: 1px solid rgba(0,0,0,.12);
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
                    0 2px 2px 0 rgba(0,0,0,.14),
                    0 1px 5px 0 rgba(0,0,0,.12);
    }
    .box_title {
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
    .box_body {
        min-height: 180px;
    }
    .box_action {
        min-height: 56px;
    }
    .box_no-content {
        min-height: 236px;
    }
    .box_unit_prop {
        border-right: 2px solid rgba(0, 0, 0, 0.12);
    }
</style>
