<template>
    <v-flex xs12 pa-0>
        <v-tabs
            color="white"
            slider-color="accent"
            height="72"
        >
            <v-tab
                v-for="item in filteredTabItems"
                class="accent--text font-weight-bold"
                :key="item.title"
            >
                {{ $t(item.localePath) }}
            </v-tab>
            <v-tab-item
                v-for="item in filteredTabItems"
                class="pa-2"
                :key="item.title"
            >
                <slot :name="item.title"></slot>
            </v-tab-item>
        </v-tabs>
    </v-flex>
</template>

<script>
export default {
  props: ['items', 'filter'],
  computed: {
    filteredTabItems () {
      return this.items.filter(item => this.filterTabItems(item.roleRightsLvl))
    }
  },
  methods: {
    filterTabItems (roleRightsLvl) {
      return roleRightsLvl ? this.filter(roleRightsLvl) : true
    }
  }
}
</script>

<style scoped>

</style>
