<template>
    <div class="text-xs-center pa-3">
        <v-pagination
            :value="paginationPage"
            :length="paginationLength"
            @input="changePage"
        ></v-pagination>
    </div>
</template>

<script>
export default {
  props: {
    paginationLength: Number,
    paginationPage: {
      type: Number,
      default: 1
    }
  },
  methods: {
    changePage (page) {
      this.$emit('setPage', page)
    }
  }
}
</script>

<style scoped>

</style>
