<template>
    <v-btn class="ma-0" @click="toggleDialog" flat icon primary>
        <v-icon>fas fa-times</v-icon>
    </v-btn>
</template>

<script>
export default {
  props: ['state'],
  data () {
    return {
      close: null
    }
  },
  methods: {
    toggleDialog () {
      this.$emit('toggleDialog', !!this.close)
    }
  },
  beforeMount () {
    this.close = this.state
  }
}
</script>

<style scoped>

</style>
