<template>
    <v-dialog v-model="state" :max-width="maxWidth">
        <v-btn v-if="!isCalendar && !flatButton" slot="activator" class="primary mx-0 mt-2">
            <v-icon class="mr-2" v-if="icon">fas fa-{{ icon }}</v-icon>
            {{ buttonText }}
        </v-btn>
        <v-btn v-if="flatButton" slot="activator" class="mx-0 my-0" style="height: 20px;" flat>
            {{ buttonText }}
        </v-btn>
        <div class="white">
            <div class="dialog_title px-2 py-3">
                <h2 class="dialog_title--height d-inline-block headline font-weight-bold">{{ title }}</h2>
                <dialog-close-button class="right" @toggleDialog="toggleDialog" :state="state"/>
            </div>
            <v-container grid-list-lg px-2>
                <slot></slot>
            </v-container>
        </div>
    </v-dialog>
</template>

<script>
import DialogCloseButton from '@/components/dialog/DialogCloseButton'

export default {
  props: {
    buttonText: [String, Number],
    displayDialog: {
      type: Boolean,
      default: false
    },
    flatButton: {
      type: Boolean,
      default: false
    },
    icon: String,
    isCalendar: {
      type: Boolean,
      default: false
    },
    maxWidth: {
      type: Number,
      default: 600
    },
    title: String
  },
  data () {
    return {
      state: null
    }
  },
  methods: {
    toggleDialog (state) {
      this.state = state
    }
  },
  watch: {
    displayDialog () {
      this.state = this.displayDialog
    },
    state () {
      this.$emit('dialogState', this.state)
    }
  },
  beforeMount () {
    this.state = this.displayDialog
  },
  components: {
    DialogCloseButton
  }
}
</script>

<style scoped>
    .dialog_title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .dialog_title--height {
        height: 36px;
        line-height: 36px;
    }
</style>
