<template>
    <v-form ref="form">
        <form-subtitle>{{ $t('forms.userData.subtitles.accCreds') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="username"
                    :label="$t('forms.userData.labels.username')"
                    :placeholder="$t('forms.userData.placeholders.username')"
                    :hint="$t('forms.userData.hints.username')"
                    :rules="childUsernameRules"
                    counter="255"
                    prepend-icon="fas fa-user"
                    color="accent"
                    disabled
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="email"
                    :label="`${$t('forms.userData.labels.email')}*`"
                    :placeholder="$t('forms.userData.placeholders.email')"
                    :hint="$t('forms.userData.hints.email')"
                    :rules="emailRules"
                    counter="255"
                    prepend-icon="fas fa-envelope"
                    color="accent"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.password"
                    :type="showPassword ? 'text' : 'password'"
                    :label="`${$t('forms.userData.labels.newPassword')}*`"
                    :hint="$t('forms.userData.hints.password')"
                    :rules="newPasswordRules"
                    counter="245"
                    prepend-icon="fas fa-unlock-alt"
                    :append-icon="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                    color="accent"
                    @click:append="showPassword = !showPassword"
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.passwordConfirm"
                    :type="showConfPassword ? 'text' : 'password'"
                    :label="`${$t('forms.userData.labels.confNewPassword')}*`"
                    :hint="$t('forms.userData.hints.confPassword')"
                    :rules="newPasswordConfRules"
                    counter="245"
                    prepend-icon="fas fa-unlock-alt"
                    :append-icon="showConfPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                    color="accent"
                    @click:append="showConfPassword = !showConfPassword"
                ></v-text-field>
            </v-flex>
        </v-layout>
        <form-subtitle>{{ $t('forms.userData.subtitles.personCreds') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.firstName"
                    :label="`${$t('forms.userData.labels.firstName')}*`"
                    :placeholder="$t('forms.userData.placeholders.firstName')"
                    :hint="$t('forms.userData.hints.firstName')"
                    :rules="firstNameRules"
                    counter="255"
                    prepend-icon="fas fa-signature"
                    color="accent"
                    required
                    disabled
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.lastName"
                    :label="`${$t('forms.userData.labels.lastName')}*`"
                    :placeholder="$t('forms.userData.placeholders.lastName')"
                    :hint="$t('forms.userData.hints.lastName')"
                    :rules="lastNameRules"
                    counter="255"
                    prepend-icon="fas fa-signature"
                    color="accent"
                    required
                    disabled
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.city"
                    :label="`${$t('forms.userData.labels.city')}*`"
                    :placeholder="$t('forms.userData.placeholders.city')"
                    :hint="$t('forms.userData.hints.city')"
                    :rules="cityRules"
                    counter="60"
                    prepend-icon="fas fa-city"
                    color="accent"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-select
                    v-model="formData.region"
                    :label="`${$t('forms.userData.labels.region')}*`"
                    :placeholder="$t('forms.userData.placeholders.region')"
                    :items="regions"
                    :rules="regionRules"
                    prepend-icon="fas fa-atlas"
                    color="accent"
                    required
                ></v-select>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-menu
                    v-model="datePickerSetup.menu"
                    :close-on-content-click="false"
                    full-width
                    max-width="290"
                >
                    <v-text-field
                        slot="activator"
                        :value="formatDate(formData.birthday)"
                        :label="`${$t('forms.userData.labels.birthday')}*`"
                        prepend-icon="fas fa-birthday-cake"
                        readonly
                        :disabled="!!item.birthday"
                    ></v-text-field>
                    <v-date-picker
                        :locale="lang"
                        :reactive="datePickerSetup.reactive"
                        :max="datePickerSetup.maxDate"
                        first-day-of-week="1"
                        color="primary"
                        v-model="formData.birthday"
                        @change="datePickerSetup.menu = false"
                        no-title
                    ></v-date-picker>
                </v-menu>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.phone"
                    :label="$t('forms.userData.labels.phone')"
                    :placeholder="$t('forms.userData.placeholders.phone')"
                    :hint="$t('forms.userData.hints.phone')"
                    :rules="phoneRules"
                    counter="15"
                    prepend-icon="fas fa-phone"
                    color="accent"
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
        <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
        <v-layout row wrap justify-center>
            <form-button :loading="loading" :text="$t('forms.basic.buttons.save')" @click.native="saveData"/>
            <form-button :text="$t('forms.userData.buttons.reset')" @click.native="reset"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import FormSubtitle from '@/components/form/FormSubtitle'
import UserService from '@/services/UserService'
import {date, datePicker} from '@/mixins/date'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {city, childUsername, email, firstName, newPassword, newPasswordConf, lastName, phone, region} from '@/mixins/rules'
import {lang} from '@/mixins/lang'
import {userId} from '@/mixins/user'
import regions from '@/locale/regions/pl.json'

export default {
  mixins: [
    city,
    childUsername,
    email,
    firstName,
    newPassword,
    newPasswordConf,
    lastName,
    phone,
    region,
    date,
    datePicker,
    responses,
    clearResponseMessage,
    setResponseMessage,
    lang,
    userId
  ],
  props: {
    item: Object
  },
  data () {
    return {
      formData: {
        password: '',
        passwordConfirm: '',
        firstName: '',
        lastName: '',
        city: '',
        region: '',
        phone: '',
        birthday: this.$moment().toISOString(),
        updaterId: null
      },
      email: '',
      username: '',
      showPassword: false,
      showConfPassword: false,
      loading: false,
      errors: null
    }
  },
  computed: {
    regions () {
      return regions['pl']
    }
  },
  created () {
    this.setData()
  },
  methods: {
    reset () {
      this.$refs.form.resetValidation()
      this.formData.password = ''
      this.formData.passwordConfirm = ''
    },
    async saveData () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          const {data} = await UserService.updateUser(this.item.id, this.formData)
          this.$emit('updateItemData', data.user)
          this.setResponseMessage(data.message, data.type)
          this.reset()
          this.loading = false
        }
      } catch (error) {
        this.errors = error.response.data.error
        this.loading = false
      }
    },
    setData () {
      if (this.item.parentId === this.userId) {
        this.formData.updaterId = this.item.parentId
      } else {
        this.formData.updaterId = this.item.id
      }
      this.username = this.item.username
      this.email = this.item.email
      this.formData.firstName = this.item.firstName
      this.formData.lastName = this.item.lastName
      this.formData.city = this.item.city
      this.formData.region = this.item.region
      this.formData.birthday = this.item.birthday
      this.formData.phone = this.item.phone
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse,
    FormSubtitle
  }
}
</script>

<style scoped>

</style>
