<template>
    <div>
        <v-form v-if="item.Course.Teacher.id === userId" ref="form">
            <form-subtitle>{{ $t('forms.lessonData.subtitles.requiredData') }}</form-subtitle>
            <v-layout class="mb-2" row wrap>
                <v-flex xs12 sm6>
                    <v-menu
                        v-model="datePickerSetup.menu"
                        :close-on-content-click="false"
                        full-width
                        max-width="290"
                    >
                        <v-text-field
                            slot="activator"
                            :value="formatDate(lessonDate)"
                            :label="`${$t('forms.lessonData.labels.date')}*`"
                            prepend-icon="fas fa-calendar-alt"
                            required
                            readonly
                        ></v-text-field>
                        <v-date-picker
                            v-model="lessonDate"
                            :locale="lang"
                            :reactive="datePickerSetup.reactive"
                            :min="datePickerSetup.minDate"
                            first-day-of-week="1"
                            color="primary"
                            header-color="green"
                            @change="datePickerSetup.menu = false"
                            no-title
                        ></v-date-picker>
                    </v-menu>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        v-model="time"
                        :label="`${$t('forms.lessonData.labels.time')}*`"
                        :placeholder="$t('forms.lessonData.placeholders.time')"
                        :hint="$t('forms.courseData.hints.time')"
                        :rules="lessonTimeRules"
                        prepend-icon="fas fa-clock"
                        mask="time"
                        required
                        clearable
                    ></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout class="mb-2" row wrap>
                <v-flex xs12 sm6>
                    <v-text-field
                        v-model="formData.duration"
                        :label="`${$t('forms.lessonData.labels.duration')}*`"
                        :placeholder="$t('forms.lessonData.placeholders.duration')"
                        :hint="$t('forms.courseData.hints.duration')"
                        :rules="lessonDurationRules"
                        prepend-icon="fas fa-stopwatch"
                        type="number"
                        min="45"
                        step="5"
                        :suffix="$t('forms.lessonData.unities.minutes')"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        v-model="formData.price"
                        :label="`${$t('forms.lessonData.labels.price')}*`"
                        :placeholder="$t('forms.lessonData.placeholders.price')"
                        :hint="$t('forms.courseData.hints.price')"
                        :rules="lessonPriceRules"
                        prepend-icon="fas fa-dollar-sign"
                        :suffix="$t('forms.lessonData.unities.currency')"
                        required
                        disabled
                    ></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout class="mb-3" row wrap>
                <v-flex xs12 sm6>
                    <v-menu
                        v-model="datePickerSetup.menu2"
                        :close-on-content-click="false"
                        full-width
                        max-width="290"
                    >
                        <v-text-field
                            slot="activator"
                            :value="formatDate(formData.paymentDeadline)"
                            :label="`${$t('forms.lessonData.labels.paymentDeadline')}*`"
                            prepend-icon="fab fa-creative-commons-nc"
                            required
                            readonly
                        ></v-text-field>
                        <v-date-picker
                            v-model="formData.paymentDeadline"
                            :locale="lang"
                            :reactive="datePickerSetup.reactive"
                            :min="minPaymentDate"
                            first-day-of-week="1"
                            color="primary"
                            header-color="green"
                            @change="datePickerSetup.menu2 = false"
                            no-title
                        ></v-date-picker>
                    </v-menu>
                </v-flex>
            </v-layout>
            <form-subtitle>{{ $t('forms.lessonData.subtitles.additionalData') }}</form-subtitle>
            <v-layout class="mb-2" row wrap>
                <v-flex xs12>
                    <v-textarea
                        v-model="formData.homework"
                        :label="$t('forms.lessonData.labels.homework')"
                        :placeholder="$t('forms.lessonData.placeholders.homework')"
                        :hint="$t('forms.lessonData.hints.homework')"
                        :rules="lessonHomeworkRules"
                        counter="1000"
                        prepend-icon="fas fa-book-open"
                        box
                        clearable
                    ></v-textarea>
                </v-flex>
            </v-layout>
            <v-layout class="mb-2" row wrap>
                <v-flex xs12>
                    <v-textarea
                        v-model="formData.teacherNotes"
                        :label="$t('forms.lessonData.labels.teacherNotes')"
                        :placeholder="$t('forms.lessonData.placeholders.teacherNotes')"
                        :hint="$t('forms.lessonData.hints.teacherNotes')"
                        :rules="lessonTeacherNotesRules"
                        counter="1000"
                        prepend-icon="fas fa-file-signature"
                        box
                        clearable
                    ></v-textarea>
                </v-flex>
            </v-layout>
            <v-layout class="mb-3" row wrap>
                <v-flex xs12>
                    <v-textarea
                        v-model="formData.messageForParent"
                        :label="$t('forms.lessonData.labels.messageForParent')"
                        :placeholder="$t('forms.lessonData.placeholders.messageForParent')"
                        :hint="$t('forms.lessonData.hints.messageForParent')"
                        :rules="lessonMessageForParentRules"
                        counter="1000"
                        prepend-icon="fas fa-envelope-square"
                        box
                        clearable
                    ></v-textarea>
                </v-flex>
            </v-layout>
            <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
            <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
            <v-layout row wrap justify-center>
                <form-button :loading="loading" :text="$t('forms.basic.buttons.save')" @click.native="saveData"/>
                <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="reset"/>
            </v-layout>
        </v-form>
        <v-form v-if="item.student.parentId === userId" ref="form">
            <v-layout class="mb-3" row wrap>
                <v-flex xs12>
                    <v-textarea
                        v-model="parentFormData.messageForTeacher"
                        :label="$t('forms.lessonData.labels.messageForTeacher')"
                        :placeholder="$t('forms.lessonData.placeholders.messageForTeacher')"
                        :hint="$t('forms.lessonData.hints.messageForTeacher')"
                        :rules="lessonMessageForTeacherRules"
                        counter="1000"
                        prepend-icon="fas fa-comment-dots"
                        box
                        clearable
                    ></v-textarea>
                </v-flex>
            </v-layout>
            <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
            <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
            <v-layout row wrap justify-center>
                <form-button :loading="loading" :text="$t('forms.basic.buttons.save')" @click.native="saveData"/>
                <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="reset"/>
            </v-layout>
        </v-form>
    </div>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import FormSubtitle from '@/components/form/FormSubtitle'
import LessonService from '@/services/LessonService'
import {date, datePicker} from '@/mixins/date'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {lessonDuration, lessonHomework, lessonMessageForParent, lessonMessageForTeacher, lessonPrice, lessonTeacherNotes, lessonTime} from '@/mixins/rules'
import {lang} from '@/mixins/lang'
import {days} from '@/mixins/calendar'
import {userId} from '@/mixins/user'

export default {
  mixins: [
    lessonDuration,
    lessonHomework,
    lessonMessageForParent,
    lessonMessageForTeacher,
    lessonPrice,
    lessonTeacherNotes,
    lessonTime,
    date,
    datePicker,
    days,
    responses,
    clearResponseMessage,
    setResponseMessage,
    lang,
    userId
  ],
  props: {
    item: Object
  },
  data () {
    return {
      formData: {
        date: null,
        paymentDeadline: null,
        duration: null,
        price: null,
        homework: '',
        teacherNotes: '',
        messageForParent: '',
        updaterId: null
      },
      parentFormData: {
        messageForTeacher: '',
        updaterId: null
      },
      loading: false,
      lessonDate: null,
      minPaymentDate: null,
      time: null,
      errors: null
    }
  },
  created () {
    this.setData()
  },
  methods: {
    reset () {
      this.$refs.form.resetValidation()
      this.setData()
    },
    async saveData () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          if (this.item.Course.Teacher.id === this.userId) {
            this.formData.date = this.$moment(this.lessonDate).hours(parseInt(this.time.substring(0, 2))).minutes(parseInt(this.time.substring(2))).seconds(0).toISOString()
            this.formData.paymentDeadline = this.$moment(this.formData.paymentDeadline).hours(23).minutes(59).seconds(59).toISOString()
            const {data} = await LessonService.updateLesson(this.item.id, this.formData)
            this.$emit('updateItemData', data.lesson)
            this.setResponseMessage(data.message, data.type)
          } else {
            const {data} = await LessonService.updateLesson(this.item.id, this.parentFormData)
            this.$emit('updateItemData', data.lesson)
            this.setResponseMessage(data.message, data.type)
          }
        }
        this.loading = false
      } catch (error) {
        this.errors = error.response.data.error
        this.loading = false
      }
    },
    setData () {
      if (this.item.Course.Teacher.id === this.userId) {
        this.formData.updaterId = this.userId
        this.lessonDate = this.item.date
        this.formData.paymentDeadline = this.item.paymentDeadline
        this.formData.duration = this.item.duration
        this.formData.price = this.item.price
        this.formData.homework = this.item.homework
        this.formData.teacherNotes = this.item.teacherNotes
        this.formData.messageForParent = this.item.messageForParent
        this.time = this.$moment(this.item.date).format('HHmm')
      } else {
        this.parentFormData.updaterId = this.userId
        this.parentFormData.messageForTeacher = this.item.messageForTeacher
      }
    }
  },
  watch: {
    date (value) {
      this.lessonDate = value
    },
    lessonDate (value, oldValue) {
      this.minPaymentDate = this.$moment(value).add(7, 'days').toISOString()
      if (oldValue !== null) {
        this.formData.paymentDeadline = this.minPaymentDate
      }
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse,
    FormSubtitle
  }
}
</script>

<style scoped>

</style>
