<template>
    <v-form ref="form">
        <form-subtitle>{{ $t('forms.courseData.subtitles.basicData') }}</form-subtitle>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12>
                <v-text-field
                    v-model="formData.title"
                    :label="`${$t('forms.courseData.labels.title')}*`"
                    :placeholder="$t('forms.courseData.placeholders.title')"
                    :hint="$t('forms.courseData.hints.title')"
                    :rules="courseTitleRules"
                    counter="255"
                    prepend-icon="fas fa-chalkboard-teacher"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12>
                <v-textarea
                    v-model="formData.description"
                    :label="`${$t('forms.courseData.labels.description')}*`"
                    :placeholder="$t('forms.courseData.placeholders.description')"
                    :hint="$t('forms.courseData.hints.description')"
                    :rules="courseDescriptionRules"
                    counter="1000"
                    prepend-icon="fas fa-pen-fancy"
                    box
                    required
                    clearable
                ></v-textarea>
            </v-flex>
        </v-layout>
        <form-subtitle>{{ $t('forms.courseData.subtitles.lessonData') }}</form-subtitle>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.defaultTime"
                    :label="`${$t('forms.courseData.labels.defaultTime')}*`"
                    :placeholder="$t('forms.courseData.placeholders.defaultTime')"
                    :hint="$t('forms.courseData.hints.time')"
                    :rules="lessonTimeRules"
                    prepend-icon="fas fa-clock"
                    mask="time"
                    required
                    clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.defaultDuration"
                    :label="`${$t('forms.courseData.labels.defaultDuration')}*`"
                    :placeholder="$t('forms.courseData.placeholders.defaultDuration')"
                    :hint="$t('forms.courseData.hints.duration')"
                    :rules="lessonDurationRules"
                    prepend-icon="fas fa-stopwatch"
                    type="number"
                    min="0"
                    step="5"
                    :suffix="$t('forms.courseData.unities.minutes')"
                    required
                ></v-text-field>
            </v-flex>
        </v-layout>
        <p class="v-label body-1 mb-1" style="color: rgba(0,0,0,.54);">{{ $t('forms.courseData.labels.defaultDay') }}*</p>
        <v-layout class="mb-2" row wrap>
            <v-flex v-for="day in days" class="py-0" :key="day" xs12 sm6 md4>
                <v-checkbox
                    class="mt-0"
                    v-model="formData.defaultDay"
                    :label="$t(`days.${day}`)"
                    :rules="lessonDaysRules"
                    :value="day"
                    :key="day"
                ></v-checkbox>
            </v-flex>
        </v-layout>
        <v-layout class="mb-2" row wrap>
            <v-flex xs12 sm6>
                <v-select
                    class="select_item-width mx-auto"
                    v-model="teacher"
                    :label="`${$t('forms.courseData.labels.teacher')}*`"
                    :placeholder="$t('forms.courseData.placeholders.teacher')"
                    :no-data-text="$t('forms.courseData.labels.noTeacherAvailable')"
                    :items="teachers"
                    prepend-icon="fas fa-user-tie"
                    required
                >
                    <template slot="selection" slot-scope="data">
                        {{ `${data.item.firstName} ${data.item.lastName}` }}
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ `${data.item.firstName} ${data.item.lastName}` }}
                    </template>
                </v-select>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.defaultPrice"
                    :label="`${$t('forms.courseData.labels.price')}*`"
                    :placeholder="$t('forms.courseData.placeholders.price')"
                    :hint="$t('forms.courseData.hints.price')"
                    :rules="lessonPriceRules"
                    prepend-icon="fas fa-dollar-sign"
                    :suffix="$t('forms.courseData.unities.currency')"
                    required
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout class="mb-3" row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="formData.lessonQuantity"
                    :label="$t('forms.courseData.labels.lessonQuantity')"
                    :placeholder="$t('forms.courseData.placeholders.lessonQuantity')"
                    :hint="$t('forms.courseData.hints.lessonQuantity')"
                    :rules="lessonQuantityRules"
                    prepend-icon="fas fa-chalkboard"
                    type="number"
                    min="0"
                    step="1"
                ></v-text-field>
            </v-flex>
        </v-layout>
        <form-response :messageDisplay="messageDisplay" :message="message" :messageType="messageType"/>
        <form-errors-list :errorListDisplay="!!errors" :errors="errors"/>
        <v-layout row wrap justify-center>
            <form-button :loading="loading" :text="$t('forms.basic.buttons.save')" @click.native="saveData"/>
            <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="reset"/>
        </v-layout>
    </v-form>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import FormErrorsList from '@/components/form/FormErrorsList'
import FormResponse from '@/components/form/FormResponse'
import FormSubtitle from '@/components/form/FormSubtitle'
import CourseService from '@/services/CourseService'
import EduUnitService from '@/services/EduUnitService'
import {responses, clearResponseMessage, setResponseMessage} from '@/mixins/form'
import {courseDescription, courseTitle, lessonDays, lessonDuration, lessonQuantity, lessonPrice, lessonTime} from '@/mixins/rules'
import {days} from '@/mixins/calendar'
import {user} from '@/mixins/user'

export default {
  mixins: [
    courseDescription,
    courseTitle,
    lessonDays,
    lessonDuration,
    lessonQuantity,
    lessonPrice,
    lessonTime,
    days,
    responses,
    clearResponseMessage,
    setResponseMessage,
    user
  ],
  props: {
    item: Object
  },
  data () {
    return {
      formData: {
        title: '',
        description: '',
        lessonQuantity: 0,
        defaultDuration: 45,
        defaultPrice: '0.00',
        defaultDay: [],
        defaultTime: '0800',
        teacherId: null
      },
      loading: false,
      teacher: null,
      teachers: [],
      errors: null
    }
  },
  async created () {
    const {data} = await EduUnitService.fetchTeachers(this.item.EducationalUnit.id)
    this.teachers = [this.user, ...data.teachers]
    this.setData()
  },
  methods: {
    reset () {
      this.$refs.form.resetValidation()
      this.setData()
    },
    async saveData () {
      try {
        this.errors = null
        this.clearResponseMessage()
        if (this.$refs.form.validate()) {
          this.loading = true
          this.formData.defaultTime = `${this.formData.defaultTime.substring(0, 2)}:${this.formData.defaultTime.substring(2)}`
          this.formData.teacherId = this.teacher.id
          const {data} = await CourseService.updateCourse(this.item.id, this.formData)
          this.$emit('updateItemData', data.course)
          this.setResponseMessage(data.message, data.type)
          this.loading = false
        }
      } catch (error) {
        this.errors = error.response.data.error
        this.loading = false
      }
    },
    setData () {
      this.formData.title = this.item.title
      this.formData.description = this.item.description
      this.formData.defaultTime = `${this.item.defaultTime.substring(0, 2)}${this.item.defaultTime.substring(3)}`
      this.formData.defaultDay = this.item.defaultDay
      this.formData.defaultDuration = this.item.defaultDuration
      this.formData.defaultPrice = this.item.defaultPrice
      this.formData.lessonQuantity = this.item.lessonsQuantity
      this.teacher = this.teachers.find(teacher => teacher.id === this.item.teacherId)
    }
  },
  components: {
    FormButton,
    FormErrorsList,
    FormResponse,
    FormSubtitle
  }
}
</script>

<style scoped>

</style>
