<template>
    <div>
        <message-alert
            :messageDisplay="children.length === 0"
            :message="$t('messages.info.NoChildren')"
        />
        <div v-if="children.length > 0">
            <v-select
                class="select_item-width mx-auto"
                :height="58"
                label="-----"
                required
                :items="children"
                :default="children[0]"
                solo
                v-model="child"
            >
                <template slot="selection" slot-scope="data">
                    {{ `${data.item.firstName} ${data.item.lastName}` }}
                </template>
                <template slot="item" slot-scope="data">
                    {{ `${data.item.firstName} ${data.item.lastName}` }}
                </template>
            </v-select>
            <message-alert
                class="mb-3"
                :messageDisplay="messageDisplay"
                :message="message"
                :messageType="messageType"
            />
            <message-alert
                :messageDisplay="totalUnits === 0"
                :message="$t('messages.info.NoChildUnits')"
            />
            <div v-if="totalUnits > 0">
                <v-flex d-flex>
                    <v-layout justify-start row wrap>
                        <v-flex v-for="unit in paginatedUnits" :key="unit.id" xs12 lg4 py-3>
                            <card
                                v-if="unit"
                                :key="unit.id"
                                :item="unit"
                                :itemIcon="eduUnitItemIcon"
                                :itemHeader="setCardHeader(unit.name)"
                                :itemProperties="eduUnitItemProperties"
                            >
                                <visit-profile :id="unit.id" profileType="eduUnit"/>
                                <sign-out-child @changeItemStatus="changeChildStatus($event, unit.id, child.id)"/>
                            </card>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <pagination
                    v-if="totalUnits > rowsQuantity"
                    @setPage="setPage"
                    :paginationLength="paginationLength(rowsQuantity)"
                    :paginationPage="page"
                />
            </div>
        </div>
    </div>
</template>

<script>
import {setCardHeader} from '@/mixins/card'
import {paginationSetup} from '@/mixins/pagination'
import {responses, delayedClearResponseMessage, setResponseMessage} from '@/mixins/form'
import {fetchChildrenUnits} from '@/mixins/api'
import {children} from '@/mixins/children'
import {childrenUnits} from '@/mixins/eduUnits'
import {eduUnitItem} from '@/mixins/listItems'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const ActionSignOutChild = () => import('@/components/action/eduUnits/ActionSignOutChild')
const Card = () => import('@/components/card/Card')
const MessageAlert = () => import('@/components/message/MessageAlert')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    setCardHeader,
    paginationSetup,
    responses,
    delayedClearResponseMessage,
    setResponseMessage,
    fetchChildrenUnits,
    children,
    childrenUnits,
    eduUnitItem
  ],
  data () {
    return {
      child: null,
      paginatedUnits: []
    }
  },
  methods: {
    async changeChildStatus (status, unitId, childId) {
      try {
        const {message, type} = await this.changeStatus({unitId, childId, status})
        this.setResponseMessage(message, type)
        this.clearResponseMessage()
      } catch (error) {
        this.setResponseMessage(error, 'error')
        this.clearResponseMessage()
      }
    },
    setPage (page) {
      this.page = page
      this.paginatedUnits = this.pageUnits(page, this.rowsQuantity)
    }
  },
  watch: {
    async child () {
      await this.fetchUnits({childId: this.child.id})
    },
    units () {
      this.paginatedUnits = this.pageUnits(this.page, this.rowsQuantity)
    }
  },
  components: {
    VisitProfile: ActionVisitProfile,
    SignOutChild: ActionSignOutChild,
    Card,
    MessageAlert,
    Pagination
  }
}
</script>

<style scoped>

</style>
