<template>
    <v-flex d-flex>
        <v-layout column>
            <tab-wrapper :items="tabItems" :filter="filterTabItems">
                <manager-units :slot="tabItems[0].title"/>
                <teacher-units :slot="tabItems[1].title"/>
                <children-units :slot="tabItems[2].title"/>
                <my-units :slot="tabItems[3].title"/>
                <search-units :slot="tabItems[4].title"/>
            </tab-wrapper>
        </v-layout>
    </v-flex>
</template>

<script>
import TabWrapper from '@/components/tab/TabWrapper'
import {filterTabItems, roles} from '@/mixins/user'
const ChildrenUnits = () => import('@/views/eduUnits/ViewEduUnitsChildrenUnits')
const ManagerUnits = () => import('@/views/eduUnits/ViewEduUnitsManagerUnits')
const MyUnits = () => import('@/views/eduUnits/ViewEduUnitsMyUnits')
const TeacherUnits = () => import('@/views/eduUnits/ViewEduUnitsTeacherUnits')
const SearchUnits = () => import('@/views/eduUnits/ViewEduUnitsSearchUnits')

export default {
  mixins: [filterTabItems, roles],
  data () {
    return {
      tabItems: [
        {title: 'ManagerUnits', localePath: 'views.EducationalUnits.tabs[0].title', roleRightsLvl: 'manager'},
        {title: 'TeacherUnits', localePath: 'views.EducationalUnits.tabs[1].title', roleRightsLvl: 'teacher'},
        {title: 'ChildrenUnits', localePath: 'views.EducationalUnits.tabs[2].title', roleRightsLvl: 'parent'},
        {title: 'MyUnits', localePath: 'views.EducationalUnits.tabs[3].title', roleRightsLvl: 'all'},
        {title: 'SearchUnits', localePath: 'views.EducationalUnits.tabs[4].title', roleRightsLvl: 'all'}
      ]
    }
  },
  components: {
    ManagerUnits,
    TeacherUnits,
    ChildrenUnits,
    MyUnits,
    SearchUnits,
    TabWrapper
  }
}
</script>

<style scoped>

</style>
