<template>
    <div>
        <v-flex d-flex>
            <v-layout justify-start row wrap>
                <v-flex v-if="page === 1" class="new_item-dialog_btn--height align-center" d-flex xs12 lg4>
                    <div class="text-xs-center">
                        <unit-registration/>
                    </div>
                </v-flex>
                <v-flex v-for="unit in units" :key="unit.id" xs12 lg4 py-3>
                    <card
                        v-if="unit"
                        :key="unit.id"
                        :item="unit"
                        :itemIcon="eduUnitItemIcon"
                        :itemHeader="setCardHeader(unit.name)"
                        :itemProperties="eduUnitItemProperties"
                    >
                        <visit-profile :id="unit.id" profileType="eduUnit"/>
                        <add-teachers :itemId="unit.id"/>
                        <add-students :itemId="unit.id"/>
                    </card>
                </v-flex>
            </v-layout>
        </v-flex>
        <pagination
            v-if="totalUnits > 5"
            @setPage="setPage($event, rowsQuantity, fetchUnits)"
            :paginationLength="paginationLength(rowsQuantity)"
            :paginationPage="page"
        />
    </div>
</template>

<script>
import {setCardHeader} from '@/mixins/card'
import {paginationSetup, setPage} from '@/mixins/pagination'
import {fetchManagerUnits} from '@/mixins/api'
import {managerUnits} from '@/mixins/eduUnits'
import {eduUnitItem} from '@/mixins/listItems'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const ActionAddStudents = () => import('@/components/action/eduUnits/ActionAddStudents')
const ActionAddTeachers = () => import('@/components/action/eduUnits/ActionAddTeachers')
const ActionUnitRegistration = () => import('@/components/action/eduUnits/ActionUnitRegistration')
const Card = () => import('@/components/card/Card')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    setCardHeader,
    paginationSetup,
    setPage,
    fetchManagerUnits,
    managerUnits,
    eduUnitItem
  ],
  components: {
    VisitProfile: ActionVisitProfile,
    AddStudents: ActionAddStudents,
    AddTeachers: ActionAddTeachers,
    UnitRegistration: ActionUnitRegistration,
    Card,
    Pagination
  }
}
</script>

<style scoped>

</style>
