<template>
    <div>
        <v-expansion-panel class="filter-panel mx-auto mb-3">
            <v-expansion-panel-content>
                <div class="text-xs-center font-weight-bold text-uppercase title" slot="header">
                    {{ $t('views.EducationalUnits.tabs[0].headings.eduUnitFilterPanel') }}
                </div>
                <v-card>
                    <v-card-text class="px-2">
                        <v-form>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.eduUnitData.labels.name')"
                                        :placeholder="$t('forms.eduUnitData.labels.name')"
                                        solo
                                        v-model="formData.name"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.eduUnitData.labels.email')"
                                        :placeholder="$t('forms.eduUnitData.labels.email')"
                                        solo
                                        v-model="formData.email"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.eduUnitData.labels.city')"
                                        :placeholder="$t('forms.eduUnitData.labels.city')"
                                        solo
                                        v-model="formData.city"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-select
                                        :label="$t('forms.eduUnitData.labels.region')"
                                        :items="regions"
                                        solo
                                        v-model="formData.region"
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field
                                        :label="$t('forms.eduUnitData.labels.address')"
                                        :placeholder="$t('forms.eduUnitData.labels.address')"
                                        solo
                                        v-model="formData.address"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <p class="v-label body-1 mb-1" style="color: rgba(0,0,0,.54);">{{ $t('forms.eduUnitData.labels.unitType') }}</p>
                            <v-layout row>
                                <v-flex xs12 sm6>
                                    <div v-for="type in availableEduUnitTypes" :key="type.name">
                                        <v-checkbox
                                            class="mt-0"
                                            :label="type.name"
                                            v-model="unitTypes[type.value]"
                                        ></v-checkbox>
                                    </div>
                                </v-flex>
                            </v-layout>
                            <form-errors-list v-if="errors" :errors="errors"/>
                            <v-layout row wrap justify-center>
                                <form-button :loading="loading" :text="$t('views.EducationalUnits.buttons.searchUnits')" @click.native="setPage(1, rowsQuantity, fetch)"/>
                                <form-button :text="$t('forms.eduUnitData.buttons.reset')" @click.native="reset"/>
                            </v-layout>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-expansion-panel-content>
        </v-expansion-panel>
        <message-alert
            :messageDisplay="messageDisplay"
            :message="$t('messages.info.NoData')"
            messageType="info"
        />
        <div v-if="units.length > 0">
            <v-flex d-flex>
                <v-layout justify-space-around row wrap>
                    <v-flex v-for="unit in units" :key="unit.id" xs12 lg5 px-0 py-3>
                        <item
                            :item="unit"
                            :itemIcon="eduUnitItemIcon"
                            :itemProperties="eduUnitItemProperties"
                        >
                            <visit-profile :id="unit.id" profileType="eduUnit"/>
                            <sign-in-teacher v-if="roles.includes('teacher')" :itemId="unit.id"/>
                            <sign-in-student v-if="roles.includes('parent') || roles.includes('manager') || roles.includes('teacher')" :itemId="unit.id"/>
                            <sign-in-child v-if="roles.includes('parent')" :itemId="unit.id"/>
                        </item>
                    </v-flex>
                </v-layout>
            </v-flex>
            <pagination
                v-if="totalUnits > rowsQuantity"
                @setPage="setPage($event, rowsQuantity, fetch)"
                :paginationLength="paginationLength"
                :paginationPage="page"
            />
        </div>
    </div>
</template>

<script>
import FormButton from '@/components/form/FormButton'
import {reset} from '@/mixins/form'
import {paginationSetup, setPage} from '@/mixins/pagination'
import {lang} from '@/mixins/lang'
import {children} from '@/mixins/children'
import {fetchSearchUnits} from '@/mixins/api'
import {eduUnitTypes, searchUnits} from '@/mixins/eduUnits'
import {eduUnitItem} from '@/mixins/listItems'
import {roles, user} from '@/mixins/user'
import regions from '@/locale/regions/pl.json'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const ActionSignInChild = () => import('@/components/action/eduUnits/ActionSignInChild')
const ActionSignInStudent = () => import('@/components/action/eduUnits/ActionSignInStudent')
const ActionSignInTeacher = () => import('@/components/action/eduUnits/ActionSignInTeacher')
const FormErrorsList = () => import('@/components/form/FormErrorsList')
const ItemListItem = () => import('@/components/itemList/ItemListItem')
const MessageAlert = () => import('@/components/message/MessageAlert')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    reset,
    paginationSetup,
    setPage,
    lang,
    children,
    fetchSearchUnits,
    eduUnitTypes,
    searchUnits,
    eduUnitItem,
    roles,
    user
  ],
  data () {
    return {
      formData: {
        name: '',
        email: '',
        city: '',
        region: '',
        address: '',
        types: []
      },
      rowsQuantity: 10,
      errors: null,
      loading: false,
      messageDisplay: false
    }
  },
  computed: {
    paginationLength () {
      return Math.ceil(this.totalUnits / this.rowsQuantity)
    },
    regions () {
      return regions['pl']
    }
  },
  methods: {
    async fetch ({page, rows}) {
      try {
        this.loading = true
        this.errors = null
        this.messageDisplay = false
        this.setUnitType()
        await this.fetchUnits({page, rows, formData: this.formData})
        if (this.units.length === 0) {
          this.messageDisplay = true
        }
        this.loading = false
      } catch (error) {
        this.errors = error.response.data.error
        this.loading = false
      }
    }
  },
  components: {
    VisitProfile: ActionVisitProfile,
    SignInChild: ActionSignInChild,
    SignInStudent: ActionSignInStudent,
    SignInTeacher: ActionSignInTeacher,
    FormButton,
    FormErrorsList,
    Item: ItemListItem,
    MessageAlert,
    Pagination
  }
}
</script>

<style scoped>

</style>
