<template>
    <div>
        <message-alert
            class="mb-3"
            :messageDisplay="messageDisplay"
            :message="message"
            :messageType="messageType"
        />
        <message-alert
            :messageDisplay="totalUnits === 0"
            :message="$t('messages.info.NoTeacherUnits')"
        />
        <div v-if="totalUnits > 0">
            <v-flex d-flex>
                <v-layout justify-start row wrap>
                    <v-flex v-for="unit in paginatedUnits" :key="unit.id" xs12 lg4 py-4>
                        <card
                            :key="unit.id"
                            :item="unit"
                            :itemIcon="eduUnitItemIcon"
                            :itemHeader="setCardHeader(unit.name)"
                            :itemProperties="eduUnitItemProperties"
                        >
                            <visit-profile :id="unit.id" profileType="eduUnit"/>
                            <sign-out-teacher @changeItemStatus="changeTeacherStatus($event, unit.id)"/>
                        </card>
                    </v-flex>
                </v-layout>
            </v-flex>
            <pagination
                v-if="totalUnits > rowsQuantity"
                @setPage="setPage"
                :paginationPage="page"
                :itemsQuantity="totalUnits"
                :rowsQuantity="rowsQuantity"
            />
        </div>
    </div>
</template>

<script>
import {setCardHeader} from '@/mixins/card'
import {paginationSetup} from '@/mixins/pagination'
import {responses, delayedClearResponseMessage, setResponseMessage} from '@/mixins/form'
import {fetchTeacherUnits} from '@/mixins/api'
import {teacherUnits} from '@/mixins/eduUnits'
import {eduUnitItem} from '@/mixins/listItems'
const ActionVisitProfile = () => import('@/components/action/profile/ActionVisitProfile')
const ActionSignOutTeacher = () => import('@/components/action/eduUnits/ActionSignOutTeacher')
const Card = () => import('@/components/card/Card')
const MessageAlert = () => import('@/components/message/MessageAlert')
const Pagination = () => import('@/components/pagination/Pagination')

export default {
  mixins: [
    setCardHeader,
    paginationSetup,
    responses,
    delayedClearResponseMessage,
    setResponseMessage,
    fetchTeacherUnits,
    teacherUnits,
    eduUnitItem
  ],
  data () {
    return {
      paginatedUnits: []
    }
  },
  methods: {
    async changeTeacherStatus (status, unitId) {
      try {
        const {message, type} = await this.changeStatus({unitId, status})
        this.setResponseMessage(message, type)
        this.clearResponseMessage()
      } catch (error) {
        this.setResponseMessage(error, 'error')
        this.clearResponseMessage()
      }
    },
    setPage (page) {
      this.page = page
      this.paginatedUnits = this.pageUnits(page, this.rowsQuantity)
    }
  },
  watch: {
    units () {
      this.paginatedUnits = this.pageUnits(this.page, this.rowsQuantity)
    }
  },
  components: {
    VisitProfile: ActionVisitProfile,
    SignOutTeacher: ActionSignOutTeacher,
    Card,
    MessageAlert,
    Pagination
  }
}
</script>

<style scoped>

</style>
