<template>
    <li class="d-flex justify-start row mb-2">
        <div class="list_item_property-icon mr-3">
            <v-icon class="accent--text">{{ icon }}</v-icon>
        </div>
        <div class="list-item_property-data">
            <p class="body-2 text-overflow font-weight-bold ma-0">{{ formattedData }}</p>
        </div>
    </li>
</template>

<script>
export default {
  props: {
    icon: String,
    data: [String, Number],
    unity: String
  },
  computed: {
    formattedData () {
      if (this.unity && this.data !== '-----') {
        if (typeof this.data === 'string') {
          return `${this.data} ${this.unity}`
        } else {
          return this.data + ' ' + this.$tc(`unities.${this.unity}`, this.data)
        }
      } else {
        return this.data
      }
    }
  }
}
</script>

<style scoped>
    .list_item_property-icon {
        min-width: 24px;
        max-width: 24px;
    }
    .list-item_property-data {
        line-height: 24px;
    }
</style>
