<template>
    <v-card>
        <v-divider class="item_list-divider"></v-divider>
        <v-card-text class="px-2">
            <ul class="list mb-3">
                <item-property-data
                    v-for="property in properties.alphaProperties"
                    :key="property.title"
                    :icon="`fas fa-${property.icon}`"
                    :data="isPropertyNested(property)"
                    :unity="property.unity"
                />
                <item-property-data
                    v-for="property in properties.dateProperties"
                    :key="property.title"
                    :icon="`fas fa-${property.icon}`"
                    :data="formatDate(item[property.title])"
                />
            </ul>
            <v-divider v-if="!!$slots.default"></v-divider>
            <div v-if="!!$slots.default" class="mt-2">
                <slot></slot>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
import ItemListItemPropertyData from '@/components/itemList/ItemListItemPropertyData'
import {date} from '@/mixins/date'
import {dataProperties} from '@/mixins/user'

export default {
  mixins: [date, dataProperties],
  props: {
    item: Object,
    properties: Object
  },
  components: {
    ItemPropertyData: ItemListItemPropertyData
  }
}
</script>

<style scoped>

</style>
