<template>
    <v-flex>
        <v-layout row>
            <v-flex class="item_list-icon text-xs-center accent">
                <v-icon class="item_icon secondary--text">fas fa-{{ icon }}</v-icon>
            </v-flex>
            <v-flex class="item_list-header" px-2 pt-2>
                <h3 class="title text-overflow font-weight-bold">{{ title }}</h3>
                <span class="subheading text-overflow font-weight-thin">{{ subtitle.toUpperCase() }}</span>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
export default {
  props: {
    icon: String,
    title: String,
    subtitle: String
  }
}
</script>

<style scoped>
    .item_icon {
        position: relative;
        top: -4px;
        line-height: 67px;
        font-size: 34px;
    }
    .item_list-header {
        width: 200px;
    }
    .item_list-icon {
        min-width: 67px;
        max-width: 67px;
        height: 67px;
    }
</style>
