<template>
    <v-expansion-panel class="item_list-item mx-auto">
        <v-expansion-panel-content class="item_list-header">
            <item-header slot="header" :icon="itemIcon" :title="`${item.name || item.title || item.firstName + ' ' + item.lastName}`" :subtitle="item.city || item.Subject.name"/>
            <item-body :item="item" :properties="itemProperties">
                <slot></slot>
            </item-body>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
import ItemListItemHeader from '@/components/itemList/ItemListItemHeader'
import ItemListItemBody from '@/components/itemList/ItemListItemBody'

export default {
  props: {
    displayClasses: {
      type: String,
      default: 'px-0'
    },
    item: Object,
    itemIcon: String,
    itemProperties: Object
  },
  components: {
    ItemHeader: ItemListItemHeader,
    ItemBody: ItemListItemBody
  }
}
</script>

<style scoped>

</style>
